extends ../components/templates/base.pug


block prepend top 
  - pageTitle = "NICE 개인정보 수집 및 제공 동의";

block content
  +modal({
    title:"NICE 개인정보 수집 및 제공 동의",
    id:"fullLayer",
    type:"full",
    isDownBtn:true
  })
    .agreement
      +content_group(1)
        +title({
          text:"개인정보의 이용목적",
          lv:4,
        })
        p.txt 회사는 이용자의 소중한 개인정보를 다음과 같은 목적으로만 이용하며, 목적이 변경된 경우에는 사전에 이용자에게 알린 후 동의를 받습니다.

      +content_group(3)
        ul.dot
          li 이용자 식별, 가입의사 확인
          li 서비스 제공, 문의사항 또는 불만 처리, 공지사항 전달, 민원서비스 분석 및 개선
          li 유료 서비스 구매 및 이용 시 요금 정산
          li 서비스 이용기록과 접속빈도 분석, 홈페이지 접속이용 유지
          li 신규 서비스 출시 및 이벤트 행사 시 정보전달, 마케팅 및 광고, 서비스 이용에 대한 통계, 맞춤형 서비스 제공, 서비스 개선 등에 활용(선택 동의 시)

      +content_group(3)
        p 개인신용평가업무, 「신용정보의 이용 및 보호에 관한 법률」에 따른 개인신용평가업 영위를 위한 개인(신용)정보의 처리
        +text({
          type:'warning',
          text:"주민등록번호 또는 외국인등록번호는「신용정보의 이용 및 보호에 관한 법률」등 법령에 정한 목적으로만 활용됩니다."
        })

      +content_group(1)
        +title({
          text:"수집하는 개인정보",
          lv:4,
        })

      +content_group(3)
        p.indent <strong>가.</strong><strong>회사는 서비스 이용에 필요한 최소한의 개인정보를 수집하며, 이용자에게 해당 사실을 알리고 사전 동의를 받습니다. 회사가 이용자로부터 수집하는 개인정보는 아래와 같습니다.</strong>
        p.indent <span>1.</span><span>필수항목</span>
        +dataTable({
          caption:"수집하는 개인정보의 필수항목",
          colgroup:[40,60],
          headData:[
            [
              {text: "처리시점 및 목적",},
              {text: "처리항목",},
            ],
          ],
          bodyData:[
            [
              {text: "회원 가입<br>(회원 가입 목적)"},
              {text: "주민등록번호 또는 외국인등록번호, 생년월일, 성별, 내/외국인 구분<br>CI(연계정보), 아이디, 비밀번호, 이름, 이메일 주소, 휴대전화번호"}
            ],
          ]
        })

        p.indent <span>2.</span><span>선택 항목(해당 서비스 이용 시 필수적인 정보)</span>
        +dataTable({
          caption:"수집하는 개인정보의 선택항목(해당 서비스 이용 시 필수적인 정보)",
          colgroup:[40,60],
          headData:[
            [
              {text: "처리시점 및 목적",},
              {text: "처리항목",},
            ],
          ],
          bodyData:[
            [
              {text: "비회원 문의<br>(비회원 문의 응답 목적)"},
              {text: "이름, 이메일 주소"}
            ],
            [
              {text: "비회원 서비스 이용<br>(비회원 서비스 이용 목적)"},
              {text: "주민등록번호 또는 외국인등록번호, 이름, CI"}
            ],
            [
              {text: "우편 발송이 필요한 서비스<br>(우편 발송 목적)"},
              {text: "주소"}
            ],
            [
              {text: "이벤트 참여시<br>(경품 배송 목적)"},
              {text: "주소"}
            ],
          ]
        })
        p.txt 서비스 이용 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
        
        ul.dot
          li IP, 쿠키, 방문 일시, 서비스 이용기록, 브라우저정보, 부정이용방지용 PC정보(하드디스크 시리얼번호, CPU ID), 광고식별자*(GAID(안드로이드), IDFA(아이폰)), 기기정보(모바일OS, ICCID, IMSI, IMEI) 등 서비스 이용 과정에서 자동으로 생성되어 수집되는 정보
        +text({
          type:'warning',
          text:"주민등록번호 또는 외국인등록번호는「신용정보의 이용 및 보호에 관한 법률」등 법령에 정한 목적으로만 활용됩니다."
        })
      p.txt [스마트폰의 광고식별자 차단/허용]
      ul.dot
        li (안드로이드) ① 설정 → ② 개인정보보호 → ③ 광고 → ③ 광고 ID 재설정 또는 광고ID 삭제
        li (아이폰) ① 설정 → ② 개인정보보호 → ③ 추적 → ④ 앱이 추적을 요청하도록 허용 끔
      p.indent <strong>나.</strong><strong>회사는 이용자의 인권을 침해할 우려가 있는 민감한 정보(인종, 사상 및 신조, 정치적 성향이나 범죄기록, 의료정보 등)를 수집하지 않습니다. 단, 법령에서 민감 정보의 처리를 요구하거나 허용하는 경우에는 반드시 이용자에게 해당 사실을 알리고 사전 동의를 받습니다.</strong>
      p.indent <strong>다.</strong><strong>회사는 다음의 방법을 통해 개인정보를 수집합니다.</strong>
      ul.dot
        li 회원가입 및 서비스 이용 과정에서 이용자가 개인정보 수집에 대해 동의를 하고, 직접 정보를 입력하는 경우 해당 개인정보를 수집합니다.
        li 고객센터를 통해 상담 과정에서 웹페이지, 메일, 팩스, 전화 등을 통해 이용자의 개인정보가 수집될 수 있습니다.
        li 회사와 제휴한 외부 기업으로부터 개인정보를 제공받을 수 있으며, 이 경우 제휴사가 이용자에게 개인정보 제공 동의를 받은 후에 회사에 제공합니다.
        li 자동생성정보는 생성정보 수집 툴을 통해 수집합니다.
      p.indent <strong>라.</strong><strong>만 14세 미만의 아동은 서비스 이용 및 회원 가입이 불가합니다. 회사는 만 14세 미만 아동의 개인정보는 수집하지 않습니다.</strong>

      +content_group(1)
        +title({
          text:"개인정보의 처리 및 보유기간",
          lv:4,
        })
        p.indent <strong>가.</strong><strong>회사는 법령에 따른 개인정보 처리 및 보유 기간 또는 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 처리 및 보유기간 내에서 개인정보를 보유합니다.</strong>
        p [관련 법령에 따른 개인정보의 보존]
        +dataTable({
          caption:"관련 법령에 따른 개인정보의 보존",
          colgroup:[30,60,10],
          headData:[
            [
              {text: "개인정보",},
              {text: "보존근거",},
              {text: "보존기간",},
            ],
          ],
          bodyData:[
            [
              {text: "서비스 이용 관련 기록<br>(접속IP정보, 접속기기정보)"},
              {text: "통신비밀보호법 제15조의2<br>같은 법 시행령 제41조 제2항 제2호"},
              {text: "3개월"},
            ],
            [
              {text: "표시/광고에 관한 기록"},
              {text: "전자상거래 등에서의 소비자보호에 관한 법률 제6조<br>같은 법 시행령 제6조 제1항 제1호"},
              {text: "6개월"},
            ],
            [
              {text: "계약 또는 청약철회 등에 관한 기록"},
              {text: "전자상거래 등에서의 소비자보호에 관한 법률 제6조 제3항<br>같은 법 시행령 제6조 제1항 제2호"},
              {text: "5년"},
            ],
            [
              {text: "대금결제 및 재화 등의 공급에 관한 기록"},
              {text: "전자상거래 등에서의 소비자보호에 관한 법률 제6조 제3항<br>같은 법 시행령 제6조 제1항 제3호"},
              {text: "5년"},
            ],
            [
              {text: "소비자의 불만 또는 분쟁처리에 관한 기록"},
              {text: "전자상거래 등에서의 소비자보호에 관한 법률 제6조 제3항<br>같은 법 시행령 제6조 제1항 제4호"},
              {text: "3년"},
            ],
            [
              {text: "전자금융 거래에 관한 기록"},
              {text: "전자금융거래법 제22조<br>같은 법 시행령 제12조 제2항"},
              {text: "5년"},
            ],
            [
              {text: "본인신용정보 열람 기록"},
              {text: "신용정보의 이용 및 보호에 관한 법률<br>제20조"},
              {text: "3년"},
            ],
          ]
        })
        p.indent <strong>나.</strong><strong>회사는 민원처리를 위하여 내부지침이 정한 바에 따라 이용자가 회원 탈퇴한 이후 1년간 CI/DI, 성명, 생년월일, 내/외국인구분, 성별, 연락처 정보를 보관합니다.</strong>
        p.indent <strong>다.</strong><strong>회사는 「개인정보 보호법」 제39조의6에 따라 1년간 서비스를 이용하지 않은 회원을 탈퇴 회원으로 분류하고 탈퇴회원의 개인정보를 파기하고 있습니다. 다만, 회사는 다른 법령에서 정한 보존기간이 경과할 때까지 다른 이용자의 개인정보와 분리하여 별도로 저장 또는 관리할 수 있습니다.</strong>
        p.indent <strong>라.</strong><strong>회사는 개인정보의 파기 30일 전까지 개인정보가 파기되는 사실, 기간 만료일 및 파기되는 개인정보의 항목을 이메일, 문자 등 이용자에게 가능한 방법으로 알리고 있습니다.</strong>

    +button_bottom_fixed()
      +button({
        label:"동의",
        size:"large",
        type:"primary",
      })
      
  script.
    GCui.modal('#fullLayer').show()