extends ../components/templates/base.pug

block content
  +button({
    label:"셀렉트 리스트 아이콘 기본",
    muiToggle:'target:#modal_bottom;'
  })
  br
  br
  +button({
    label:"셀렉트 리스트 아이콘 텝",
    muiToggle:'target:#modal_bottom2;'
  })

  +modal({
    title:"리스트 제목",
    id:"modal_bottom",
    type:"bottom"
  })
    +select_list({
      type:"account_img"
    })
  +modal({
    title:"리스트 제목",
    id:"modal_bottom2",
    type:"bottom"
  })

    +tabsWrap()
      +tab("메뉴명")
        +select_list({
          type:"account_img"
        })
      +tab("메뉴명")
        +select_list({
          type:"account_img"
        })
      +tab("메뉴명")
        +select_list({
          type:"account_img"
        })