extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(당/타행)"

block content
  +title({
    text:"언제부터<br>언제까지 보낼까요?",
    lv:2,
  })
  +form()
    +form_body({title:"매월자동이체일자"})
      +button_select({
        label:"26일"
      })
      +radioCheck({
        name:'chk073306',
        label:"매월 말일이체"
      })
    +form_body({title:"이체시작일", tooltip:"이체가 시작되는 일자는 오늘 이후 영업일 기준 5일 이후부터 가능합니다."})
      +datepicker()
    +form_body({title:"이체종료일"})
      +datepicker()
    +form_body({title:"이체종료일", message:{type:"error", text:"자동이체 시작일과 종료일은 같을 수 없습니다."}})
      +datepicker()
  +collapse({
    className:"guide_text",
    isOpen:false,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"자동이체 등록일 다음날부터 이체처리가 진행되며, 이체 지정일이 휴일인 경우 다음 영업일에 이체처리가 됩니다.",
          },
          {
            text:"이체 시작일은 타행 계좌 입금 기준일이며, 당행계좌에서는 당일(09:30, 15:30)에 출금됩니다.(타행자동이체)",
          }
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })