extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webads"
  - pageTitle = "추가인증서비스 조회/해지"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"추가인증서비스<br>해지가 완료되었습니다.",
      img:"/src/images/ico_finish.svg",
    })
  
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })