extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(CMS)"

block content
  +title({
    text:"자동이체 약관에 <br>동의해주세요",
    lv:2,
  })
  +agree_check({
    text:"모두 동의합니다",
  })
    +agree_check({
      text:"[필수] 개인정보 수집 및 이용 동의",
    })
    +agree_check({
      text:"[필수] 개인정보 제3자 제공 동의",
    })
    +agree_check({
      text:"[필수] 출금이체 동의여부 및 해지사실 통지 안내",
    })

  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
