extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(CMS) 등록"

block content
  +title({
    text:"언제부터<br>언제까지 보낼까요?",
    lv:2,
  })
  +form()
    +form_body({title:"매월자동이체일자"})
      +button_select({
        label:"26일"
      })
      +radioCheck({
        name:'chk073306',
        className:"label13",
        label:"매월 말일이체"
      })
    +form_body({title:"이체시작일", tooltip:"이체가 시작되는 일자는 오늘 이후 영업일 기준 5일 이후부터 가능합니다."})
      +datepicker()
    +form_body({title:"이체시작월"})
      +datepicker()
    +form_body({title:"이체종료월", message:{type:"error", text:"자동이체 시작일과 종료일은 같을 수 없습니다."}})
      +datepicker()
  +collapse({
    className:"guide_text",
    isOpen:false,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {text:"매월 이체설정된 일자에 전영업일 06시부터 당행계좌에서 출금처리되며, 이체일자에 순차적으로 타은행 계좌에 입금처리 됩니다. 당일출금 및 입금확인을 원하시면 자동이체(당/타행)에서 신청하시기 바랍니다.",},
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
