extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(당/타행)"

block content
  +content_group(0)
    +title({
      text:"어디로 보낼까요?",
      lv:2,
    })
    +form()
      +form_body()
        +button_select({
          placeholder:"당행",
          label:"저축"
        })
        +input({
          placeholder:"계좌번호 입력",
        })
        +button_custom({
          type:"timeselect-24",
          label:"최근ㆍ자주ㆍ내계좌"
        })
  +content_group(0)
    +collapse({
      isOpen:true
    })
      +header()
        p.acc_title [선택] 추가정보
      +content()
        .acc_data
          +form()
            +form_body({title:"받는 계좌에 표시"})
              +input({
                value:"김중앙(저축은행)",
                maxlength:10,
              })
            +form_body({title:"내 계좌에 표시 "})
              +input({
                placeholder:"10자 이내 입력",
                maxlength:10,
              })
              
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        
        lists:[
          {
            text:"저축은행내 자동이체 업무에는 보통예금 ->보통예금/적금/대출계좌, 정기예금이자->보통예금로 지정이 가능합니다.",
          },
          {
            text:"타행 자동이체 업무는 타행의 입출금식 예금 및 이체 가능한 적립식 계좌로 지정이 가능합니다.",
          },
          {
            text:"입금계좌 해지 후 출금계좌가 활동상태이면 자동이체기간 동안은 계속 출금계좌에서 출금되오니, 입금계좌 해지시 자동이체도 해지하여 불이익이 없으시기를 바랍니다.",
          },
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })