extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(당/타행)"

block content
  .main_list 
    a.list(href="") 
      span.img 
      span.text 자동이체(당/타행) 등록
    a.list(href="") 
      span.img 
      span.text 등록조회/변경/해지
    