extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체결과조회"

block content

  +content_group(0)
    
    +form()
      +form_body({title:"출금계좌번호"})
        +button_select({
          placeholder:"조회가능한 계좌가 없습니다.",
          label:"012-34-56-7890123"
        })


  +content_group(0)
    +data_sort({
      total:"0",
      date:"2023.03.13~2023.03.13",
      isBtn:true
    })
    +card({
      isLinked:true,
      tag : {
        label:"정상",
      },
      data: [
          {
            title:"입금계좌",
            text:"중앙저축은행<br>125-45-67-8910112",
          },
          {
            title:"이체금액",
            text:"10,000원",
          },
          {
            title:"이체기간",
            text:"2023.03.01 ~ 2023.05.01",
          },
          {
            title:"이체일",
            text:"7일",
          },
          
        ]
      })
    +card({
      isLinked:true,
      tag : {
        label:"잔액부족",
        status:"error"
      },
      data: [
          {
            title:"입금계좌",
            text:"중앙저축은행<br>125-45-67-8910112",
          },
          {
            title:"이체금액",
            text:"10,000원",
          },
          {
            title:"이체기간",
            text:"2023.03.01 ~ 2023.05.01",
          },
          {
            title:"이체일",
            text:"7일",
          },
          
        ]
      })
    +button_more()
    +result({
      type:'null',
      mainText:"조회된 내역이 없습니다.",
      img:"/src/images/ico_search_empty.svg",
    })