extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(당/타행)"

block content
  +title({
    text:"자동이체 약관에<br>동의해주세요",
    lv:2,
  })
  +agree_check({
    text:"[필수] 계좌간자동이체약관"
  })
  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
