extends ../components/templates/base.pug




block content
  +button({
    label:"계좌선택",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    title:"계좌선택",
    id:"modal_bottom",
    type:"bottom"
  })
    +result({
      dataType:"line",
      data:[
        {
          title:"계좌번호",
          text:"0012-34-56-7891011",
        },
        {
          title:"은행명",
          text:"저축은행",
        },
        {
          title:"예금주명",
          text:"김저축",
        },
      ]
    })
    +button_wrap()
      +button({
        label:"확인",
        size:"large",
      })