extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(CMS)"

block content
  +content_group(0)
    
    +result({
      type:'result',
      mainText:"자동이체 신청이<br>완료되었습니다.",
      img:"/src/images/ico_example2.png",
    })
  +content_group(0)
    +result({
      dataType:"line",
      data:[
        {
          title:"출금계좌",
          text:"중앙저축은행<br>000-000-0000000",
        },
        {
          title:"입금계좌",
          text:"중앙저축은행<br>000-000-0000000",
        },
        {
          title:"내용입력",
          text:"내용입력",
        },
        {
          title:"내용입력",
          text:"내용입력",
        },
        {
          title:"내용입력",
          text:"내용입력",
        },
      ]
    })
    +text({
      type:'warning',
      text:"처리완료 후 결과조회 및 등록조회에서 확인이 가능합니다."
    })
  +content_group(1)
    .al_center
      +button_custom({
        type:"round-40",
        label:"추가신청하기"
      })
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default",
    })
    +button({
      label:"다음",
      size:"large",
    })
