extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(당/타행)"

block content
  .main_list 
    +card_ico_list({
      src:"/src/images/ico_example2.png",
      text:"자동이체(당/타행) 등록"
    })
    +card_ico_list({
      src:"/src/images/ico_example2.png",
      text:"등록조회/변경/해지"
    })
    