extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체등록조회"

block content

  +content_group(0)
    
    +form()
      +form_body({title:"출금계좌번호"})
        +button_select({
          placeholder:"조회가능한 계좌가 없습니다.",
          label:"012-34-56-7890123"
        })


  +content_group(0)
    +radioCheck({
      name:'btnType',
      type:"radio",
      className:'button_type type1',
      lists:[
        {label:'당행', checked:true},
        {label:'타행'},
        {label:'납부자'},
      ]
    })
    +data_sort({
      total:"1",
      date:"2023.03.13 17:07:07"
    })
    +card({
      isLinked:true,
      tag : {
        label:"정상"
      },
      data: [
          {
            title:"입금계좌",
            text:"중앙저축은행<br>125-45-67-8910112",
          },
          {
            title:"이체금액",
            text:"10,000원",
          },
          {
            title:"이체기간",
            text:"2023.03.01 ~ 2023.05.01",
          },
          {
            title:"이체일",
            text:"7일",
          },
          
        ]
      })
    +card({
      isLinked:true,
      tag : {
        label:"해지",
        status:"disabled"
      },
      data: [
          {
            title:"입금계좌",
            text:"중앙저축은행<br>125-45-67-8910112",
          },
          {
            title:"이체금액",
            text:"10,000원",
          },
          {
            title:"이체기간",
            text:"2023.03.01 ~ 2023.05.01",
          },
          {
            title:"이체일",
            text:"7일",
          },
          
        ]
      })
    +button_more()
    +result({
      type:'null',
      mainText:"검색결과가 없습니다.",
      img:"/src/images/ico_search_empty.svg",
    })
    
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      
      +textLists({
        type:'guide',
        lists:[
          {text:"납부자 자동이체일 경우 이체지정일 전 영업일에 출금되며 타행 자동이체일 경우 이체지정일 당일에 출금됩니다.",},
          {
            text:"타행계좌로 자동이체시 주의 안내",
            subLists:{
              type:'circle_num',
              lists:[
                {
                  text:"자동이체 정상처리 여부를 직접 확인해 주시기 바랍니다."
                },
                {
                  text:"타행계좌로의 입금 불능시 지정이체일 +1 영업일에 출금계좌로 반환입금됩니다.",
                },
                {
                  text:"출금계좌 거래내역 조회로 입금 불능(출금계좌반환입금) 여부를 확인하시길 바랍니다.<br>(저축은행은 입금 불능에 따른 별도의 고객 통지를 하지 않습니다.)"
                },
              ]
            }
          },
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
