extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webads"
  - pageTitle = "추가인증서비스"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"추가인증서비스가입 신청이<br>완료되었습니다.",
      img:"/src/images/ico_example2.png",
    })
  
  +content_group(0)
    +result({
      dataType:"line",
      data:[
        {
          title:"신청일자",
          text:"2023.01.02",
        },
        {
          title:"서비스 신청은행",
          text:"한국저축은행",
        },
      ]
    })
    hr
    +title({
      text:"전화승인(ARS) 서비스",
      lv:4,
    })
    +textLists({
      type:'dot',
      lists:[
        {
          text:"추가인증서비스는 이체업무 및 금융인증업무등의 서비스에서 사용됩니다.",
        },
        {
          text:"인증/보안 > 추가인증서비스 > 서비스조회/해지를 통해 서비스해지가 가능합니다.",
        },
      ]
    })
        
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })