extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "자동이체(CMS) 등록"

block content
  +title({
    text:"자동이체를 <br>신청하시겠어요?",
    lv:2,
  })
  +result({
    dataType:"line",
    data:[
      {
        title:"출금계좌",
        text:"중앙저축은행<br>01234567890123",
      },
      {
        title:"입금계좌",
        text:"중앙저축은행<br>12345678910112",
      },
      {
        title:"이체금액",
        text:"10,000원",
      },
      {
        title:"이체기간",
        text:"2023.03 ~ 2023.04",
      },
      {
        title:"이체일",
        text:"말일",
      },
    ]
  })
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default",
    })
    +button({
      label:"다음",
      size:"large",
    })
