extends ../components/templates/base.pug

block content
  +button({
    label:"본인인증 선택",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"본인인증 선택",
    id:"fullLayer",
    type:"full"
  })
    +tabsLink({
      list:[		
        {name:"토스인증"},
        {name:"휴대폰 본인인증", active:true},
      ],
      className:"custom_tab"
    })
      +content_group(1)
        +form()
          +form_body({title:"이름"})
            +input({
              placeholder:"이름 입력"
            })
          +form_body({title:"주민등록번호"})
            +input_idnumber()
          +form_body({title:"휴대폰번호"})
            +input_phone()
      +content_group(1)
        +agree_check({
          text:"전체 동의"
        })
          +agree_check({
            text:"[필수] 개인정보 수집/이용동의"
          })
          +agree_check({
            text:"[필수] 통신사 이용약관 동의"
          })
          +agree_check({
            text:"[필수] 고유식별번호 처리 관련 동의"
          })
          +agree_check({
            text:"[필수] 본인확인이용 동의"
          })
          +agree_check({
            text:"[필수] 개인정보 제3자 제공동의(고객사)"
          })
          +agree_check({
            text:"[필수] 개인정보 제3자 제공 동의(KCB)"
          })
          +agree_check({
            text:"[필수] 개인정보 제3자 제공 동의(이동통신사)"
          })
          +agree_check({
            text:"[필수] 서비스 약관동의"
          })
      +content_group(1)
        +button({
          label:"인증번호 전송",
          size:"medium",
          type:"white"
        })
      +form_body({title:""})
      +content_group(1)
        +form()
          +form_body({title:"인증번호"})
            +input_certificate({
              placeholder:"인증번호 입력"
            })
            

      +button_bottom_fixed()
        +button({
          label:"다음",
          size:"large",
        })