extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcer"
  - pageTitle = "제증명 신청/발급"

block content
  +title({
    text:'예금잔액증명서(한글) 발급',
    lv:4,
  })
  +content_group(2)
    +form()
      +form_body({title:"발급기준일"})
        +form_value({
          value:"2023.04.04"
        })
      +form_body({title:"발급목적"})
        +button_select({
          placeholder:"선택"
        })
      +form_body({title:"발급수수료"})
        +form_value({
          value:"1,000원"
        })
      +form_body({title:"수수료 출금계좌번호"})
        +button_select({
          placeholder:"계좌번호 선택"
        })
        .txt_etc 잔액
          span 100,000원
      +form_body({title:"출금계좌비밀번호", message:{type:"error", text:"비밀번호는 4자리로 입력해 주세요."}})
        +input({
          type:'password',
          placeholder:"숫자 4자리"
        })
      +form_body({title:"이메일주소", message:{type:"error", text:"이메일주소 형식이 올바르지 않습니다."}})
        +input({
          placeholder:"이메일주소 입력"
        })
    +collapse({
      className:"guide_text",
      isOpen:false,
    })
      +header()
        p.title 알아두세요
      +content()
        +textLists({
          type:'guide',
          lists:[
            {
              text:"출력은 인터넷뱅킹을 이용해서 가능합니다."
            },
            {
              text:"고객님의 예금 등에 대해서 발급기준일자의 최종잔액을 증명할 수 있습니다."
            },
            {
              text:"발급기준일 당일은 자동이체를 포함한 입/출금 거래가 제한되오며, 계좌를 담보로 한 대출도 불가능하오니 참고하여 주시기 바랍니다."
            },
            {
              text:"증명서 재발급 및 취소가 불가하오니 참고하여 주시기 바랍니다."
            },
            {
              text:"아래와 같은 경우에는 가까운 영업점 방문 후 발급하시기 바랍니다.<br>- 제3자에게 양도거래한 예금, 수익자를 타인으로 지정한 타인 신탁상품, PC환경 등 기타사유로 발급이 불가한 경우"
            },
          ]
        })
    
    +button_bottom_fixed()
      +button({
        label:"신청하기",
        size:"large",
      })