extends ../components/templates/base.pug
block prepend top 
  - mainClassName=""
  - pageTitle = "약관동의"

block content
  .common_agreement
    +agree_check({
      text:"금융상품 중요사항 안내",
    })
    +agree_check({
      text:"상품설명서",
    })
    +agree_check({
      text:"전체 동의",
    })
      +agree_check({
        text:"[필수] 상세 약관 타이틀",
      })
      +agree_check({
        text:"[필수] 상세 약관 타이틀",
      })
      +agree_check({
        text:"[필수] 상세 약관 타이틀",
      })
      +agree_check({
        text:"[필수] 상세 약관 타이틀",
      })
    +text({
      type:'warning',
      text:"상품가입 진행을 위해서 동의가 필요해요"
    })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })