extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcer"
  - pageTitle = "제증명 신청/발급"

block content
  +title({
    text:'부채잔액증명서 발급',
    lv:4,
  })
  +content_group(2)
    +form()
      +form_body({title:"발급기준일"})
        +form_value({
          value:"2023.04.04"
        })
      +form_body({title:"발급목적"})
        +button_select({
          placeholder:"선택"
        })
      +form_body({title:"발급수수료"})
        +form_value({
          value:"1,000원"
        })
      +form_body({title:"수수료 출금계좌번호"})
        +button_select({
          placeholder:"계좌번호 선택"
        })
        .txt_etc 잔액
          span 100,000원
      +form_body({title:"출금계좌비밀번호", message:{type:"error", text:"비밀번호는 4자리로 입력해 주세요."}})
        +input({
          type:'password',
          placeholder:"숫자 4자리"
        })
      +form_body({title:"이메일주소", message:{type:"error", text:"이메일주소 형식이 올바르지 않습니다."}})
        +input({
          placeholder:"이메일주소 입력"
        })
    +collapse({
      className:"guide_text",
      isOpen:false,
    })
      +header()
        p.title 알아두세요
      +content()
        +textLists({
          type:'guide',
          lists:[
            {
              text:"거래가능시간 : 은행영업일(평일) 08:00 ~ 22:00"
            },
            {
              text:"본 서비스는 저축은행 거래고객을 대상으로 제공하고 있습니다."
            },
            {
              text:"부채잔액증명서에는 이자잔액은 표시되지 않습니다."
            },
            {
              text:"특수채권내역은 인터넷뱅킹에서 조회되지 않으므로 영업점을 방문하여 발급하여 주시기 바랍니다."
            },
            {
              text:"아래와 같은 사유는 인터넷뱅킹으로 증명서 발급이 불가합니다. 가까운 영업점을 방문 후 발급하시기 바랍니다.<br>- 개인회생, 파산, 기업회생 등의 용도로 발급을 원하는 경우 영업점을 방문하여 주시기 바랍니다."
            },
          ]
        })
    
    +button_bottom_fixed()
      +button({
        label:"신청하기",
        size:"large",
      })