extends ../components/templates/base.pug

block content
  +button({
    label:"약관 상세 팝업",
    muiToggle:'target:#fullLayer;'
  })
  +modal({ 
    title:"약관 타이틀",
    id:"fullLayer",
    type:"full"
  })
    .agreefull_pop 
      .btn_pdf
        +button_custom({
          type:"download-32",
          label:"PDF"
        })
      .pdf_content
        .paging_wrap
          .paging
            span <span>1</span> / <span>30</span>
          .btn_wrap
            button.btn_prev 이전
            button.btn_next 다음
        <!-- 약관(교체영역) -->
        div 약관내용약관내용약관내용약관내용약관내용
        <!-- //약관(교체영역) -->
    +button_bottom_fixed()
      +button({
        label:"전체동의",
        size:"large",
      })

  script.
    GCui.modal('#fullLayer').show()