extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcus"
  - pageTitle = "자주쓰는 계좌관리"

block content
  +content_group(1)
    .fav_card_list
      .fav_card
        button.close_btn 
          span.hidden 삭제  
        .bank_info
          .img_wrap
            img(src="/src/images/icon_bank.png", alt="은행명")
          .account_info
            p 은행명
              span 123456-1234-12345
        p.nickname 김저축(별명열자리별명열자리)
          button.btn_modify 수정하기
      .fav_card
        button.close_btn 
          span.hidden 삭제  
        .bank_info
          .img_wrap
            img(src="/src/images/icon_bank.png", alt="은행명")
          .account_info
            p 은행명
              span 123456-1234-12345
        p.nickname 김저축(별명열자리별명열자리)
          button.btn_modify 수정하기

  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"자주쓰는계좌를 등록하시면 이체시 편리하게 이용하실 수 있습니다.",
          },
          {
            text:"등록/수정/삭제로 자주쓰는 계좌를 관리하실 수 있습니다."
          },
        ]
      })
        
  +button_bottom_fixed()
    +button({
      label:"등록하기",
      size:"large",
    })
