extends ../components/templates/base.pug

block content
  +button({
    label:"신분증 촬영",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"신분증 촬영",
    id:"fullLayer",
    type:"full"
  })
      .photo_capture
        +content_group(1)
          .photo_img_result
            img(src="/src/images/img_idcard.png", alt="신분증 이미지")
        +content_group(1)
          +form()
            +form_body({title:"이름"})
              +input({
                value:"김저축",
              })
            +form_body({title:"주민등록번호"})
              +input({
                value:"123456-7890123",
              })
            +form_body({title:"발급일자"})
              +input({
                value:"2010.10.31",
              })
            +form_body({title:"면허번호"})
              +input_drivingnumber({data:[{value:"12"}, {value:"34"}, {value:"123456"}, {value:"78"}]})
            +form_body({title:"일련번호"})
              +input({
                value:"20A1234",
              })
              +text({
                type:'warning',
                text:"인식된 신분증 정보를 확인해주세요.<br>실제와 다른경우 이용이 제한될 수 있습니다."
              })
      +button_bottom_fixed()
        +button({
          label:"다시촬영",
          size:"large",
          type:"default",
        })
        +button({
          label:"전송",
          size:"large",
        })