extends ../components/templates/base.pug

block content
  +button({
    label:"타행본인계좌인증",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"타행본인계좌인증",
    id:"fullLayer",
    type:"full"
  })
    .acc_confirm
      .title 
        | 신한은행 110123456789로
        br
        | 저축은행에서 1원을 보내드렸어요.
      .sub_title 입금자명에 표기된 입금인명 4자리를 입력해주세요.
      .code 
        span.tt SB
        span.mask
          span
        span.mask
          span
        span.write 
          input(type="password", maxlength="1")
        span.write 
          input(type="password", maxlength="1")
      +collapse({
        className:"guide_text",
        isOpen:true,
      })
        +header()
         p.title 알아두세요
        +content()
          +textLists({
            type:'dot',
            lists:[
              {
                text:"입금은행 계좌 거래내역에서 입금한 1원의 입금인명 뒤 4자리를 확인 후 입력해주세요.",
              },
              {
                text:"입금 받은 후 15분 이내 인증번호를 입력해주세요.",
              }
            ]
          })
      +button_bottom_fixed()
        +button({
          label:"확인",
          size:"large",
        })
  script.
    GCui.modal('#fullLayer').show()