extends ../components/templates/base.pug

block content
  +button({
    label:"출금계좌선택",
    muiToggle:'target:#modal_bottom;'
  })
  +modal({
    title:"출금계좌선택",
    id:"modal_bottom",
    type:"bottom"
  })
    +select_list({
      type:"account"
    })
  script.
    GCui.modal('#modal_bottom').show()