extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcer"
  - pageTitle = "최초뱅킹비밀번호 등록"

block content
  +result({
    type:'result',
    mainText:"비밀번호 등록이<br>완료되었습니다.",
    subText:"로그인 후 뱅킹 서비스를<br>이용해주시기 바랍니다.",
    img:"/src/images/ico_example2.png",
  })
  
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
  
