extends ../components/templates/base.pug

block content
  +button({
    label:"모바일 OTP",
    muiToggle:'target:#fullLayer;'
  })
  +modal({ 
    title:"모바일 OTP",
    id:"fullLayer",
    type:"full"
  })
    .ars_mobile
      .top
        .img 
          img(src="/src/images/ico_mobileotp.png", alt="")
        .text 모바일 OTP 인증
      .smart_conf 
        p!="모바일 OTP 인증을 SB톡톡 앱에서 진행합니다."
        p!="모바일 OTP 인증 버튼을 누르시고,<br>SB톡톡앱을 확인해 주세요."
        a(href="").btn_link  모바일 OTP 인증


