extends ../components/templates/base.pug

block content
  +button({
    label:"적합성/적정성 확인서",
    muiToggle:'target:#fullLayer;'
  })
  +modal({ 
    title:"적합성/적정성 확인서",
    id:"fullLayer",
    type:"full"
  })
    .suitability_step
      +form()
        +form_body({title:"연령"})
          +button_select({
            placeholder:"연령 선택",
            label:""
          })
        +form_body({title:"대출계약 체결 목적"})
          +button_select({
            placeholder:"대출계약 체결 목적 선택",
            label:"기타"
          })
          +input({
            placeholder:"직접입력"
          })
        +form_body({title:"연간 소득"})
          +button_select({
            placeholder:"연간 소득 선택",
            label:"해당없음"
          })
          +input({
            placeholder:"직접입력"
          })
        +form_body({title:"총 자산규모(순자산)"})
          +button_select({
            placeholder:"총 자산규모 선택",
            label:""
          })
        +form_body({title:"총 부채"})
          +button_select({
            placeholder:"총 부채 선택",
            label:""
          })
        +form_body({title:"신용점수"})
          +button_select({
            placeholder:"신용점수 선택",
            label:""
          })
        +form_body({title:"대출금 변제방법"})
          +button_select({
            placeholder:"대출금 변제방법 선택",
            label:"기타"
          })
          +input({
            placeholder:"직접입력"
          })
        +form_body({title:"고정지출비용"})
          +button_select({
            placeholder:"고정지출비용 선택",
            label:""
          })
    
      //- .box 
      //-   .img 
      //-     img(src="/src/images/ico_suitability.png", alt="")
      //-   p.type2!="본인은 상기와 같이 제공한 정보의 내용이 정확한 것임을 확인합니다."
      //- +text({
      //-   type:'warning',
      //-   text:"본인이 귀행에 제공한 적합성·적정성 관련 정보는 본인의 재산상황, 용도 등의 정보를 정확히 알려드린 것입니다."
      //- })
      //- .confirm 
      //-   p.txt1 2021년 07월 01일
      //-   p.txt2 대출계약자 성명 : 홍길동
      +button_bottom_fixed()
        +button({
          label:"다음",
          size:"large",
        })
    


  script.
    GCui.modal('#fullLayer').show()