extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcer"
  - pageTitle = "제증명 신청/발급"

block content
  +title({
    text:'금융거래확인서',
    lv:4,
  })

  +content_group(2)
    +form()
      +form_body({title:"이름"})
        +form_value({
          value:"방수현"
        })
      +form_body({title:"발급기준일", message:{type:"error", text:"발급기준일은 현재일자 또는 이전 날짜만 가능합니다."}})
        +datepicker()
    .info_wrap
      +text({
        type:'warning',
        text:"발급기준일자를 현재일자로 등록하는 경우 발급처리 후 상환처리가 불가능합니다."
      })

    +button_bottom_fixed()
      +button({
        label:"다음",
        size:"large",
      })