extends ../components/templates/base.pug

block content
  +button({
    label:"금융소득종합과세 상세정보",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"금융소득종합과세 상세정보",
    id:"fullLayer",
    type:"full"
  })
    .webcer
      +content_group(0)
        +title({
          text:"소득자 인적사항",
          lv:4,
        })
        +result({
          dataType:"line",
          data:[
            {
              title:"고객명",
              text:"김저축",
            },
            {
              title:"주민등록번호",
              text:"900000-1******",
            },

            {
              title:"주소",
              text:"서울 마포구",
            },
          ]
        })
      +content_group(0)
        +title({
          text:"계좌별 소득 발생명세",
          lv:4,
        })
        p.sub_txt_date 소득귀속기간 : 2018.01.01 ~ 2018.06.01
        p.num_title!="일련번호 <em>1</em>"
        +result({
          dataType:"line",
          data:[
            {
              title:"소득종류",
              text:"이자(배당)",
            },
            {
              title:"소득 지급점",
              text:"14.00",
            },
            {
              title:"사업자 등록번호",
              text:"473-682-47985",
            },
            {
              title:"계좌번호",
              text:"123-456-78901",
            },
            {
              title:"소득금액(세전)",
              text:"8,000원",
            },
            {
              title:"원천징수액",
            },
            {
              title:"소득세",
              text:"1,000원",
            },
            {
              title:"주민세",
              text:"1,000원",
            },
            {
              title:"농어촌특별세",
              text:"1,000원",
            },
          ]
        })
      
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()