extends ../components/templates/base.pug

block content
  +button({
    label:"OTP 인증",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"OTP 인증",
    id:"fullLayer",
    type:"full"
  })
    .acc_confirm.otp
      .code 
        span.mask 
          input(type="password", maxlength="1")
        span.mask 
          input(type="password", maxlength="1")
        span.mask 
          input(type="password", maxlength="1")
        span.mask 
          input(type="password", maxlength="1")
        span.mask
          input(type="password", maxlength="1", disabled="disabled")
        span.mask
          input(type="password", maxlength="1", disabled="disabled")
      +title({
        text:"OTP인증",
        lv:4,
      })
      +textLists({
        type:'guide',
        lists:[
          {
            text:"OTP 화면에 표시된 6자리 숫자를 입력하여 주세요.",
          },
          {
            text:"10회 오류 시 서비스가 제한됩니다.",
          },
        ]
      })
  script.
    GCui.modal('#fullLayer').show()