extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcer"
  - pageTitle = "최초뱅킹비밀번호 등록"

block content
  +form()
    +form_body({title:"뱅킹 아이디"})
      +input({
        placeholder:"뱅킹 아이디 입력",
      })
      +text({
        type:'link',
        className:"em",
        text:"아이디 찾기"
      })
    +form_body({title:"초기 비밀번호", tooltip:"처음 창구를 방문해서 설정하신 비밀번호입니다. 잊으신 경우 [비밀번호 재등록]을 이용해주세요."})
      +input({
        placeholder:"창구에서 등록한 6자리 비밀번호",
        type:"password"
      })
      +text({
        type:'link',
        className:"em",
        text:"비밀번호 재등록"
      })
    +form_body({title:"주민번호/사업자등록번호"})
      +radioCheck({
        type:"radio",
        name:'chk786721',
        lists:[
          {label:'개인고객', checked:"checked"},
          {label:'법인(기업)고객',},
        ]
      })
      +input_idnumber()
      +input_business()
    +form_body({title:"신규뱅킹 비밀번호"})
      +input({
        placeholder:"신규뱅킹 비밀번호",
        type:"password"
      })
      +input({
        placeholder:"신규뱅킹 비밀번호 확인",
        type:"password"
      })
    +form_body({title:"인증방법"})
      +radioCheck({
        type:"radio",
        name:'chk156557',
        lists:[
          {label:'보안매체(보안카드/OTP/모바일OTP)',},
          {label:'ARS 인증',},
        ]
      })
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"사용자아이디/초기비밀번호는 창구에서 등록한 정보를 입력해 주세요.",
          },
          {
            text:"비밀번호는 아래의 규칙가이드를 참고해주시기 바랍니다.",
            subLists:{
              type:'hyphhen',
              lists:[
                {
                  text:"영문자, 숫자, 특수문자가 혼용되어 최소 8자, 최대 12자 이내로 작성되어야 합니다."
                },
                {
                  text:"아이디와 4자리 이상 일치하는 비밀번호는 사용이 불가합니다."
                },
                {
                  text:"고객정보(주민번호, 휴대폰번호, 전화번호 등)과 4자리 이상 일치하는 비밀번호는 사용이 불가합니다."
                },
              ]
            }
          },
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary",
    })
