extends ../components/templates/base.pug

block content
  +button({
    label:"보이스피싱 피해주의",
    muiToggle:'target:#modal_bottom;'
  })
  +modal({
    title:"보이스피싱 피해주의",
    id:"modal_bottom",
    type:"bottom"
  })
    +content_group(1)
      +title({
        text:'<span class="main_color01">1건</span>에 대한 보이스피싱 등의 사기 위험 확인 후 진행하여 주시기 바랍니다',
        lv:4,
      })
    
    +content_group(1)
      .voice
        +textLists({
          type:'dot',
          lists:[
            {
              text:"<span class='main_color01'>수사기관, 공공기관</span>이라며 전화로 출금 및 이체를 요구 받았습니까?",
            },
            {
              text:"<span class='main_color01'>신용등급을 올려야 한다며 송금</span>을 요구 받았습니까?",
            }
          ]
        })
    
        
      
      +button_bottom_fixed()
        +button({
          label:"예",
          size:"large",
          type:"default",
        })
        +button({
          label:"아니오",
          size:"large",
          type:"primary",
        })
  script.
    GCui.modal('#modal_bottom').show()