extends ../components/templates/base.pug

block content
  +button({
    label:"주소찾기 팝업",
    muiToggle:'target:#fullLayer;'
  })
  +modal({ 
    title:"주소찾기",
    id:"fullLayer",
    type:"full"
  })
    .search_address
      +form()
        +form_body()
          .input_sec
            +input({
              placeholder:"도로명, 지번, 건물명 검색"
            })
            button(type="button").search_btn 
              span.hidden 검색
      +form()
        +form_body({message:{type:"error", text:"에러 메세지"}})
          .input_sec
            +input({
              placeholder:"도로명, 지번, 건물명 검색"
            })
            button(type="button").search_btn 
              span.hidden 검색
      .guide_sec(
        style="display:;"
      )
        p.main_title 알아두세요

        .box 
          p 도로명 또는 도로명과 건물번호를 입력해주세요.
          span.example 
            | 예) 서울시 마포구 마포대로 163 검색 시
            br
            | "마포대로 163" 입력
        .box 
          p 주소의 읍/면/동을 입력해주세요.
          span.example 
            | 예) 서울시 마포구 마포대로 163 검색 시
            br
            | "마포대로 163" 입력
      .addr_lists(
        style="display:none;"
      )
        a(href="").box
          span.post 04130
          p.type1 [도로명] 서울 마포구 마포대로 163 서울신용보증재단 서울신용보증재단
          p.type2 [지번] 서울 마포구 공덕동 168 서울신용보증재단 서울신용보증재단
        a(href="").box 
          span.post  04130
          p.type1 [도로명] 서울 마포구 마포대로 163 서울신용보증재단 서울신용보증재단
          p.type2 [지번] 서울 마포구 공덕동 168 서울신용보증재단 서울신용보증재단
        a(href="").box 
          span.post  04130
          p.type1 [도로명] 서울 마포구 마포대로 163 서울신용보증재단 서울신용보증재단
          p.type2 [지번] 서울 마포구 공덕동 168 서울신용보증재단 서울신용보증재단
        a(href="").box 
          span.post  04130
          p.type1 [도로명] 서울 마포구 마포대로 163 서울신용보증재단 서울신용보증재단
          p.type2 [지번] 서울 마포구 공덕동 168 서울신용보증재단 서울신용보증재단
        a(href="").box 
          span.post  04130
          p.type1 [도로명] 서울 마포구 마포대로 163 서울신용보증재단 서울신용보증재단
          p.type2 [지번] 서울 마포구 공덕동 168 서울신용보증재단 서울신용보증재단
        a(href="").box 
          span.post  04130
          p.type1 [도로명] 서울 마포구 마포대로 163 서울신용보증재단 서울신용보증재단
          p.type2 [지번] 서울 마포구 공덕동 168 서울신용보증재단 서울신용보증재단
      
      .last_addr_write(
        style="display:none;"
      )
        dl
          dt 주소
          dd 04130 서울 마포구 마포대로 163 서울신용보증재단

        +input({
        placeholder:"상세주소 입력" 
        })
      div(
        style="display:;"
      )
        +result({
          type:'null',
          mainText:"검색결과가 없습니다.",
          subText:"검색어에 잘못된 철자가 없는지, 정확한<br>주소인지 다시 힌 번 확인해주세요.",
          img:"/src/images/ico_search_empty.svg",
      })

    
    
    //- +button_bottom_fixed()
    //-   +button({
    //-     label:"확인",
    //-     size:"large",
    //-   })

  script.
    GCui.modal('#fullLayer').show()