extends ../components/templates/base.pug

block content
  +button({
    label:"직종선택",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"직종선택",
    id:"fullLayer",
    type:"full"
  })
    .search_address
      +form()
        +form_body()
          .input_sec
            +input({
              placeholder:"직종을 검색하세요"
            })
            button(type="button").search_btn 
              span.hidden 검색
      <!-- 기타항목이 있는경우 etc_type 클래스 추가, 화살표버튼이 하나도 없는경우 depth2_type 클래스 추가 -->
      +button_link({
        list: [
          '관리자',
          '사무종사자',
          '판매종사자',
          '기타',
        ],
        className:"job_list etc_type"
      })
      <!-- 화살표버튼이 하나도 없는경우 depth2_type 클래스 추가 -->
      +button_link({
        list: [
          '2depth',
          '2depth',
          '2depth',
          '2depth',
        ],
        className:"job_list depth2_type"
      })
      +content_group(1)
        +button({
          label:"뒤로가기",
          size:"medium",
          type:"white",
          className:"ft_white"
        })

  script.
    GCui.modal('#fullLayer').show()