extends ../components/templates/base.pug


block prepend top 
  - pageTitle = "고유식별정보 처리 동의";

block content
  +modal({
    title:"고유식별정보 처리 동의",
    id:"fullLayer",
    type:"full",
    isDownBtn:true,
  })
    .agreement
      +content_group(1)
        +title({
          text:"[SK텔레콤 귀중]",
          lv:4,
        })
        p 본인은 SK텔레콤(주)(이하 ‘회사’라 합니다)가 제공하는 본인확인서비스(이하 ‘서비스’라 합니다)를 이용하기 위해, 다음과 같이 본인의 개인정보를 회사가 아래 기재된 제3자에게 제공하는 것에 동의합니다.

        .mui_text_lists.circle_num
          ul
            li 개인정보를 제공받는 자
              span - NICE평가정보(주), SCI평가정보(주)
            li 개인정보를 제공받는 자의 개인정보 이용목적
              span - 연계정보(CI)/중복가입확인정보(DI) 생성 및 회사에 제공
              span - 부정 이용 방지 및 민원 처리
            li 제공하는 개인정보 항목
              span - 회사가 보유하고 있는 이용자의 주민등록번호
            li 개인정보를 제공받는 자의 개인정보 보유 및 이용기간
              span - 연계정보(CI)/중복가입확인정보(DI) 생성 후 6개월
            li 위 개인정보 제공에 동의하지 않으실 경우, 서비스를 이용할 수 없습니다.

      +content_group(1)
        +title({
          text:"[(주)케이티 귀중]",
          lv:4,
        })
        p (주)케이티 (이하 "본인확인기관")가 드림시큐리티(주) (이하 "회사")을 통해 제공하는 휴대폰 본인확인 서비스 관련하여 이용자로부터 수집한 고유식별정보를 이용하거나 타인에게 제공할 때에는 '정보통신망 이용촉진 및 정보보호 등에 관한 법률'(이하 "정보통신망법")에 따라 이용자의 동의를 얻어야 합니다.

      +content_group(3)
        +title({
          text:"■ 제 1 조[고유식별정보의 처리 동의]",
          lv:5,
        })
        p "본인확인기관"은 정보통신망법 제23조의2 제2항에 따라 인터넷상에서 주민등록번호를 입력하지 않고도 본인임을 확인할 수 있는 휴대폰 본인확인서비스를 제공하기 위해 고유식별정보를 처리합니다.

      +content_group(3)
        +title({
          text:"■ 제 2 조[고유식별정보의 제공 동의]",
          lv:5,
        })
        p "본인확인기관 지정 등에 관한 기준(방송통신위원회 고시)"에 따라 "회사"와 계약한 정보통신서비스 제공자 의 연계서비스 및 중복가입확인을 위해 아래와 같이 본인의 고유식별정보를 '다른 본인확인기관'에 제공하는 것에 동의합니다.

      +content_group(3)
        +title({
          text:"[고유식별정보 제공 동의]",
          lv:5,
        })
        p 1. 제공자(본인확인기관)<br>(주)케이티
        p 2. 제공 받는자(본인확인기관)<br>코리아크레딧뷰로㈜, SCI평가정보㈜
        p 3. 제공하는 항목<br>주민등록번호(내국인), 외국인등록번호(국내거주외국인)
        p 4. 제공 목적<br>CI(연계정보), DI(중복가입확인정보)의 생성 및 전달
        p 5. 보유 및 이용기간<br>CI(연계정보), DI(중복가입확인정보) 생성 즉시 폐기

      +content_group(3)
        +title({
          text:"3. 제공하는 개인정보 항목",
          lv:5,
        })
        p - 회사가 보유하고 있는 이용자의 주민등록번호
      
      +content_group(3)
        +title({
          text:"4. 개인정보를 제공받는 자의 개인정보 보유 및 이용기간",
          lv:5,
        })
        p - 연계정보(CI)/중복가입확인정보(DI) 생성 후 6개월

      +content_group(3)
        +title({
          text:"5. 위 개인정보 제공에 동의하지 않으실 경우, 서비스를 이용할 수 없습니다.",
          lv:5,
        })

      +content_group(1)
        +title({
          text:"[LG유플러스(주) 귀중]",
          lv:4,
        })
        p LG유플러스(주)(이하 ‘회사’)가 휴대폰본인확인서비스(이하 ‘서비스’)를 제공하기 위해 고유식별정보를 다음과 같이 제3자에게 제공 및 처리 하는 데에 동의합니다.

        .mui_text_lists.circle_num
          ul 
            li 고유식별정보를 제공받는자
              span - NICE평가정보㈜, SCI평가정보㈜
            li 고유식별정보를 제공받는자의 목적
              span - 연계정보(CI)와 중복가입확인정보(DI)의 생성 및 ‘회사’ 제공
              span - 부정 이용 방지 및 민원 처리
            li 고유식별정보 제공 항목:‘회사’가 보유하고 있는 고객의 주민등록번호와 외국인등록번호
            li 고유식별정보를 제공받는 자의 보유 및 이용기간: 연계정보(CI) 및 중복가입확인정보(DI) 생성후 6개월
          p.size-s 상기 고유식별정보 처리에 대한 내용에 동의하지 않으실 경우, ‘서비스’를 이용할 수 없습니다.<br>상기와 같이 고유식별정보 이용 및 처리에 동의합니다.

      +content_group(1)
        +title({
          text:"[드림시큐리티(주) 귀중]",
          lv:4,
        })
        p 에스케이텔레콤(주), (주)케이티, LG유플러스(주) (이하 "본인확인기관")가 드림시큐리티(주) (이하 "회사")를 통해 제공하는 휴대폰 본인인증 서비스와 관련하여 고객으로부터 수집한 고유식별정보를 이용하거나 타인에게 제공할 때에는 '정보통신망 이용촉진 및 정보보호 등에 관한 법률'(이하 "정보통신망법")에 따라 고객의 동의를 얻어야 합니다.

      +content_group(3)
        +title({
          text:"제1조(고유식별정보의 처리)",
          lv:5,
        })
        p "본인확인기관"은 휴대폰 본인인증 서비스 제공시, 아래 두 가지 목적을 위해 고객의 고유식별정보를 처리할 수 있습니다.
        .mui_text_lists.circle_num
          ul 
            li 정보통신망법 제23조의2 제2항에 따라 인터넷상에서 주민등록번호를 입력하지 않고도 본인임을 확인할 수 있는 휴대폰 본인인증 서비스를 제공하기 위해 고유식별정보를 이용
            li '본인확인기관 지정 등에 관한 기준(방송통신위원회 고시)'에 따라 "회사"와 계약한 정보통신서비스 제공자의 연계서비스 및 중복가입확인을 위해 필요한 경우, 다른 본인확인기관이 아래의 고유식별정보를 제공받아 처리할 수 있습니다.
              ul.depth_01 
                li 주민등록번호(내국인)
                li 외국인등록번호(국내거주외국인)
          p.size-s 상기 내용과 같이 고유식별정보의 처리 및 제공에 동의합니다.





    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
        type:"primary",
      })
  
  script.
    GCui.modal('#fullLayer').show()