extends ../components/templates/base.pug

block content
  +button({
    label:"모바일 OTP",
    muiToggle:'target:#fullLayer;'
  })
  +modal({ 
    title:"모바일 OTP",
    id:"fullLayer",
    type:"full"
  })
    div 모바일 OTP 모듈 호출

  script.
    GCui.modal('#fullLayer').show()