extends ../components/templates/base.pug

block content
  +button({
    label:"추가인증 선택",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"추가인증 선택",
    id:"fullLayer",
    type:"full"
  })
    +tabsLink({
      list:[		
        {name:"ARS 인증"},
        {name:"스마트앱 인증", active:true},
      ],
      className:"custom_tab"
    })
      div 스마트인증 모듈 호출