extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcus"
  - pageTitle = "자주쓰는 계좌관리"

block content
  +content_group(0)
    +title({
      text:"자주쓰는 계좌 등록",
      lv:2,
    })
    +content_group(1)
      +form()
        +form_body({title:"입금은행"})
          +button_select({
            placeholder:"은행 선택"
          })
        +form_body({title:"입금계좌번호"})
          +input({
            placeholder:"계좌번호 입력"
          })
        +form_body({title:"예금주명"})
          +input_button({
            btnText:"예금주명 확인",
            placeholder:"예금주명",
            disabled:true,
            type:"input"
          })
        +form_body({title:"[선텍]자주쓰는 계좌 별칭"})
          +input({
            placeholder:"최대 10자 입력"
          })
        
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
