extends ../components/templates/base.pug

block content
  +button({
    label:"금융인증서 호출",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"토스인증",
    id:"fullLayer",
    type:"full",
    className:"webcom"
  })
    +tabsWrap({
      active:0,
      className:"certifi"
    })
      +tab("토스인증서")
        .al_left 
          p.title 토스앱에서 인증을 진행해 주세요
          +content_group(4)
            +text({
              text:"최초 이용시 안내에 따라 토스인증서 발급을 진행해 주세요."
            })
          +content_group(2)
            +stepWrap()
              +step()
                .txt 토스앱에서 알림확인
              +step()
                .txt 토스인증 진행
              +step()
                .txt <em class="type2">인증완료</em> 후, 현재 화면의 인증완료 클릭
      +tab("금융인증서")
        +title({
          text:"금융인증서",
          lv:1,
        })
        p.txt 아이콘을 터치하시면<br>금융인증서가 실행됩니다.
        .ico 
          a(href="").type1
            img(src="/src/images/ico_cer02.svg", alt="")
      
    +button_bottom_fixed()
      +button({
        label:"인증 재요청",
        size:"large",
        type:"default",
      })
      +button({
        label:"인증완료",
        size:"large",
      })

  script.
    GCui.modal('#fullLayer').show()