extends ../components/templates/base.pug

block content
  +button({
    label:"인증서 선택",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"인증서 선택",
    id:"fullLayer",
    type:"full"
  })
    +tabsWrap({
      active:0,
      className:""
    })
      +tab("토스인증서")
        +content_group(1)

      +tab("휴대폰 본인인증")
        +content_group(1)