extends ../components/templates/base.pug

block content
  +button({
    label:"인증서 선택",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"인증서 선택",
    id:"fullLayer",
    type:"full"
  })
    +tabsWrap({
      active:0,
      className:""
    })
      +tab("토스인증서")
        +content_group(1)
          .cert_wrap
            .img_wrap
              img(src="/src/images/img_cert_toss.png", alt="토스인증서")
            +text({
              text:"토스인증서를 이용하시려면<br>토스인증서 등록을 하셔야합니다."
            })
            .btn_wrap
              +button({
                label:"토스인증서 등록",
                size:"medium",
                type:"white",
                className:"btn_round",
              })


      +tab("휴대폰 본인인증")
        +content_group(1)
          .cert_wrap
            +title({
              text:'금융인증서',
              lv:1,
            })
            +text({
              text:"토스인증서를 이용하시려면<br>토스인증서 등록을 하셔야합니다."
            })
            .btn_wrap
              a(href="#")
                img(src="/src/images/img_cert.png", alt="토스인증서")