extends ../components/templates/base.pug

block content
  +button({
    label:"금융거래확인서 상세정보",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"금융거래확인서 상세정보",
    id:"fullLayer",
    type:"full"
  })
    .webcer
      +content_group(0)
        +title({
          text:'대출금 거래상황',
          lv:4,
        })
        +result({
          dataType:"line",
          data:[
            {
              title:"종별",
              text:"일반자금대출(월수분할)",
            },
            {
              title:"용도",
              text:"가게자금",
            },
            {
              title:"대출기한",
              text:"2025.01.01",
            },
            {
              title:"이율",
              text:"10.00",
            },
            {
              title:"잔액",
              text:"1,100원",
            },
            {
              title:"비고",
              text:"신용",
            },
          ]
        })
        .txt_etc 단위 : 천원

      +content_group(0)
        +title({
          text:'담보 내용',
          lv:4,
        })
        +result({
          dataType:"line",
          data:[
            {
              title:"소재지",
              text:"서울시",
            },
            {
              title:"소유자",
              text:"김저축",
            },
            {
              title:"채무자와의 관계",
              text:"본인",
            },
            {
              title:"종류",
              text:"정기적금(정기/장학)",
            },
            {
              title:"수량",
              text:"1",
            },
            {
              title:"감정가격",
              text:"1,000원",
            },
            {
              title:"감정일자",
              text:"2019.03.14",
            },
            {
              title:"비고",
              text:"신용",
            },
          ]
        })
        .txt_etc 단위 : 천원

      +content_group(0)
        +title({
          text:'최근 3개월이내 10일 이상 계속된 연체명세',
          lv:4,
        })
        +result({
          dataType:"line",
          data:[
            {
              title:"대출종류",
              text:"예적금담보대출(인터넷대출)",
            },
            {
              title:"연체발생일",
              text:"2019.03.14",
            },
            {
              title:"연체원금",
              text:"1,000원",
            },
            {
              title:"연체이자",
              text:"1,100원",
            },
            {
              title:"연체정리일",
              text:"2019.03.14",
            },
            {
              title:"연체일수",
              text:"3일",
            },
            {
              title:"비고",
              text:"",
            },
          ]
        })
        .txt_etc 단위 : 천원
    
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()