extends ../components/templates/base.pug

block content
  +button({
    label:"은행선택",
    muiToggle:'target:#modal_bottom;'
  })
  +modal({
    title:"은행선택",
    id:"modal_bottom",
    type:"bottom"
  })
    +content_group(1)
      +tabsWrap({
        active:0
      })
        +tab("은행")
          +select_list({
            type:"account_img"
          })
        +tab("증권사")
          +select_list({
            type:"account_img"
          })
        +tab("지방세입")
          +select_list({
            type:"account_img"
          })