extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcer"
  - pageTitle = "제증명 신청/발급"

block content
  +content_group(0)
    +title({
      text:'대출금 거래상황',
      lv:4,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"종별",
          text:"일반자금대출(일수분할)",
        },
        {
          title:"용도",
          text:"가계자금",
        },
        {
          title:"대출기한",
          text:"2025.01.01",
        },
        {
          title:"이율",
          text:"10.00",
        },
        {
          title:"잔액",
          text:"1,100 원",
        },
        {
          title:"비고",
          text:"신용",
        },
      ]
    })
    .txt_etc 단위 : 천원
  +content_group(0)
    +title({
      text:'담보내용',
      lv:4,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"소재지",
          text:"서울시",
        },
        {
          title:"소유자",
          text:"박찬주",
        },
        {
          title:"채무자와의 관계",
          text:"2본인",
        },
        {
          title:"종류",
          text:"정기적금(정기/장학)",
        },
        {
          title:"수량",
          text:"1",
        },
        {
          title:"감정가격",
          text:"1,100 원",
        },
        {
          title:"감정일자",
          text:"2019.03.14",
        },
        {
          title:"비고",
          text:"신용",
        },
      ]
    })
    .txt_etc 단위 : 천원
  +content_group(0)
    +title({
      text:'기준일로부터 1년이내 당좌부도 발생유무',
      lv:4,
    })
    +result({
      type:'null',
      mainText:"해당 사항 없음",
      img:"/src/images/ico_search_empty.svg",
    })
  +content_group(0)
    +title({
      text:'기준일 현재 원금 또는 이자의 납입지체 여부',
      lv:4,
    })
    +result({
      type:'null',
      mainText:"해당 사항 없음",
      img:"/src/images/ico_search_empty.svg",
    })
  +content_group(0)
    +title({
      text:'최근 3개월이내 10일 이상 계속된 연체명세',
      lv:4,
    })
    +result({
      type:'null',
      mainText:"해당 사항 없음",
      img:"/src/images/ico_search_empty.svg",
    })
  +content_group(0)
    +title({
      text:'최근 3개월이내 10일 이상 계속된 연체명세',
      lv:4,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"대출종류",
          text:"예적금담보대출(인터넷대출)",
        },
        {
          title:"연체발생일",
          text:"2019.03.14",
        },
        {
          title:"연체원금",
          text:"1,100 원",
        },
        {
          title:"연체이자",
          text:"1,100 원",
        },
        {
          title:"연체정리일",
          text:"2019.03.14",
        },
        {
          title:"연체일수",
          text:"3일",
        },
        {
          title:"비고",
          text:"-",
        },
      ]
    })
    .txt_etc 단위 : 천원
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default",
    })
    +button({
      label:"발급하기",
      size:"large",
    })
  
