extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webdep"
  - pageTitle = "상품가입"

block content
  +content_group(0)
    +stepNum({
      total:5,
      activeIndex:3
    })
  +content_group(0)
    +title({
      text:"상품정보 입력",
      lv:2,
    })
  +content_group(3)
    .bank_product_details
      +title({
        text:"<em>상품명</em>",
        lv:1,
      })
      p.sub_txt 매월일정금액을 정기적으로 납입하고 만기일에 원리금을 지급받는 적립식 상품
      .detail
        .img 
          img(src="/src/images/img_item_04.png", alt="보통예금 상품 이미지")
  +content_group(2)
    +title({
      text:"기존계좌 선택",
      lv:4,
    })
  +content_group(4)
    //- +button_select_account()
    +button_select({
      placeholder:"계좌선택",
      label:"123-1212-1234-56"
    })
    +text({
      type:'warning',
      text:"신규 예금 상품에 연결되는 보통예금 계좌를 선택해 주세요."
    })
  +content_group(1)
    +form()
      +form_body({title:"위의 보통예금 계좌를 출금계좌에 등록하시겠습니까?"})
        +radioCheck({
          name:'chk47347223',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'등록',
              checked:true
            },
            {
              label:'미등록'
            }
          ]
        })
      +form_body({title:"조회구분"})
        +form_value({
          value:"정액식"
        })
      +form_body({title:"가입기간"})
        +input({
          placeholder:"개월수 입력",
          subfix:"개월",
        })
        +content_group(2)
          .rangeslidr_wrap
            .currdata
              span#currData 1개월
            #rangeSlider
            .rangedata
              span N개월
              span N개월
        +text({
          type:'warning',
          text:"최소 N개월부터 N개월까지 입력 가능합니다."
        })
        +content_group(2)
          .view_data
            button.write_pop 직접입력
      +form_body({title:"불입금액"})
        +input({
          placeholder:"숫자만 입력",
          subfix:"원"
        })
        .money_support
          strong 1,000만 원
        +button_group({
          className:"btn_money",
          btns:[
            '+1만',
            '+10만',
            '+100만',
            '+1,000만',
          ]
        })
      +form_body({title:"과세구분"})
        +button_select({
          placeholder:"과세구분 선택",
          label:"비과세"
        })
        button(type="button").guide_btn 비과세 안내
        +content_group(1)
          .view_data
            +button({
              label:"예상금액 미리보기",
              size:"medium",
              type:"white",
            })
            .guide_box
              .list 
                p.title 적용이율
                p.text 4.30%
              .list 
                p.title 예상총이자
                p.text 120,300원(세전)
      +form_body()
        +content_group(3)
          .agree_switch
            p.text 만기 SMS 통지
            .switch.type2.main_color
              +radioCheck({
                name:'chk23',
                label:'동의',
              })
        +content_group(3)
          .agree_switch
            p.text 자동이체(당행계좌)
            .switch.type2.main_color
              +radioCheck({
                name:'chk23',
                label:'동의',
              })
        +content_group(3)
          .agree_switch
            p.text 만기해지 후 송금
            .switch.type2.main_color
              +radioCheck({
                name:'chk23',
                label:'동의',
              })
            +form()
              +form_body({title:"만기해지 후 송금 계좌 정보"})
                +button_select({
                  label:"저축은행"
                })
                +input_button({
                  btnText:"예금주 확인",
                  placeholder:"계좌번호 입력",
                  type:"input"
                })
      +form_body({title:"금융정보취약계층 구분"})
        +button_select({
          placeholder:"금융정보취약계층 구분 선택",
          label:"금융정보취약계층"
        })
      +form_body({title:"금융정보취약계층 안내"})
        +agree_box({
          text:"금융정보취약계층(만 65세 이상인자, 은퇴자, 주부) 등에 해당하시고 그 정보를 제공하기로 동의하신 고객께서는 예금보험관계 성립여부 및 보호한도에 대해 다른 정보보다 우선적으로 설명받으실 수 있습니다. 금융정보 취약계층(만 65세 이상인자, 은퇴자, 주부 등)에 해당하여, '예금자보호여부 및 보호한도(원금과 소정의 이자를 합하여 1인당 5천만원)에 대하여 확인하셨습니까?"
        })
          +radioCheck({
            type:"radio",
            name:'chk172727',
            lists:[
              {label:'예',},
              {label:'아니오',},
            ]
          })
      +form_body({title:"신규계좌 비밀번호"})
        +input({
          placeholder:"숫자 4자리",
          type:'password'
        })
      +form_body({title:"신규계좌 비밀번호 확인"})
        +input({
          placeholder:"숫자 4자리",
          type:'password'
        })
        +text({
          type:'warning',
          text:"연속된 숫자, 반복된 숫자, 개인정보와 관련된 숫자는 입력하실 수 없습니다."
        })
      +form_body()
        +radioCheck({
          name:'chk4098892',
          label:'권유직원'
        })
        +input_button({
          btnText:"직원찾기",
          placeholder:"권유직원",
          type:"input"
        })

  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"비과세종합저축의 경우 자격요건 및 한도초과 여부에 따라 변경 될 수 있습니다.<br>(서비스시간 02:00 ~ 23:50)",
          },
          {
            text:"자동이체 등록시, 불입금액은 매월 입금계좌로 자동이체 됩니다.",
          },
          {
            text:"불입금액/계약금액은 1만원이상 가능합니다.",
          },
          {
            text:"기업은행 휴대폰번호계좌에 대해 이용기관은 신규 등록이 중단되었습니다.",
          },
          {
            text:"CMS(타행계좌)는 전자금융 가입 후 해당 저축은행 인터넷 뱅킹에서 신청가능합니다.",
          },
          {
            text:"만기해지 후 송금 계좌는 예금주 본인 계좌만 가능합니다.",
          },
          {
            text:"납입 연체일수가 있는 정기적금의 경우 자동만기연장 및 만기해지후 송금은 이연된 만기일에 처리됩니다.(불입완료된 계좌에 한해 적용됩니다.)",
          },
        ]
      })













  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
  script(src="/js/nouislider.min.js")
  script. 
    var el = GCui.util.$('#rangeSlider');
    var data = GCui.util.$('#currData');
    var range = [1, 36];
    noUiSlider.create(el, {
      start: [range[0]],
      connect: 'lower',
      range: {
        'min': range[0],
        'max': range[1]
      }
    });
    setSufix(range[0]);
    el.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
      setSufix(values[handle]);
    });

    function setSufix(n) {
      var sufix = '개월';
      var rangeData = parseInt(n);
      data.innerHTML = rangeData + sufix;
    }