extends ../components/templates/base.pug

block content
  +button({
    label:"휴대폰 본인인증",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    isCloseBtn:false
  })
    +result({
      type:'result',
      mainText:"최근 20영업일 이내 타금융기관 포함 입출금통장을 개설한 이력이 존재합니다.",
      subText:"YYYY년 MM월 DD일 이후에 다시 시도해주세요.",
      img:"/src/images/ico_search_empty.svg",
    })
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()