extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webdep"
  - pageTitle = "상품가입"

block content
  +content_group(0)
    +stepNum({
      total:4,
      activeIndex:2
    })
  +content_group(0)
    +title({
      text:"상품정보 입력",
      lv:2,
    })
  +content_group(2)
    +title({
      text:"출금계좌",
      lv:4,
    })
  +content_group(4)
    +button_select_account({
      isMoney:true
    })
  +content_group(2)
    +form()
      +form_body({title:"가입기간"})
        +button_select({
          placeholder:"가입기간 선택",
          label:"가입기간"
        })
        +radioCheck({
          name:'chk473472',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'개월수로 선택',
              checked:true
            },
            {
              label:'만기일로 선택'
            }
          ]
        })
        +input({
          placeholder:"1~60",
          subfix:"개월",
        })
        +datepicker()
      +form_body({title:"가입금액"})
        .rangeslidr_wrap
          .currdata
            span#currData 6000만원
          #rangeSlider
          .rangedata
            span 10만원
            span 1억원
        +content_group(2)
            
          .view_data
            button.write_pop 직접입력
            .guide_box.gcoverflow_box
              .overflow_wrap
                .list 
                  p.title 적용이율
                  p.text 4.30%
                .list 
                  p.title 예상총이자
                  p.text 120,300원(세전)
                .list 
                  p.title 월지급이자
                  p.text 233원
                .list 
                  p.title 잔여일수 지급이자
                  p.text 0원
                .list 
                  p.title 총 수입제세
                  p.text 360원
                .list 
                  p.title 차감지급 월이자
                  p.text 200원
                .list 
                  p.title 차감지급 잔여일수 이자
                  p.text 0원
                .list 
                  p.title 차감지급액
                  p.text 2,111원
              button.more(mui-toggle="target:.gcoverflow_box;cls:mui_active;")
                span 상세정보 조회
      +form_body({title:"이자지급방법"})
        +form_value({
          value:"만기일시지급"
        })
      //- +form_body({title:"이자 지급 계좌정보"})
      //-   +radioCheck({
      //-     name:'chk4734722',
      //-     type:"radio",
      //-     className:'button_type',
      //-     lists:[
      //-       {
      //-         label:'출금계좌와 동일',
      //-         checked:true
      //-       },
      //-       {
      //-         label:'다른 계좌'
      //-       }
      //-     ]
      //-   })
      //-   .add_data 
      //-     +button_select({
      //-       placeholder:"선택하세요",
      //-       label:"저축은행"
      //-     })
      //-     +input_button({
      //-       btnText:"예금주확인",
      //-       placeholder:"계좌번호입력",
      //-       type:"input"
      //-     })
      //-     +text({
      //-       type:'warning',
      //-       text:"동일저축은행간 자동이체 등록 시 출금계좌로 등록됩니다."
      //-     })
      +form_body({title:"만기자동재예치여부"})
        button(type="button").guide_btn 안내
        +button_select({
          label:"원금연장(이자당행이체)"
        })
        +text({
          type:'warning',
          text:"사용(이자 입금 후 원금연장) / 원금+이자(원금 및 이자를 연장)"
        })
      +form_body({title:"입금은행 정보"})
        +button_select({
          label:"저축은행"
        })
        +input_button({
          btnText:"예금주확인",
          placeholder:"계좌번호 입력",
          type:"input"
        })
      +form_body()
        +radioCheck({
          name:'chk409889',
          label:'비과세종합저축'
        })

      +form_body()
        +radioCheck({
          name:'chk4098892',
          label:'권유직원'
        })
        +input_button({
          btnText:"직원찾기",
          placeholder:"권유직원",
          type:"input"
        })
      +form_body()
      +form_body({title:"신규계좌 비밀번호"})
        +input({
          placeholder:"숫자 4자리",
          type:"password"
        })
      +form_body({title:"신규계좌 비밀번호 확인"})
        +input({
          placeholder:"숫자 4자리",
          type:"password"
        })
        +text({
          type:'warning',
          text:"연속된 숫자, 반복된 숫자, 개인정보와 련된 숫자는 입력하실 수 없습니다."
        })
      +form_body()
        .agree_switch
          p.text 만기 SMS 통지
          .switch.type2.main_color
            +radioCheck({
              name:'chk23',
              label:'동의',
            })
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"신규계좌 비밀번호는 출금계좌 비밀번호와 동일하게 설정됩니다.",
          },
          {
            text:"비과세종합저축의 경우 자격요건 및 한도초과 여부에 따라 변경될 수 있습니다.<br>(서비스시간 02:00 ~ 23:50)",
          },
          {
            text:"예치금액은 10만원 이상 가능합니다.",
          },
        ]
      })
  
  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
  script(src="/js/nouislider.min.js")
  script. 
    var el = GCui.util.$('#rangeSlider');
    var data = GCui.util.$('#currData');
    var range = [10, 10000];
    noUiSlider.create(el, {
      start: [range[0]],
      connect: 'lower',
      range: {
        'min': range[0],
        'max': range[1]
      }
    });
    setSufix(range[0]);
    el.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
      setSufix(values[handle]);
    });

    function setSufix(n) {
      var index = 0;
      var sufix = ['만원', '억원'];
      var rangeData = parseInt(n);
      if (rangeData === range[1]) {
        index = 1;
        rangeData = 1;
      }
      data.innerHTML = rangeData + sufix[index];
    }