extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webdep"
  - pageTitle = "상품가입"

block content
  +content_group(0)
    +stepNum({
      total:4,
      activeIndex:2
    })
  +content_group(0)
    +title({
      text:"상품정보 입력",
      lv:2,
    })
  +content_group(2)
    +title({
      text:"출금계좌",
      lv:4,
    })
  +content_group(4)
    +button_select_account({
      isMoney:true,
      isImg:true,
      
    })
  +content_group(1)
    +form()
      +form_body({title:"출금계좌 비밀번호"})
        +input({
          placeholder:"숫자 4자리",
          type:"password"
        })
      +form_body({title:"가입기간"})
        +button_select({
          placeholder:"가입기간 선택",
          label:"가입기간"
        })
        +radioCheck({
          name:'chk473472',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'개월수',
              checked:true
            },
            {
              label:'만기일'
            }
          ]
        })
        +datepicker()
        +input({
          placeholder:"개월수 입력",
          subfix:"개월",
        })
        +content_group(2)
          .rangeslidr_wrap
            .currdata
              span#currData 1개월
            #rangeSlider
            .rangedata
              span N개월
              span N개월
        +text({
          type:'warning',
          text:"최소 N개월부터 N개월까지 입력 가능합니다."
        })
        +content_group(2)
          .view_data
            button.write_pop 직접입력
      +form_body({title:"가입금액"})
        +input({
          placeholder:"숫자만 입력",
          subfix:"원"
        })
        .money_support
          strong 1,000만 원
        +button_group({
          className:"btn_money",
          btns:[
            '+10만',
            '+100만',
            '+500만',
            '+1,000만',
          ]
        })
      +form_body({title:"과세구분"})
        +button_select({
          placeholder:"과세구분 선택",
          label:"비과세"
        })
        button(type="button").guide_btn 비과세종합저축 한도조회
        +content_group(1)
          .view_data
            +button({
              label:"예상금액 미리보기",
              size:"medium",
              type:"white",
            })
            .guide_box
              .list 
                p.title 적용이율
                p.text 4.30%
              .list 
                p.title 예상총이자
                p.text 120,300원(세전)
      +form_body({title:"이자지급방법"})
        +form_value({
          value:"만기일시지급"
        })
      //- +form_body({title:"이자 지급 계좌정보"})
      //-   +radioCheck({
      //-     name:'chk4734722',
      //-     type:"radio",
      //-     className:'button_type',
      //-     lists:[
      //-       {
      //-         label:'출금계좌와 동일',
      //-         checked:true
      //-       },
      //-       {
      //-         label:'다른 계좌'
      //-       }
      //-     ]
      //-   })
      //-   .add_data 
      //-     +button_select({
      //-       placeholder:"선택하세요",
      //-       label:"저축은행"
      //-     })
      //-     +input_button({
      //-       btnText:"예금주확인",
      //-       placeholder:"계좌번호입력",
      //-       type:"input"
      //-     })
      //-     +text({
      //-       type:'warning',
      //-       text:"동일저축은행간 자동이체 등록 시 출금계좌로 등록됩니다."
      //-     })
      +form_body({title:"만기자동재예치여부"})
        button(type="button").guide_btn 안내
        +button_select({
          label:"원금연장(이자당행이체)"
        })
        +text({
          type:'warning',
          text:"사용(이자 입금 후 원금연장) / 원금+이자(원금 및 이자를 연장)"
        })
      +form_body({title:"입금은행 정보"})
        +button_select({
          label:"저축은행"
        })
        +input_button({
          btnText:"예금주확인",
          placeholder:"계좌번호 입력",
          type:"input"
        })
        +text({
          type:'warning',
          text:"원금연장(이자당행이체) 시 이자는 출금계좌로 입금됩니다."
        })
      //- +form_body()
      //-   +radioCheck({
      //-     name:'chk409889',
      //-     label:'비과세종합저축'
      //-   })
      +form_body()
        .agree_switch
          p.text 만기 SMS 통지
          .switch.type2.main_color
            +radioCheck({
              name:'chk23',
              label:'동의',
            })
      +form_body()
        +radioCheck({
          name:'chk4098892',
          label:'권유직원'
        })
        +input_button({
          btnText:"직원찾기",
          placeholder:"권유직원",
          type:"input"
        })

  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"신규계좌 비밀번호는 출금계좌 비밀번호와 동일하게 설정됩니다.",
          },
          {
            text:"비과세종합저축의 경우 자격요건 및 한도초과 여부에 따라 변경될 수 있습니다.<br>(서비스시간 02:00 ~ 23:50)",
          },
          {
            text:"예치금액은 10만원 이상 가능합니다.",
          },
        ]
      })
  
  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
  script(src="/js/nouislider.min.js")
  script. 
    var el = GCui.util.$('#rangeSlider');
    var data = GCui.util.$('#currData');
    var range = [1, 36];
    noUiSlider.create(el, {
      start: [range[0]],
      connect: 'lower',
      range: {
        'min': range[0],
        'max': range[1]
      }
    });
    setSufix(range[0]);
    el.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
      setSufix(values[handle]);
    });

    function setSufix(n) {
      var sufix = '개월';
      var rangeData = parseInt(n);
      data.innerHTML = rangeData + sufix;
    }