extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    title:"직접입력"
  })
    +form()
      +form_body({title:"가입금액"})
        +input_money({btns:["+10만", "+100만", "+500만", "+1,000만"],guideMoney:true})
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
        
  script.
    GCui.modal('#fullLayer').show()