extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    title:"비과세종합저축 한도조회"
  })
    +result({
      dataType:"line",
      data:[
        {
          title:"총 한도",
          text:"1,000,000원",
        },
        {
          title:"한도사용금액",
          text:"1,000,000원",
        },
        {
          title:"미사용 금액",
          text:"1,000,000원",
        },
      ]
    })
        
  script.
    GCui.modal('#fullLayer').show()