extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    title:"상품 상세정보",
    className:"webdep"
  })
    +content_group(3)  
      .view_data
        .guide_box.layer_content
          .list 
            p.title 가입기간
            p.text 24개월
          .list 
            p.title 가입금액
            p.text 100,000원
    +content_group(3)
      +result({
        dataType:"line",
        data:[
          {
            title:"계약금액",
            text:"1,200,000원",
          },
          {
            title:"월부금",
            text:"120,300원(세전)",
          },
          {
            title:"총 적립 금액",
            text:"250원",
          },
          {
            title:"지급이자",
            text:"0원",
          },
          {
            title:"특별이자",
            text:"360원",
          },
          {
            title:"적용이율",
            text:"250%",
          },
          {
            title:"특별이율",
            text:"0%",
          },
          {
            title:"수입제세",
            text:"200원",
          },
          {
            title:"차감지급액",
            text:"2,111원",
          },
          
        ]
      })
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()