extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"자동이체 미등록 안내",
    id:"fullLayer",
    type:"bottom",
  })
    .guide_pop_msg.al_c
      P.f18bold
        | 자동이체 여부를 
        em 등록안함
        | 으로
        br
        | 선택하셨습니다.
      P.basic14 신규 시 첫 회 불입금만 보통예금 계좌에서 출금되오니 다음달 불입일 부터는 새로 가입하시는 적금계좌로 직접 입금(송금)하여 주시기 바랍니다.
      +text({
        type:'warning',
        text:"보통예금계좌로 송금 시 자동이체가 되지 않습니다."
      })
    +button_bottom_fixed()
      +button({
        label:"취소",
        size:"large",
        type:"default",
      })
      +button({
        label:"확인",
        size:"large",
      })
          
    

    
  script.
    GCui.modal('#fullLayer').show()