extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    title:"만기자동재예치 안내"
  })
    .signupguide_wrap
      +title({
        text:"이자 입금 후 원금 연장 : 내부(타행 이체)",
        lv:4,
        className:"text1"
      })
      +title({
        text:"원금과 이자 합하여 연장 : 원금+이자",
        lv:4,
        className:"text2"
      })
      +textLists({
        type:'circle_num',
        lists:[
          {
            text:"자동연장 이율 : 자동연장일 시점 이율",
          },
          {
            text:"자동연장일 : 만기일(공유일인 경우 최초 도래 영업일)",
          },
          {
            text:"자동연장 조건 : 신규약정과 동일한 계약기간 및 과세로 최대 3회 연장",
          },
          {
            text:"유의사항",
            subLists:{
              type:'hyphhen',
              lists:[
                {
                  text:"비과세인 경우 자동연장일에 비과세 한도 부족시 연장불가",
                },
                {
                  text:"최대3회 자동연장 종료 후 -> 고객님 직접해지 처리",
                },
              ]
            },
          },
        ]
      })
        
  script.
    GCui.modal('#fullLayer').show()