extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webdep"
  - pageTitle = "개좌개설 신청내역조회"

block content
  +content_group(2)
    +title({
      text:"주민등록번호를<br>입력해 주세요.",
      lv:2,
    })
  +content_group(2)
    +form()
      +form_body({title:"주민등록번호"})
        +input_idnumber()
  

  +button_bottom_fixed()
    +button({
      label:"조회하기",
      size:"large",
    })
