extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webdep"
  - pageTitle = "상품가입"

block content
  +content_group(0)
    +stepNum({
      total:4,
      activeIndex:1
    })
  +content_group(0)
    +title({
      text:"약관동의",
      lv:2,
    })
  +content_group(2)
    +agree_check({
      text:"금융상품 중요사항 안내",
    })
    +agree_check({
      text:"[필수] 자유적립금 상품설명서",
    })
    +agree_check({
      text:"전체 동의",
    })
      +agree_check({
        text:"[필수] 예금거래기본약관",
      })
      +agree_check({
        text:"[필수] 적립식예금약관 및 특약",
      })
      +agree_check({
        text:"[필수] 금융실명법에 관한 고객 주의의무",
      })
      +agree_check({
        text:"[필수] 예금자보호안내",
      })
      +agree_check({
        text:"[필수] 예금보험관계 설명 확인",
      })
      +agree_check({
        text:"[필수] 개인정보 수집 및 이용 동의",
      })
      +agree_check({
        text:"[필수] 개인정보 제 3자 제공 동의",
      })
      +agree_check({
        text:"[필수] 출금이체 동의여부 및 해지사실 통지안내",
      })
      +agree_check({
        text:"[필수] 비과세종합저축 소득요건 관련 동의서",
      })
      

  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
