extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webdep"
  - pageTitle = "상품가입"

block content
  +content_group(0)
    +stepNum({
      total:4,
      activeIndex:1
    })
  +content_group(0)
    +title({
      text:"약관동의",
      lv:2,
    })
  +content_group(2)
    +agree_check({
      text:"금융상품 중요사항 안내",
    })
    +agree_check({
      text:"[필수] 보통예금 상품설명서",
    })
    +agree_check({
      text:"전체 동의",
    })
      +agree_check({
        text:"[필수] 예금거래기본약관",
      })
      +agree_check({
        text:"[필수] 입출 자유 예금약관",
      })
      +agree_check({
        text:"[필수] 예금자 보호 설명",
      })
      +agree_check({
        text:"[필수] 전자금융서비스 이용약관",
      })
      +agree_check({
        text:"[필수] 개인(신용)정보 수집 이용 동의",
      })
      +agree_check({
        text:"[필수] 개인(신용)정보 제3자 제공 동의",
      })
  +content_group(1)
    +agree_check({
      text:"[선택] 개인(신용)정보 수집제공동의",
      className:"chk_lists"
    })
      +radioCheck({
        name:'checklist',
        lists:[
          {
            label:'전체',
          },
          {
            label:'SMS',
          },
          {
            label:'전화',
          },
          {
            label:'우편',
          },
        ]
      })
      
      

  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
