extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    isCloseBtn:false,
  })
    p.f18bold 입력하신 정보로<br><em>Fi리볼빙 정기예금(단리)</em><br>상품에 가입하시겠어요?
    +button_bottom_fixed()
      +button({
        label:"아니오",
        size:"large",
        type:"default",
      })
      +button({
        label:"예",
        size:"large",
      })
        
  script.
    GCui.modal('#fullLayer').show()