extends ../components/templates/base.pug

block content
  +button({
    label:"상품가입 전 확인사항",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"full",
  })
    .signupguide_wrap
      +title({
        text:"차명거래 금지 설명 확인",
        lv:4,
      })
      p.sub_txt '금융실명거래 및 비밀보장에 관한 법률 제 3조 제 3항에 따라 누구든지 불법재산의 은닉, 자금세탁행위, 공중협박자금조달행위 및 강제 집행의 면탈, 그 밖의 탈법행위를 목적으로 타인의 실명으로 금융거래를 하여서는 아니되며, 이를위반 시 5년 이하의 징역 또는 8천만원 이하의 벌금에 처해질 수 있습니다.
      +title({
        text:"통장양도 불법성 안내 확인",
        lv:4,
      })
      p.sub_txt 통장, 현금카드를 타인에게 양도하는 경우 손해 배상책임을 부담할 수 있고 전자금융개설거래법에 의해 처벌 받을 수 있습니다.
      +title({
        text:"고객확인CDD 고객정보 수집 근거조항 안내",
        lv:4,
      })
      p.sub_txt.last 『특정금융거래정보의 보고 및 이용 등에 관한 법률』, 『공중 등 협박목적 및 대량살상무기 확산을 위한 자금조달행위의 금지에 관한 법률』에 따라 고객은 당사와 거래 시 고객확인 및 검증을 위하여 해당 내용을 기재하셔야 합니다. 당사는 기재된 정보를 검증하기 위하여 추가적인 자료를 요구할 수 있으며, 고객이 금융거래제한 대상자이거나 요청된 정보 제출을 거부 또는 고객 확인 및 검증이 충분히 이루어지지 않을 경우 요청하신 금융거래가 지연되거나 거절될 수 있습니다. 고객이 제공하신 정보 또는 자료를 '금융실명거래 및 비밀보장에 관한 법률'과 '신용정보의 보호 및 이용에 관한 법률' 등 관련법령에 따라 관리됩니다.
      p.agree 본인은 위 안내에 대해 충분히 이해하였음을 확인합니다.
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()