extends ../components/templates/base.pug

block content
  +button({
    label:"휴대폰 본인인증",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    isCloseBtn:false
  })
    +result({
      type:'result',
      mainText:"최근에 계좌개설을 진행한 내역이 있으시군요!",
      subText:"입력하신 정보가 있어 금방 개설할 수 있어요. 보통예금 가입신청을 이어서 진행하시겠어요?",
      img:"/src/images/ico_search_empty.svg",
    })
    +button_bottom_fixed()
      +button({
        label:"신청취소",
        size:"large",
        type:"default",
      })
      +button({
        label:"이어가기",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()