extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webdep"
  - pageTitle = "상품가입"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"김중앙님의<br><em>계좌개설이 완료</em>되었습니다.",
      img:"/src/images/ico_example2.png",
    })
  +content_group(0)
    +result({
      dataType:"line", 
      data:[
        {
          title:"계좌번호",
          text:"12345678901234",
        },
      ]
    })
  

  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
