extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "주택담보대출"

block content
  <!-- 디자인 버전 확정후 삭제 -->
  style.
    .chatbot_wrap .fin:last-child {display:none}
    .chatbot_wrap.other_type .fin:last-child {display:flex}
    .chatbot_wrap.other_type .fin:nth-last-of-type(2) {display:none}
  <!-- //디자인 버전 확정후 삭제 -->
  <!-- chatbot_wrap에 다른버전 확인시 other_type 클래스 추가 -->
  .chatbot_wrap.other_type
    .chatbot
      .chatting
        div
          strong
            em 김중앙
          | 님, 안녕하세요.<br>저는
          strong 
            em 김중앙
          | 님의 주택담보대출 신청을<br>도와줄
          strong 
            em 다올저축은행
          | 챗봇이에요.<br>만나서 반가워요!
        div 
          strong 주택담보대출 신청을 위해 필요한<br>정보를 확인할게요.
    .chatbot
      .chatting
        div 
          strong 
            em 김중앙
            | 님의 직업을 알려주세요.
    
    .chatuser
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'직장인'
          },
          {
            label:'개인사업자'
          },
          {
            label:'기타'
          }
        ]
      })
      .user_wrap
        button(type="button") 수정
        div 개인사업자

    .chatbot
      .chatting
        div 
          span 개인사업자를 선택하셨네요.<br>
            strong 사업시작일을 알려주세요.
        div 정확하지 않아도 괜찮아요.

    .chatuser
      +button_wrap()
        +button({
          label:"사업시작일 입력",
          size:"medium",
          type:"white",
        })
      .user_wrap
        button(type="button") 수정
        div 2022년 1월 10일
    
    .chatbot
      .chatting
        div 기타를 선택하셨네요.<br>
          strong 혹시 연금을 받고 있나요?

    .chatuser
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'네. 받고 있어요.'
          },
          {
            label:'아니요, 받고 있지 않아요.'
          }
        ]
      })
      
    .chatbot
      .chatting
        div 
          strong 받고있는 연금액을 알려주세요.
        div 정확하지 않아도 괜찮아요.
    
    .chatuser
      +button_wrap()
        +button({
          label:"연금액 입력",
          size:"medium",
          type:"white",
        })
      .user_wrap
        button(type="button") 수정
        div 200만원
    
    .chatbot
      .chatting
        div 
          strong 대출목적을 선택해주세요.
    
    .chatuser
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'주택 구입 자금'
          },
          {
            label:'생활 안정 자금'
          }
        ]
      })
      .user_wrap
        button(type="button") 수정
        div 주택 구입 자금

    .chatbot
      .chatting
        div 담보대출 받을 주택을 확인할게요.
        div 
          strong 집주소 찾기 버튼을 누르면 주택을<br>찾아드릴게요.

    .chatuser
      +button_wrap()
        +button({
          label:"집주소 찾기",
          size:"medium",
          type:"white",
        })
      .user_wrap
        button(type="button") 수정
        div
          strong 아파트
          ul.dot
            li 중앙아파트
            li 서울특별시 가나다구 가나대로 20길 26 중앙아파트
            li 101동 101호

    .chatbot
      .chatting
        div 주소까지 입력하셨네요.
        div 다음에 이어가기를 위해서<br>
          strong 입력한 정보로 저장할게요!

    .chatbot
      .chatting
        div 
          strong 전에 입력한 정보를 가져왔어요!
        div 주소까지 입력하셨네요.<br>나머지 정보도 계속 진행해주세요.
    
    .chatbot
      .chatting
        div
          strong 아파트
          ul.dot
            li 중앙아파트
            li 서울특별시 가나다구 가나대로 20길 26 중앙아파트
            li 101동 101호
        div 해당 주택의 시세는
          strong 5억원
          | 이고, 면적은 전용면적 
          strong 59.52㎡
          | 로 확인되었습니다.
        div 
          strong 선택하신 주택으로 신청 진행할게요.
    
    .chatbot
      .chatting
        div 담보물에 대한 임대료를 확인할게요.
        div 
          strong 혹시 해당 담보물에 대한 임대보증금이 있나요?
        div 임대보증금은 임대차 계약이 만료되었을 때 임차인에게 돌려줘야 할 금액을 의미해요.

    .chatuser
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'네, 있어요.'
          },
          {
            label:'아니요, 없어요.'
          }
        ]
      })
      .user_wrap
        button(type="button") 수정
        div 네, 있어요.
    
    .chatbot
      .chatting
        div 임대보증금이 있으시군요.
        div 
          strong 그럼 담보물에 대한 임대보증금을 알려주세요.
    
    .chatuser
      +button_wrap()
        +button({
          label:"임대보증금 입력",
          size:"medium",
          type:"white",
        })
      .user_wrap
        button(type="button") 수정
        div 1억 5천만원
    
    .chatbot
      .chatting
        div 
          strong 이제 마지막이에요!
        div 대출신청 금액을 확인할게요.
        div 
          strong 대출신청금액 입력 버튼을 눌러<br>금액을 입력해주세요.
    
    .chatuser
      +button_wrap()
        +button({
          label:"대출신청금액 입력",
          size:"medium",
          type:"white",
        })
      .user_wrap
        button(type="button") 수정
        div 4억 3천만원

    .chatbot
      .chatting
        div 
          strong 정보를 수정하시겠어요?
    
    .chatuser
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'네, 수정할래요.'
          },
          {
            label:'아니요, 괜찮아요.'
          }
        ]
      })
      .user_wrap
        button(type="button") 수정
        div 네, 수정할래요.
    
    .chatbot
      .chatting
        div 
          strong 주택담보대출 신청을 위한 모든 정보를 다 입력하셨어요!
        div 혹시 수정이 필요한 정보가 있으면<br>
          strong 수정버튼
          | 을 눌러주세요.

    .chatuser
      .user_wrap
        button(type="button") 수정
        div 직업 : 개인사업자
      .user_wrap
        button(type="button") 수정
        div 대출목적 : 주택구입자금
      .user_wrap
        button(type="button") 수정
        div
          strong 아파트
          ul.dot
            li 중앙아파트
            li 서울특별시 가나다구 가나대로 20길 26 중앙아파트
            li 101동 101호
      .user_wrap
        button(type="button") 수정
        div 임대보증금 : 1억 5천만원
      .user_wrap
        button(type="button") 수정
        div 대출신청금액 : 4억 3천만원
      +button_wrap()
        +button({
          label:"이 정보로 신청할래요.",
          size:"medium",
          type:"white",
        })
      .user_wrap
        div 이 정보로 신청할래요.

    .chatbot
      .chatting
        div
          strong 마지막으로 입력한 정보를<br>한번 확인할게요.
          ul.dot.no_line
            li 직업 : 직장인
            li 대출목적 : 주택구입자금
            li 주택정보 : 아파트<br>중앙 아파트<br>서울특별시 가나다구 가나대로 20길 26 중앙아파트101동 101호
            li 시세 : 5억원
            li 임대보증금 : 1억 5천만원
            li 대출신청금액 : 4억 3천만원
        div 
          strong 해당 정보로 신청하시겠어요?

    .chatuser
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'네, 신청할래요.'
          },
          {
            label:'아니요.'
          }
        ]
      })

    <!-- 신청종료 안내 -->
    .chatbot.fin
      .chatting
        div
          strong 주택담보대출 신청을<br>종료하시겠어요?
        div 지금 종료하셔도 입력한 정보는 5일간 저장되며 5일이내에서는 이어서 신청할 수 있어요
    
    .chatuser
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'네, 종료할래요.'
          },
          {
            label:'아니요, 계속 신청할래요.'
          }
        ]
      })

    <!-- 대화형 완료 -->
    .chatbot.fin
      .chatting
        div 
          strong 
            em 김중앙
            | 님<br>주택담보대출신청이 완료되었습니다!
        div 심사완료 후
          strong
            em 다올저축은행
          | 에서<br>연락드릴 예정이에요.
        div 심사는 영업일 기준 최대 15일 정도 걸릴 수가 있습니다.
        div 추가로 필요한 서류는<br>온라인서류제출에서 가능해요.<br>
          strong 대출 > 담보대출 > 온라인서류제출
        div 심사완료 후 전자약정까지<br>완료하셔야 대출실행이 완료됩니다.<br>
          strong 대출 > 전자약정
      .chatting
        div 신청하신 대출에 대한 조회는<br>대출신청조회에서 확인이 가능해요.
      +button_wrap()
        +button({
          label:"대출신청조회하기",
          size:"medium",
          type:"primary",
        })
      +button_wrap()
        +button({
          label:"나가기",
          size:"medium",
          type:"white",
        })
    <!-- //대화형 완료 -->

    <!-- 대화형완료 다른버전 -->
    .chatbot.fin
      .chatting
        div 
          strong 
            em 김중앙
            | 님<br>주택담보대출신청이 완료되었습니다!
        div 심사완료 후
          strong
            em 다올저축은행
          | 에서<br>연락드릴 예정이에요.
        div 심사는 영업일 기준 최대 15일 정도 걸릴 수가 있습니다.
        div 추가로 필요한 서류는<br>온라인서류제출에서 가능해요.<br>
          strong 대출 > 담보대출 > 온라인서류제출
        div 심사완료 후 전자약정까지<br>완료하셔야 대출실행이 완료됩니다.<br>
          strong 대출 > 전자약정
      .chatting
        div 신청하신 대출에 대한 조회는<br>대출신청조회에서 확인이 가능해요.
        +button_wrap()
          +button({
            label:"대출신청조회하기",
            size:"medium",
            type:"white",
          })
        +button_wrap()
          +button({
            label:"나가기",
            size:"medium",
            type:"white",
          })
    <!-- //대화형완료 다른버전 -->