extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webirc"
  - pageTitle = "금리인하요구권 신청"

block content
  +title({
    text:"대출상세내역",
    lv:2,
  })

  +content_group(2)
    +result({
      dataType:"line",
      data:[
        {
          title:"계좌번호",
          text:"123-12-12-123456",
        },
        {
          title:"대출상품",
          text:"직장인 신용대출",
        },
        {
          title:"대출금리",
          text:"3.16%",
        },
        {
          title:"대출한도(잔액)",
          text:"20,000,000원",
        },
        {
          title:"대출일자",
          text:"2023.01.02",
        },
        {
          title:"만기일자",
          text:"2024.01.02",
        },
      ]
    })

  +content_group(1)
    +form()
      +form_body({title:"금리인하요구 신청사유"})
        +button_select({
          placeholder:"신청사유 선택",
          label:""
        })
        +button_select({
          placeholder:"신청사유상세 선택",
          label:""
        })
        +input({
          placeholder:"신청사유상세 직접입력",
          subfix:"",
        })

  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })