extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - showHeader = false;

block content
  .waiting_wrap 
    .waiting 
      <lottie-player src="/src/images/ani_webinf.json" speed="1" autoplay loop></lottie-player>
      strong 잠시만 기다려 주세요.
      strong <em>요청하신 서류를 조회하고 있어요.</em>
    