extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +content_group(0)
    +title({
      text:"약관 동의",
      lv:1,
    })
    +content_group(2)
      +agree_check({
        text:"[필수] 대출상품설명서",
        isChecked:false
      })
      +agree_check({
        text:"전체 동의"
      })
        //- +agree_check({
        //-   text:"[필수]  대출계약자 적합성-개인(신용정보수집 ·이용 ·제공 동의서(여신 금융거래)"
        //- })
        +agree_check({
          text:"[필수] 개인(신용)정보 조회 동의서"
        })
        +agree_check({
          text:"[필수] 개인(신용)정보 수집·이용·제공 동의"
        })
        +agree_check({
          text:"[필수] 개인(신용)정보 수집·이용·제공 동의 (여신금융거래)"
        })
        //- +agree_check({
        //-   text:"[필수] 가계대출상품설명서"
        //- })
        //- +agree_check({
        //-   text:"[필수] 계약 체결·이행을 위한 상세 동의서 (개인금융성 신용보험용)"
        //- })
        +agree_check({
          text:"[필수] 개인(신용)정보 조회 동의서(서민금융진흥원용)"
        })
        +agree_check({
          text:"[필수] 개인(신용)정보 수집·이용·제공 동의(서민금융진흥원용)"
        })
        +agree_check({
          text:"[필수] 개약체결·이행을 위한 상세동의서 (개인금융성 신용보험용)"
        })
        +agree_check({
          text:"[필수] CMS출금이체 동의"
        })
        
      
      +content_group(1)
        +radioCheck({
          type:"radio",
          name:'chk320086',
          label:'위와 같이 대출신청을 하며, 상기 상담내용에 허위사실이 있을 경우, 대출신청이 부결 될 수 있음을 확인합니다.'
        })
    
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      disabled:"disabled"
    })