extends ../components/templates/base.pug


block prepend top 

block content
  +button({
    label:"모달호출",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    title:" ",
    id:"modal_bottom",
    type:"bottom",
    className:"webinf"
  })
    +text({
      text:"본인은 위 대출상품의 약관 및 상품설명서를 제공받고 대출상품의 중요한 사항을 충분히 이해한 후 상품에 가입함을 확인합니다."
    })
    +text({
      className:"info_txt",
      type:'warning',
      text:"설명내용을 제대로 이해하지 못하였음에도 설명을 이해했다는 확인을 하는 경우, 추후 권리구제가 어려울 수 있습니다."
    })
    +content_group(1)
      +title({
        text:"약관 및 상품설명서 제공",
        lv:4,
      })
    +content_group(2)
      p.email_recive 이메일주소로 받기
        +button_tooltip("계약서류(상품설명서 및 약관 등)를 우편, Fax 등으로 제공해드릴 수 있습니다. 자세한 사항은 해당 저축은행으로 연락해주세요.")
      +input({
        value:"",
      })
    
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })

  script.
    GCui.modal('#modal_bottom').show()