extends ../components/templates/base.pug

block content
  +button({
    label:"사업자명 검색",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"사업자명 검색",
    id:"fullLayer",
    type:"full",
    className:"webinf"
  })
    +content_group(1)
      +input_button({
        btnText:"검색",
        placeholder:"사업자명 검색",
        title:"사업자명 검색",
        className:"ico search"
      })
      .search_results
        .guide 
          p * 사업자명이 검색되지 않을 경우 직접 입력해주세요.
          +button_custom({
            type:"darkgray-28",
            label:"직접입력"
          })
        .lists 
          button 
            span.title 중앙증권㈜
            span.txt1 사업자번호 : 107-81-76756
            span.txt2 대표자명 : 홍길동
          button 
            span.title 중앙증권㈜
            span.txt1 사업자번호 : 107-81-76756
            span.txt2 대표자명 : 홍길동
        +button_more()
  script.
    GCui.modal('#fullLayer').show()