extends ../components/templates/base.pug


block prepend top 

block content
  +button({
    label:"버텀 트레이",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    id:"modal_bottom",
    className:"webinf",
    type:"bottom",
    isCloseBtn:false,
  })
    .sign
      +title({
        text:"전자서명 적용방식을 선택해주세요",
        lv:4,
      }) 
      .img 
        img(src="/src/images/img_inf14.svg", alt="")
      p.text
        | 계약체결을 위해 
        em 모바일 전자서명
        | 으로<br>자필서명을 진행합니다.
      a(rhef="").underline 개별서명하기
    +button_bottom_fixed()
      +button({
        label:"일괄 서명하기",
        size:"large",
      })

  script.
    GCui.modal('#modal_bottom').show()