extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "즉시이체"

block content
  +content_group(1)
    
    +title({
      text:"출금계좌",
      lv:4,
      className:"min_title"
    })
    +button_select_account({
      isMoney:true,
      isImg:true,
      
    })
  +content_group(1)
    +content_group(3)
      button.total_data
        span 
          | 총 
          em 2
          | 건
        span 
          em 80000000
          | 원
    +content_group(3)
      +form()
        +form_body({title:"받는 분"})
          +button_select({
            placeholder:"은행 선택",
            label:"한화저축은행"
          })
          +input({
            value:"000-000-00000",
            placeholder:"계좌번호 입력"
          })
          +button_custom({
            type:"timeselect-24",
            label:"최근ㆍ자주ㆍ내계좌"
          })
        +form_body({title:"보낼 금액"})
          +input({
            placeholder:"숫자만 입력"
          })
          +button_custom({
            type:"white-round-24",
            label:"이체한도",
          })
 
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
