extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webiba"
  - pageTitle = "계좌비밀번호 3회오류해제"

block content
  +content_group(1)
    +title({
      text:'계좌선택',
      lv:4,
    })
  
  +content_group(2)
    +button_select({
      placeholder:"계좌 선택",
      label:""
    })
    +content_group(1)
      +form()
        +form_body({title:"신규 계좌비밀번호"})
          +input({
            placeholder:"숫자 4자리",
            type:"password",
          })
        +form_body({title:"신규 계좌비밀번호 확인"})
          +input({
            placeholder:"숫자 4자리",
            type:"password",
          })
    
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"계좌비밀번호 오류 해제하실 계좌를 선택하신 후 확인을 누르시면, 처리가 완료됩니다.",
          },
        ]
      })
      
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary",
      disabled:"disabled"
    })