extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webiba"
  - pageTitle = "약관동의"

block content
  +content_group(1)
    +title({
      text:'계좌비밀번호오류해제 약관에<br>동의해주세요',
      lv:2,
    })
  
  +content_group(2)
    +agree_check({
      text:"전체 동의"
    })
      +agree_check({
        text:"[필수] 개인(신용)정보 수집 이용 제공 동의"
      })
      +agree_check({
        text:"[필수] 개인(신용)정보 제3자 제공 동의"
      })
      
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary",
      disabled:"disabled"
    })