extends ../components/templates/base.pug

block content
  +button({
    label:"직장명 검색",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"직장명 검색",
    id:"fullLayer",
    type:"full",
    className:"webinf"
  })
    +content_group(1)
      +input_button({
        btnText:"검색",
        placeholder:"직장명 검색",
        title:"직장명 검색",
        className:"ico search"
      })
      .search_guide_text
        +result({
          type:'null',
          mainText:"검색결과가 없습니다.",
          subText:"직장명이 검색되지 않을 경우,<br><span class=\"line\">직접입력</span> 해주세요.",
          img:"/src/images/ico_search_empty.svg",
        })
    +content_group(1)
      +button({
        label:"직접입력하기",
        size:"medium",
        type:"white",
      })
  script.
    GCui.modal('#fullLayer').show()