extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "즉시이체"

block content
  +form()
    +form_body({title:"받는 분"})
      +button_select({
        placeholder:"은행 선택",
        label:"한화저축은행"
      })
      +input({
        value:"000-000-00000",
        placeholder:"계좌번호 입력"
      })
    +form_body({title:"보낼 금액"})
      +input({
        value:"10,000,000",
        subfix:"원",
      })
      +button_custom({
        type:"white-round-24",
        label:"이체한도",
        className:"right_top"
      })
      .money_support
        span 1,000만 원
      +text({
        type:'warning',
        text:"이체수수료 발생시, 전액이체가 불가할 수 있습니다."
      })
  +button_keypad()
    +button_group({
      btns:[
        '+1만',
        '+5만',
        '+10만',
        '+100만',
      ]
    })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
