extends ../components/templates/base.pug

block prepend top
  - pageTitle = "거래내역조회"
  - mainClassName="webinq"
block content
  .card_topwrap
    +accountbox({
      accNameLink:"비대면 파킹통장 보통예금",
      accNum:"평생 010-1234-5678-12",
      endDate:"만기일 2023.04.12",
      accVal:"17,558,000",
      className:"main_card",
      btns: [
        {
          label:"입금"
        },
        {
          label:"계좌정보"
        }
      ],
      tags:[{
        text:"거래중지", type:"test111222"
      }]
    })
    button.inquiry_setting
      span 2023.01.01 ~ 2023.12.31
      span 일주일 · 전체 · 최근
      

  .inq_result
    +acc_results('acc_result2')
    +acc_results('acc_result2')
    +acc_results('acc_result2')
    +button_more()
    +result({
      type:'null',
      mainText:"거래내역이 없습니다.",
      img:"/src/images/ico_search_empty.svg",
    })