extends ../components/templates/base.pug

block content
  +button({
    label:"직장명 검색",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"직장명 검색",
    id:"fullLayer",
    type:"full",
    className:"webinf"
  })
    +content_group(1)
      +input_button({
        btnText:"검색",
        placeholder:"직장명 검색",
        title:"직장명 검색",
        className:"ico search"
      })
      .search_guide_text 
        p.text 직장명을 입력하여 검색해주세요.
  script.
    GCui.modal('#fullLayer').show()