extends ../components/templates/base.pug

block content
  +button({
    label:"사업자명 직접입력",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"사업자명 직접입력",
    id:"fullLayer",
    type:"full",
    className:"webinf"
  })
    +form()
      +form_body({title:"사업자명"})
        +input({
          placeholder:"사업자명 입력",
        })
      +form_body({title:"사업자번호"})
        +input_business()
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()