extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "신용대출/사잇돌"

block content
  +stepNum({
    total:5,
    activeIndex:3
  })
  +content_group(1)
    +title({
      text:'고객정보 입력',
      lv:2,
    })
    p.sub_txt 대출신청에 필요한 고객정보가 맞는지 확인 해주세요.
  +content_group(2)
    +title({
      text:'기본정보',
      lv:4,
    })
  
  +content_group(3)
    +form()
      +form_body({title:"이름"})
        +form_value({
          value:"김저축"
        })
      +form_body({title:"휴대폰번호"})
        +form_value({
          value:"010-1234-5678"
        })
      +form_body({title:"자택주소"})
        +input_button({
          btnText:"주소찾기",
          placeholder:"주소 검색",
        })
        +input({
          placeholder:"상세주소"
        })
    hr
    
  +content_group(0)
    +title({
      text:'직장정보',
      lv:4,
    })
  +content_group(3)
    +form()
      +form_body({title:"직장명"})
        +form_value({
          value:"(주)피노"
        })
      +form_body({title:"대표자명"})
        +form_value({
          value:"김성신"
        })
      +form_body({title:"사업자번호"})
        +form_value({
          value:"1234567890"
        })
      +form_body({title:"직장주소"})
        +form_value({
          value:"서울 마포구 양화로 11길 12, 6층"
        })
      +form_body({title:"입사일"})
        +form_value({
          value:"2020.01.01"
        })
      +form_body({title:"고용구분"})
        +button_select({
          placeholder:"고용구분 선택"
        })
    hr

  +content_group(0)
    +title({
      text:'소득정보',
      lv:4,
    })
  +content_group(3)
    +form()
      +form_body({title:"연소득"})
        +form_value({
          value:"1,000만원"
        })
      +form_body({title:"주거소유형태"})
        +form_value({
          value:"자가"
        })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary"
    })