extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#bottomLayer;'
  })
  +modal({
    title:"서류제출 방법 선택",
    id:"bottomLayer",
    type:"bottom",
  })
    .webinf
      .btn_wrap 
        button.ico_btn <strong>직접촬영</strong>휴대폰 카메라로<br>서류를 촬영하여 제출
        button.ico_btn <strong>파일선택</strong>휴대폰에 저장된<br>파일을 선택하여 제출


  script.
    GCui.modal('#bottomLayer').show()