extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "예적금담보대출"

block content
  +content_group(0)
    +result({
      dataType:"line",
      data:[
        {
          title:"예적금계좌번호",
          text:"310-61-24-0060854",
        },
        {
          title:"대출금액",
          text:"2,100,000 원",
        },
        {
          title:"인지세",
          text:"0원",
        },
        {
          title:"고객부담인지세",
          text:"0원",
        },
        {
          title:"입금계좌번호",
          text:"310-61-24-0060854",
        },
        {
          title:"대출기간",
          text:"3개월",
        },
        {
          title:"대출이율",
          text:"3.0%",
        },
        {
          title:"연체이율",
          text:"6.0%",
        },
        {
          title:"자동이체여부",
          text:"등록",
        },
        {
          title:"자동이체 출금계좌",
          text:"310-61-24-0060854",
        },
        {
          title:"자금용도구분",
          text:"생활안정자금",
        },
      ]
    })
    +content_group(1)
      +agree_check({
        text:"금융상품 중요사항 안내"
      })
      +agree_check({
        text:"[필수] 예적금담보대출 핵심설명서"
      })
      +agree_check({
        text:"[필수] 예적금담보대출 여신거래약정서"
      })
      +agree_check({
        text:"[필수] 예적금담보대출 질권설정계약서"
      })
  
    +button_bottom_fixed()
      +button({
        label:"다음",
        size:"large",
        disabled:"disabled"
      })