extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webiba"
  - pageTitle = "계좌비밀번호 변경"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"재등록<br>완료하였습니다.",
      subText:"계좌비밀번호가 재등록 되었습니다.",
      img:"/src/images/ico_finish.svg",
    })
  +content_group(0)
    +result({
      dataType:"line",
      data:[
        {
          title:"계좌명",
          text:"참알찬IBK저축은행보통예금",
        },
        {
          title:"계좌번호",
          text:"123-45-67890",
        }
      ]
    })
    
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
