extends ../components/templates/base.pug

block prepend top
  - pageTitle = "거래내역조회"
  - mainClassName="webinq"
block content
  +button({
    label:"바텀팝업 호출",
    muiToggle:'target:#modal_bottom;'
  })
  +modal({
    title:"조회설정",
    id:"modal_bottom",
    type:"bottom"
  })
    +form()
      +form_body({title:"조회기간"})
        +datepicker({
          placeholder:"기간 선택",
          quickBtn:true
        })
  
      +form_body({title:"거래유형"})
        +radioCheck({
          name:'btnType',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'전체',
              checked:true
            },
            {
              label:'입금'
            },
            {
              label:'출금'
            }
          ]
        })
    
      +form_body({title:"정렬순서"})
        +radioCheck({
          name:'btnType',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'최신순',
              checked:true
            },
            {
              label:'과거순'
            }
          ]
        })

    +button_wrap({
      className:'btn_bottom_wrap'
    })
      +button({
        label:"적용",
        size:'large'
      })
  script.
    GCui.modal('#modal_bottom').show()