extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "즉시이체"

block content
  +content_group(0)
    
    +result({
      type:'result',
      mainText:"정상적으로 처리되지 않은<br>이체결과가 있습니다.",
      subText:"오류 : <span class='error_msg'>건별이체결과를 반드시 확인해주십시오.</span>",
      img:"/src/images/ico_example2.png",
    })
  +content_group(0)
    +title({
      text:"이체 등록내역",
      lv:4,
    })
    +content_group(3)
      .total_data
        span 
          | 총 
          em 2
          | 건
        span 
          em 80000000
          | 원
    +content_group(3)
      .data_results
        +result({
          dataType:"line",
          data:[
            {
              title:"성공 건수",
              text:"<span class='confirm_msg'>1건</span>",
            },
            {
              title:"금액",
              text:"888,888,888원",
            },
          ]
        })
        +result({
          dataType:"line",
          data:[
            {
              title:"실패 건수",
              text:"<span class='confirm_msg'>1건</span>",
            },
            {
              title:"금액",
              text:"888,888,888원",
            },
          ]
        })
  +content_group(0)
    +title({
      text:"이체 결과",
      lv:4,
    })
    .data_results
      .inset_date
        .set_date
          span 이체1
        +result({
          dataType:"line",
          data:[
            {
              title:"결과",
              text:"<span class='confirm_msg'>정상</span>",
            },
            {
              title:"입금계좌",
              text:"중앙저축은행<br>125-45-67-8910112",
            },
            {
              title:"이체금액",
              text:"<em>10,000,000원</em>",
            },
            {
              title:"수수료",
              text:"0원",
            },
            {
              title:"받는분통장표시 ",
              text:"김저축(상상인저축은행)",
            },
            {
              title:"내 통장표시",
              text:"김저축",
            },
          ]
        })
          .bookmark_wrap
            button(type="button").bookmark
              span 자주쓰는계좌등록
            button(type="button").sms
              span SMS 전송
      .inset_date
        .set_date
          span 이체2
        +result({
          dataType:"line",
          data:[
            {
              title:"결과",
              text:"<span class='error_msg'>오류</span><div class=\"mui_tooltip_wrap\" mui-tooltip=\"text:이체 오류 메세지 출력 영역;\"><button class=\"mui_tooltip\" type=\"button\"><span class=\"hidden\">자세히 보기</span></button></div>",
            },
            {
              title:"입금계좌",
              text:"중앙저축은행<br>125-45-67-8910112",
            },
            {
              title:"이체금액",
              text:"<em>10,000,000원</em>",
            },
            {
              title:"수수료",
              text:"0원",
            },
            {
              title:"받는분통장표시 ",
              text:"김저축(상상인저축은행)",
            },
            {
              title:"내 통장표시",
              text:"김저축",
            },
          ]
        })
          .bookmark_wrap
            button(type="button").sms
              span SMS 전송
        +text({
          type:'warning',
          text:"거래 완료 후 이체결과조회를 확인하여 주시기 바랍니다."
        })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
