extends ../components/templates/base.pug




block content
  +button({
    label:"사업시작일",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    title:"사업시작일",
    id:"modal_bottom",
    type:"bottom"
  })
    +form()
      +form_body({title:"사업시작일"})
        +datepicker()
    +button_wrap()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#modal_bottom').show()