extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinq"
  - pageTitle = "예적금담보대출완료"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"김저축님의<br>예적금담보대출 신청이<br>완료되었습니다.",
      img:"/src/images/img_check.svg",
    })
  
  +content_group(1)
    +button({
      label:"대출정보 상세보기",
      size:"medium",
      type:"white",
    })

  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
