extends ../components/templates/base.pug

block prepend top
  - pageTitle = "거래내역조회"
  - mainClassName="webinq"
block content
  +content_group(1)
    .card_topwrap.pb24
      +accountbox({
        accNameLink:"비대면 파킹통장 보통예금",
        accNum:"평생 010-1234-5678-12",
        accVal:"17,558,000",
        className:"main_card",
        btns: [
          {
            label:"이체"
          },
          {
            label:"거래내역조회"
          }
        ],
        tags:[{
          text:"거래중지"
        }]
      })
  +content_group(1)
    .inq_result
      +acc_results('acc_result3')
      +acc_results('acc_result3')
      +acc_results('acc_result3')
      +button_more()