extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "예적금담보대출"

block content
  +content_group(0)
    <!-- 결과가 없는경우 -->
    +result({
        type:'null',
        mainText:"신청가능한 계좌가<br>없습니다.",
        img:"/src/images/ico_search_empty.svg",
      })
    <!-- //결과가 없는경우 -->