extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "온라인서류 직접제출"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"김저축님의<br>온라인서류제출이<br>완료되었습니다.",
      subText:"보내주신 서류 확인 검토 후<br>다시 연락 드리도록 하겠습니다.",
      img:"/src/images/ico_example2.png",
    })
  
  +content_group(1)
    +button({
      label:"온라인서류제출 조회",
      size:"medium",
      type:"white",
    })

  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
