extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "온라인서류 직접제출"

block content
  +title({
    text:"온라인서류 직접제출 안내",
    lv:2,
  })
  
  +content_group(3)
    +title({
      text:"파일등록을 선택하여 직접촬영 및<br>휴대폰에 저장된 파일을 선택해주세요.",
      lv:4,
    })
    .sub_title 첨부파일은 최대 10개까지 가능합니다.<br>JPG, PNG 파일만 첨부 가능합니다.
  
  +content_group(1)
    +button({
      label:"파일등록",
      size:"medium",
      type:"white",
    })

  +content_group(2)
    .total_file
      +title({
        text:"서류등록",
        lv:4,
      })
      strong 총 <em>0</em>건

  +content_group(3)
    .file_list
      .file_wrap 
        .file_name 
          strong 온라인서류제출 첨부파일.jpg
          button.btn_del
        .file_text
          +form()
            +form_body({title:"서류명"})
              +input({
                placeholder:"서류명 입력",
              })
          .img_wrap 
            img(src="/src/images/ico_example2.png", alt="")
      
      .file_wrap 
        .file_name 
          strong 온라인서류제출 첨부파일.jpg
          button.btn_del
        .file_text
          +form()
            +form_body({title:"서류명"})
              +input({
                placeholder:"서류명 입력",
              })
          .img_wrap 
            img(src="/src/images/ico_example2.png", alt="")

      .file_wrap 
        .file_name 
          strong 온라인서류제출 첨부파일.jpg
          button.btn_del
        .file_text
          +form()
            +form_body({title:"서류명"})
              +input({
                placeholder:"서류명 입력",
              })
          .img_wrap 
            img(src="/src/images/ico_example2.png", alt="")
    
  +button_bottom_fixed()
    +button({
      label:"제출하기",
      size:"large",
      disabled:true
    })