extends ../components/templates/base.pug




block content
  +button({
    label:"연금액",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    title:"연금액",
    id:"modal_bottom",
    type:"bottom"
  })
    +form()
      +form_body({title:"연금액"})
        +input_money({btns:["1만", "10만", "100만", "1,000만"],guideMoney:true})
        +text({
          type:'warning',
          text:"받고 있는 연금액의 월소득을 입력해주세요."
        })
    +button_wrap()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#modal_bottom').show()