extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "신용대출/사잇돌"

block content
  +stepNum({
    total:5,
    activeIndex:5
  })
  +content_group(1)
    +title({
      text:'신청정보 입력',
      lv:2,
    })
  +content_group(2)
    +title({
      text:'4. 고객소득정보',
      lv:4,
    })
  
  +content_group(2)
    .bank_product_details.long_type
      +title({
        text:"<em>직장인 신용대출</em>",
        lv:1,
      })
      p.sub_txt 재직중인 직장인을 위한 신용대출
      .detail
        .list 
          dl 
            dt 금리
            dd 연 1.3%
        .img 
          img(src="/src/images/img_prd.png", alt="보통예금 상품 이미지")
    
    +form()
      +form_body({title:"주거지정보(주거지소유여부)"})
        +radioCheck({
          name:'btnType',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'임차',
              checked:true
            },
            {
              label:'자가'
            }
          ]
        })
      +form_body({title:"연소득"})
        +input({
          placeholder:"숫자만 입력",
          subfix:"원"
        })
        .money_support
          strong 1,000만 원
        +button_group({
          className:"btn_money",
          btns:[
            '+1만',
            '+10만',
            '+100만',
            '+1000만',
          ]
        })
      +form_body()
        +radioCheck({
          type:"checkbox",
          name:'chk02',
          label:'권유직원'
        })
      +form_body()
        +input_button({
          btnText:"권유직원",
          placeholder:"직원찾기",
        })
      +form_body()
        +radioCheck({
          type:"checkbox",
          name:'chk03',
          label:'대출거절사유 고지 신청'
        })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary",
      disabled:"disabled"
    })