extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webirc"
  - pageTitle = "금리인하요구권"

block content
  +card_ico_list({
    src:"/src/images/ico_down_list01.png",
    text:"금리인하요구권 신청"
  })
  +card_ico_list({
    src:"/src/images/ico_down_list02.png",
    text:"금리인하요구권 조회/취소"
  })