extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "즉시이체"

block content
  +content_group(1)
    
    +title({
      text:"김저축님께 <em>100,000,000원</em>을 <br>이체하시겠습니까?",
      lv:2,
    })
    .grey_box_result
      dl 
        dt 출금계좌
        dd <span>상상인저축은행</span><br><span>330-691-13-1251909</span>
      dl 
        dt 총 수수료
        dd 0원
      span.dot
      //- p.acc_name 참알찬IBK저축은행보통예금
      //- p.acc_number 125-45-67-8910112
      //- span.dot
      //- .money 
      //-   p.name 총 수수료
      //-   p.number 
      //-     | 1,000,000
      //-     span 원
    +card({
      data: [
          {
              title:"받는분",
              text:"김중앙",
            },
            {
              title:"입금계좌",
              text:"중앙저축은행<br>125-45-67-8910112",
            },
            {
              title:"이체금액",
              text:"10,000,000원",
            },
            {
              title:"수수료",
              text:"면제",
            },
            {
              title:"받는 분에게 표시",
              text:"김저축(상상인저축은행)",
            },
            {
              title:"나에게 표시",
              text:"김저축",
            },
        ]
    })
    +content_group(3)
      .inner_closebtn 
        button.close_btn 
          span.hidden 삭제  
        +card({
            data: [
            {
              title:"받는분",
              text:"김중앙",
            },
            {
              title:"입금계좌",
              text:"중앙저축은행<br>125-45-67-8910112",
            },
            {
              title:"이체금액",
              text:"10,000,000원",
            },
            {
              title:"수수료",
              text:"면제",
            },
            {
              title:"받는 분에게 표시",
              text:"김저축(상상인저축은행)",
            },
            {
              title:"나에게 표시",
              text:"김저축",
            },
          ]
        })
    +content_group(3)
      +button({
        label:"추가이체",
        size:"medium",
        type:"white",
      })
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default",
    })
    +button({
      label:"확인",
      size:"large",
    })
