extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "대출한도조회"

block content
  .search_limit 
    .main_sec 
      +title({
        text:"내게 딱 맞는 대출상품<br>한도 조회부터<br>신청까지!",
        lv:2,
      })
      +button_custom({
        type:"timeselect-24",
        label:"유효 시간 12:24:31"
      })

    .guide_list 
      .list 
        .img 
          img(src="/src/images/img_inf02.svg", alt="")
        dl 
          dt 개인신용도 영향 없는<br>대출 한도 조회 서비스
          dd 개인신용평점에 절대 영향을 주지 않아요
      .list 
        .img 
          img(src="/src/images/img_inf03.svg", alt="")
        dl 
          dt 내게 맞는 대출 조건 바로 확인
          dd 한도와 금리를 확인 할 수 있어요.
      .list 
        .img 
          img(src="/src/images/img_inf04.svg", alt="")
        dl 
          dt 저축은행 방문없이 간편하게<br>대출신청
          dd 은행방문이나 서류제출 없이 바로<br>신청할 수 있어요.
  hr

  +title({
    text:"대출한도조회 이용절차",
    lv:4,
  })
  .joi_steps 
    ul 
      li 
        span.num 01
        span.text 본인인증
      li 
        span.num 02
        span.text 소득정보 입력
      li 
        span.num 03
        span.text 한도/금리 조회
      li 
        span.num 04
        span.text 대출상품 확인/신청
      li 
        span.num 05
        span.text 대출 승인 및 대출금 수령
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"대출 조건 조회 시 개인신용평점 하락에 영향을 미치지 않습니다. (단, 대출 실행 시 개인 신용평점이 하락할 수 있습니다.)",
          },
          {
            text:"당사를 통해 신용 조회 시, 총 조회건수는 1건으로 반영됩니다.",
          },
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"조회한 대출한도/금리 결과보기",
      size:"large",
    })

