extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "햇살론"

block content
  +stepNum({
    total:4,
    activeIndex:2
  })
  +content_group(1)
    +title({
      text:'신청정보 입력',
      lv:2,
    })
    p.sub_txt 대출신청을 위한 정보를 작성해주세요
  
  +content_group(2)
    +card({
      data: [
          {
            title:"대출가능한도",
            text:"<em><strong>3,000만원</strong></em>",
          },
          {
            title:"예상금리",
            text:"<em><strong>5.54%</strong></em>",
          }
        ]
    })
    hr

    +content_group(0)
      +form()
        +form_body({title:"자금용도"})
          +button_select({
            placeholder:"자금용도 선택",
            label:""
          })
          +input({
            placeholder:"직접입력"
          })
        +form_body({title:"대출신청금액", message:{type:"error"}})
          +input_money({
            message:{type:"error", text:"대출 최소신청금액은 10만원입니다."},
            btns:[
              '+1만',
              '+10만',
              '+100만',
              '+1000만',
            ],
            guideMoney:true
          })
          +text({
            type:'warning',
            text:"대출신청금액은 최대 1억원입니다."
          })
        +form_body({title:"대출신청기간"})
          +radioCheck({
            name:'btnType',
            type:"radio",
            className:'button_type',
            lists:[
              {
                label:'3년',
                checked:true
              },
              {
                label:'5년'
              }
            ]
          })
        +form_body({title:"금리변동주기선택"})
          +radioCheck({
            name:'btnType',
            type:"radio",
            className:'button_type',
            lists:[
              {
                label:'3개월',
                checked:true
              },
              {
                label:'6개월'
              },
              {
                label:'12개월'
              }
            ]
          })
        +form_body({title:"대출금 입금계좌정보"})
          +button_select({
            placeholder:"은행 선택",
          })
          +input_button({
            btnText:"계좌확인",
            placeholder:"계좌번호 입력",
            disabled:true,
          })
          +text({
            type:'warning',
            text:"기업은행 평생계좌번호(휴대폰번호로 구성된 계좌번호)는 입금계좌로 이용이 불가합니다."
          })
        +form_body({title:"CMS은행"})
          +button_select({
            placeholder:"은행 선택",
          })
          +text({
            type:'warning',
            text:"본인명의의 계좌만 등록이 가능합니다."
          })
        +form_body({title:"CMS계좌번호"})
          +input_button({
            btnText:"계좌확인",
            placeholder:"계좌번호 입력",
            disabled:false,
          })
          +text({
            type:'warning',
            text:"본인명의의 계좌만 등록이 가능합니다."
          })
          +radioCheck({
            name:'mini_type',
            type:"checkbox",
            className:'mini_type sub_etc',
            lists:[
              {
                label:'대출금 입금은행 계좌정보와 동일'
              }
            ]
          })
        //- +form_body()
        //-   +radioCheck({
        //-     type:"checkbox",
        //-     name:'chk02',
        //-     label:'권유직원'
        //-   })
        //-   +input_button({
        //-     btnText:"직원찾기",
        //-     placeholder:"권유직원",
        //-   })
        +form_body()
          +radioCheck({
            type:"checkbox",
            name:'chk03',
            label:'대출거절사유 고지 신청'
          })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary",
      disabled:"disabled"
    })