extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webirc"
  - pageTitle = "금리인하요구권 신청"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"금리인하요구권이란?",
      subText:"대출거래 약정 당시와 비교하여 신용상태 개선 등<br>일정한 요건을 충족하는 경우에 약정금리 인하를 요구할<br>수 있는 권리를 말합니다.<br>약정기간 중 신용상태에 현저한 변동이 발생한 경우<br>은행에 증빙자료를 제출하고 금리인하를<br>요청할 수 있습니다. 다만, 심사결과에 따라 대출금리가<br>인하되지 않을 수 있습니다.",
      img:"/src/images/ico_example2.png",
    })
  
  hr
  
  +content_group(0)
    +title({
      text:'대상고객',
      lv:4,
    })
    .guide_wrap
      +textLists({
        type:'dot',
        lists:[
          {
            text:"<strong class='tit'>가계대출</strong>",
            subLists:{
              type:'num',
              lists:[
                {
                  text:"차주의 직장변동이 있는 경우<br><span class='txt'>예) 무직에서 취업한 경우, 중소기업에서 대기업, 정부기관 등으로 이작한 경우</span>"
                },
                {
                  text:"동일 직장내 차주의 직위(직급)이 상승한 경우"
                },
                {
                  text:"차주의 신용등급이 개선된 경우."
                },
                {
                  text:"차주가 우수고객으로 선정된 경우."
                },
                {
                  text:"차주의 연소득 또는 재산이 일정비율 이상 증가한 경우."
                },
                {
                  text:"차주가 전문직 자격증을 취득하고 현업에 종하사게 된 경우<br><span class='txt'>예) 변호사, 공인회계사, 세무사, 변리사, 의사, 한의사 등</span>"
                },
                {
                  text:"기타 대표이사가 별도로 정하는 경우 등"
                },
              ]
            }
          },
          {
            text:"<strong class='tit'>기업대출</strong>",
            subLists:{
              type:'num',
              lists:[
                {
                  text:"차주의 재무상태가 개선된 경우"
                },
                {
                  text:"차주의 회사채 등급이 상승한 경우"
                },
                {
                  text:"차주가 사업에 핵심 경쟁력으로 반영할 수 있는 특허 취득"
                },
                {
                  text:"차주가 추가 담보를 제공한 경우"
                },
                {
                  text:"기타 대표이사가 별도로 정하는 경우 등"
                },
              ]
            }
          }
        ]
      })
    +text({
      type:'warning',
      text:"보험계약대출, 집단대출, 리스, 신차할부 등 차주의 신용상태와 관계없이 금리가 결정되는 대출상품 및 햇살론 등 정책자금대출은 적용대상에서 제외"
    })

  +content_group(0)
    +title({
      text:'신청절차',
      lv:4,
    })
    .guide_wrap
      +textLists({
        type:'dot',
        lists:[
          {
            text:"<strong class='tit'>고객은 금리인하 요구 행사요건을 입증할 수 있는 증빙자료 등을 제출</strong>",
          },
        ]
      })
      +textLists({
        type:'dot',
        lists:[
          {
            text:"<strong class='tit'>저축은행은 신청 접수일로부터 10영업일 이내애 처리 결과를 본인에게 안내(유선 SMS, E-Mail 등)</strong>",
            subLists:{
              type:'num',
              lists:[
                {
                  text:"고객: 신청서 및 증명자료 제출"
                },
                {
                  text:"저축은행: 금리인하 적정여부 심사"
                },
                {
                  text:"저축은행: 결과통지"
                }
              ]
            }
          },
        ]
      })
    +text({
      type:'warning',
      text:"기타 자세한 사항은 해당 저추은행 영업정에 문의하여 주시기 바랍니다."
    })
      
  +button_bottom_fixed()
    +button({
      label:"신청하기",
      size:"large",
    })