extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +stepNum({
    total:4,
    activeIndex:2
  })
  +content_group(0)
    +title({
      text:"약관 동의",
      lv:1,
    })
    +content_group(2)
      +agree_check({
        text:"[필수] 대출상품설명서",
        isChecked:false
      })
      +agree_check({
        text:"전체 동의"
      })
        +agree_check({
          text:"[필수]  개인(신용)정보 수집·이용·제공 동의서"
        })
        +agree_check({
          text:"[필수]  개인(신용)정보 수집·이용·제공 ·조회 동의서"
        })
        +agree_check({
          text:"[필수] 서민금융진흥원 동의서(햇살론)"
        })
        +agree_check({
          text:"[필수] 서울보증보험 동의서(사잇돌)"
        })
        +agree_check({
          text:"[필수] 개인(신용)정보 수집·이용·제공에 관한 고객권리안내문"
        })
        +agree_check({
          text:"[필수]  대출 거절사유 고지에 대한 동의"
        })
        +agree_check({
          text:"[필수]  전문상담원 상담 신청에 대한 동의"
        })
        +agree_check({
          text:"[필수] 고객확인CDD 고객정보 수집 근거조항 안내"
        })
      
      +agree_check({
        text:"[선택] 개인(신용)정보 수집·이용·제공 동의서 [상품서비스 안내 등]",
        className:"chk_lists"
      })
        +radioCheck({
          name:'checklist',
          lists:[
            {
              label:'전체',
              checked:true
            },
            {
              label:'SMS'
            },
            {
              label:'전화'
            },
            {
              label:'이메일'
            },
            {
              label:'우편'
            }
          ]
        })
    
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      disabled:"disabled"
    })