extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "온라인서류제출 조회"

block content
  +tabsWrap({
    active:0,
    className:""
  })
    +tab("온라인서류직접제출")
      .sorting
        +data_sort({
          date:"2023.03.02~2023.03.08",
          isBtn:true
        })
      +content_group(2)
        +card({
          isLinked:true,
          title:"제출서류 선택",
          data: [
              {
                title:"서류제출용도",
                text:"대출",
              },
              {
                title:"처리상태",
                text:"검토중",
              },
              {
                title:"제출일시",
                text:"yyyy.mm.dd 00:00",
              },
            ]
        })

        +card({
          isLinked:true,
          title:"제출서류 선택",
          data: [
              {
                title:"서류제출용도",
                text:"예금",
              },
              {
                title:"처리상태",
                text:"검토완료",
              },
              {
                title:"제출일시",
                text:"yyyy.mm.dd 00:00",
              },
            ]
        })

        +card({
          isLinked:true,
          title:"제출서류 선택",
          data: [
              {
                title:"서류제출용도",
                text:"기타",
              },
              {
                title:"처리상태",
                text:"검토완료",
              },
              {
                title:"제출일시",
                text:"yyyy.mm.dd 00:00",
              },
            ]
        })
      +button_more()

    +tab("온라인서류자동제출")
      .sorting
        +data_sort({
          date:"2023.03.02~2023.03.08",
          isBtn:true
        })
      +content_group(2)
        +card({
          isLinked:true,
          title:"제출서류 선택",
          data: [
              {
                title:"서류제출용도",
                text:"예금",
              },
              {
                title:"처리상태",
                text:"검토완료",
              },
              {
                title:"제출일시",
                text:"yyyy.mm.dd 00:00",
              },
            ]
        })

        +card({
          isLinked:true,
          title:"제출서류 선택",
          data: [
              {
                title:"서류제출용도",
                text:"기타",
              },
              {
                title:"처리상태",
                text:"검토완료",
              },
              {
                title:"제출일시",
                text:"yyyy.mm.dd 00:00",
              },
            ]
        })
      +button_more()