extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf flex_top_bot"
  - pageTitle = "햇살론"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"<em>김중앙</em>님의<br>대출가능한도를 조회했어요.",
      img:"/src/images/ico_example2.png",
    })
  +content_group(0)
    +result({
      dataType:"line",
      data:[
        {
          title:"대출가능한도",
          text:"<em>3,000만원</em>",
        },
      ]
    })
    
  +text({
    type:'warning',
    text:"대출가능한도는 실제 대출금액과 다를 수 있습니다.",
    className:"flex_bot"
  })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
