extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "대출신청"

block content
  .inf_result
    p.text_main 한도조회결과
    +title({
      text:"<em>더케이-햇살론</em><br>상품의 대출가능 한도는<br>3,000만원입니다.",
      lv:2,
    })
    .ico_block.type1
  
    +card({
      data: [
          {
            title:"대출한도",
            text:"<em class=\"big\"><strong>3,000만원</strong></em>",
          },
          {
            title:"대출금리",
            text:"<em class=\"big\"><strong>5.7%</strong></em>",
          }
        ]
    })
    +text({
      type:'warning',
      text:"대출가능한도금액은 실제 대출가능금액과 다를 수 있습니다."
    })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })