extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "전자약정"

block content
  +content_group(0)
    +stepNum({
      total:5,
      activeIndex:2
    })
  +content_group(0)
    +title({
      text:"약정내용확인",
      lv:2,
    })
    .text_wrap
      +text({
        text:"선택하신 대출의 전자약정 내용을 확인해 주세요."
      })
  +content_group(2)
    +result({
      dataType:"line",
      data:[
        {
          title:"대출상품",
          text:"직장인 신용대출",
        },
        {
          title:"대출금액",
          text:"10,000,000원",
        },
        {
          title:"정상이율",
          text:"13%",
        },
        {
          title:"대출시작일",
          text:"2023.05.04",
        },
        {
          title:"대출만기일",
          text:"대출시작일로부터 N개월",
        },
        {
          title:"지연배상금여부",
          text:"있음",
        },
        {
          title:"상환방법",
          text:"원금균등분할",
        },
      ]
    })
  hr
  +title({
    text:"서명이 완료된 약정서를 받으실 이메일을 입력해주세요",
    lv:4,
  })
  +content_group(2)
    +form()
      +form_body({title:"이메일"})
        +input({
          placeholder:"이메일 입력"
        })
        +text({
          type:'warning',
          text:"이메일은 서명이 완료된 약정서에 한해 고객님께 발송되오니 정확하게 기입해 주세요."
        })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })