extends ../components/templates/base.pug

block content
  +button({
    label:"클릭!",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    title:"첨부파일상세",
    id:"fullLayer",
    type:"full",
  })
    div(
      style="width:100%; height:calc(100vh - 212px); background:#ccc"
    ) 첨부파일 상세영역
    +footer()
      +button_bottom_fixed()
        +button({
          label:"삭제",
          size:'large',
        })

  script.
    GCui.modal('#fullLayer').show()