extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "신용대출/사잇돌"

block content
  +stepNum({
    total:5,
    activeIndex:3
  })
  +content_group(1)
    +title({
      text:'신청정보 입력',
      lv:2,
    })
  +content_group(2)
    +title({
      text:'2. 고객추가정보',
      lv:4,
    })
  
  +content_group(2)
    +form()
      +form_body({title:"고용구분"})
        +button_select({
          placeholder:"고용구분 선택",
        })
      +form_body({title:"직업분류"})
        +button_select({
          placeholder:"직업분류 선택",
        })
      +form_body({title:"직업구분"})
        +button_select({
          placeholder:"직업구분 선택",
        })
        +input({
          placeholder:"직접입력",
        })
      +form_body({title:"직종"})
        +button_select({
          placeholder:"직종 선택",
        })
      +form_body({title:"개인거래목적"})
        +button_select({
          placeholder:"개인거래목적 선택",
        })
      +form_body({title:"걸제구분"})
        +radioCheck({
          type:"checkbox",
          name:'chk01',
          className:'mini_type',
          lists:[
            {label:'보험료납부',},
            {label:'공과금납부',},
            {label:'카드납부',},
          ]
        })
      +form_body({title:"거래자금원천"})
        +button_select({
          placeholder:"거래자금원천 선택",
        })
      +form_body({title:"자금용도"})
        +button_select({
          placeholder:"자금용도 선택",
        })
        +input({
          placeholder:"직접입력",
        })
    hr
    +content_group(0)
      +title({
        text:"가입하시는 상품의 명의인,<br><em>실소유인이 본인</em>이십니까?",
        lv:4,
      })
    +content_group(3)
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'본인 맞습니다.',
            checked:true
          },
          {
            label:'본인이 아닙니다.'
          }
        ]
      })
    +content_group(0)
      +title({
        text:"자택주소가 현재 <em>거주하시는 장소</em>입니까?",
        lv:4,
      })
    +content_group(3)
      +radioCheck({
        name:'btnType1',
        type:"radio",
        className:'block_type',
        lists:[
          {
            label:'예'
          },
          {
            label:'아니오',
            checked:true
          }
        ]
      })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary",
      disabled:"disabled"
    })