extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "전자약정"

block content
  +content_group(0)
    +title({
      text:"전자약정 작성 절차를 확인하시고 진행해주세요.",
      lv:2,
    })
  +content_group(2)
    +title({
      text:"전자약정 작성 절차",
      lv:4,
    })
    .joi_steps 
      ul 
        li 
          span.num 01
          span.text 실명/본인 인증
        li 
          span.num 02
          span.text 전자약정 목록
        li 
          span.num 03
          span.text 약정내용 확인
        li 
          span.num 04
          span.text 전자서명
        li 
          span.num 05
          span.text 전자약정완료
    
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })