extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - showHeader = false

block content
  .loading 
    .inset
      .img 
        img(src="/src/images/loading.png", alt="")
      .progress
        p.text 25%

      p.title
        em 고객님의 직장/소득정보를<br>조회하고 있어요.
      p.text 대출금리와 한도 조회는 신용점수에<br>영향을 주지 않아요.