extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "온라인서류 직접제출"

block content
  +title({
    text:"고객정보확인",
    lv:2,
  })
  .sub_title 대출신청에 필요한 고객정보가 맞는지 확인 해주세요.
  
  +content_group(2)
    +title({
      text:"기본 정보",
      lv:4,
    })
  
  +content_group(2)
    +form()
      +form_body({title:"이름"})
        +form_value({
          value:"김저축"
        })
      +form_body({title:"휴대폰번호"})
        +form_value({
          value:"010-1234-5678"
        })
    +content_group(2)
      .linkbtn_wrap
        +text({
          type:'link',
          text:"휴대폰번호가 변경되었나요?"
        })
  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large"
    })