extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webiba flex_top_bot"
  - pageTitle = "계좌비밀번호 3회오류해제"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"계좌비밀번호 3회<br>오류해제를 완료되었습니다.",
      img:"/src/images/ico_example2.png",
    })
  +content_group(0)
    +result({
      dataType:"line",
      data:[
        {
          title:"변경계좌",
          text:"123-45-67890",
        }
      ]
    })
    
  +text({
    type:'warning',
    text:"계좌 비밀번호가 변경되었으니, 해당 계좌와 관련된 모든 은행 업무에 참고하여 주시기 바랍니다.",
    className:"flex_bot"
  })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
