extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinq"
  - pageTitle = "대출신청조회"

block content
  +title({
    text:"대출신청상세",
    lv:2,
  })
  +content_group(2)
    +result({
      dataType:"line",
      data:[
        {
          title:"비대면 거래번호",
          text:"20170505055555000",
        },
        {
          title:"저축은행",
          text:"예가람저축은행(325)",
        },
        {
          title:"진행상태",
          text:"심사완료",
        },
        {
          title:"대출 상품종류",
          text:"신용대출",
        },
        {
          title:"대출상품",
          text:"직장인 신용대출(760051)",
        },
        {
          title:"대출 신청 금액",
          text:"1,000,000원",
        },
        {
          title:"대출 신청기간",
          text:"24개월",
        },
        {
          title:"대출 신청 개시일",
          text:"2024.01.01",
        },
        {
          title:"대출 예정 만기일",
          text:"2024.01.01",
        },
      ]
    })
    +text({
      type:'warning',
      text:"심사가 완료되면 전자약정 메뉴를 통해 대출을 완료하실 수 있습니다."
    })

  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default"
    })
    +button({
      label:"전자약정하기",
      size:"large"
    })