extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinq"
  - pageTitle = "예적금담보대출신청조회"

block content
  +title({
    text:"예적금담보대출 신청상세",
    lv:2,
  })
  .sub_txt 선택하신 대출의 내용을 확인해주세요.
  +content_group(2)
    +title({
      text:"내용 확인",
      lv:4,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"예적금계좌번호",
          text:"123-12-45-1234565",
        },
        {
          title:"대출금액",
          text:"2,000,000원",
        },
        {
          title:"입출금계좌번호",
          text:"310-01-13-1234567",
        },
        {
          title:"만기일자",
          text:"2024.10.10",
        },
        {
          title:"자동이체등록여부",
          text:"등록",
        },
        {
          title:"자동이체출금계좌",
          text:"310-01-13-1234567",
        },
        {
          title:"요청시간",
          text:"17:07",
        },
        {
          title:"승인시간",
          text:"18:07",
        }
      ]
    })
    +text({
      type:'warning',
      text:"심사중의 경우 새로고침 버튼을 통해 대출실행이 가능한지  확인해주세요."
    })
    +text({
      type:'warning',
      text:"심사가 완료되면 대출실행을 완료하실 수 있습니다."
    })
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default"
    })
    +button({
      label:"새로고침<img class=\"ico\" src=\"/src/images/ico_refresh.png\" alt=\"\">",
      size:"large"
    })