extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +stepNum({
    total:3,
    activeIndex:1
  })
  +content_group(0)
    +title({
      text:"적합성·적정성 확인서",
      lv:1,
    })
    +content_group(2)
      +form()
        +form_body({title:"총 부채"})
          +button_select({
            placeholder:"부채 선택",
            label:""
          })
        +form_body({title:"신용점수"})
          +button_select({
            placeholder:"신용점수 선택",
            label:""
          })
        +form_body({title:"대출금 변제방법"})
          +button_select({
            placeholder:"변제방법 선택",
            label:""
          })
        +form_body({title:"고정지출비용"})
          +button_select({
            placeholder:"고정지출비용 선택",
            label:""
          })
    
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })