extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +stepNum({
    total:5,
    activeIndex:2
  })
  +content_group(0)
    +title({
      text:"약관 동의",
      lv:1,
    })
    +content_group(2)
      +agree_check({
        text:"[필수] 대출상품설명서",
        isChecked:false
      })
      +agree_check({
        text:"전체 동의"
      })
        +agree_check({
          text:"[필수]  개인(신용)정보 수집·이용·제공 동의서 [여신(금융)거래]"
        })
        +agree_check({
          text:"[필수]  개인(신용)정보 수집·이용·제공 ·조회 동의서"
        })
        +agree_check({
          text:"[필수] 개인(신용)정보 제3자 제공 동의서(비여신, 여신 공통)"
        })
        +agree_check({
          text:"[필수] 개인(신용)정보 제3자 제공 동의서 [통신관련정보]"
        })
        +agree_check({
          text:"[필수] 계약 체결·이행을 위한 상세 동의서 (개인금융성 신용보험용)"
        })
        +agree_check({
          text:"[필수]  개인(신용)정보 수집·이용·제공 ·조회 동의서(신용보증 신청용)"
        })
        +agree_check({
          text:"[필수]  개인(신용)정보 조회 동의서(서민금융진흥원)"
        })
        +agree_check({
          text:"[선택] 개인(신용)정보 수집·이용 동의서(보증료 우대 서비스)"
        })
        +agree_check({
          text:"[선택] 개인(신용)정보 수집·이용 동의서(상품서비스 안내 등)"
        })
      
      +agree_check({
        text:"[선택] 개인(신용)정보 수집·이용·제공 동의서 [상품서비스 안내 등]",
        className:"chk_lists"
      })
        +radioCheck({
          name:'checklist',
          lists:[
            {
              label:'전체',
            },
            {
              label:'SMS'
            },
            {
              label:'전화'
            },
            {
              label:'이메일'
            },
            {
              label:'우편'
            }
          ]
        })
      +content_group(1)
        +radioCheck({
          type:"radio",
          name:'chk320086',
          label:'위와 같이 대출신청을 하며, 상기 상담내용에 허위사실이 있을 경우, 대출신청이 부결 될 수 있음을 확인합니다.'
        })
    
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      disabled:"disabled"
    })