extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "대출한도조회"

block content
  +content_group(1)
    +result({
      type:'result',
      mainText:"안타깝게도 대출한도가<br>조회되지 않아 대출상품을<br>찾을 수없네요",
      img:"/src/images/ico_error.png",
    })
  .loan_wrap 
    .status
      .card_box_gray
        p <strong>다른 조건으로 조회해볼까요?</strong><br>조회 기록이 한번 더 발생합니다.
        +button({
          label:"다시 조회하기",
          size:"small",
          type:"darkgray-28",
        })
      .card_box_gray
        p <strong>대출 전문상담원이 연락드립니다.</strong><br>상담가능시간 09:00~18:00
        +button({
          label:"상담 신청하기",
          size:"small",
          type:"darkgray-28",
        })