extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - showHeader = false

block content
  .loading 
    +title({
      text:"<em>키움저축은행</em>으로부터<br>금리와 한도를 받아오고 있어요.",
      lv:2,
    })

    .inset
      .img 
        <lottie-player src="/src/images/ani_webinf02.json" speed="1" autoplay loop></lottie-player>
      +content_group(0)
        +text({
          type:'warning',
          text:"대출금리와 한도 조회는 신용점수에 영향을 주지 않아요."
        })