extends ../components/templates/base.pug
block prepend top 
  - mainClassName="webinf"
  - pageTitle = "대출한도조회"

block content
  +stepNum({
    total:5,
    activeIndex:3
  })
  +content_group(1)
    +title({
      text:"소득 조회 방식 선택",
      lv:2,
    })
    p.sub_title 대출한도 조회를 위해 직장/소득 정보를 입력해주세요.
  +content_group(2)
    +radioCheck({
      type:"radio",
      name:'block_type',
      className:'block_type certi_type',
      lists:[
        {
          label:'<span>공공마이데이터 소득 조회를 위한</span><br><strong>금융인증서 인증하기</strong>'
        },
        {
          label:'<span>직장  및 소득 조회 없이</span><br><strong>직접 입력하기</strong>',
        }
      ]
    })
    

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })