extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "예적금담보대출"

block content
  +title({
    text:"예적금 계좌번호",
    lv:4,
  })
  .card_box
    .mui_card_list.no_img
      span.text 계좌번호
      span.acc_num 000-00-00-00000
  +content_group(0)
    +form()
      +form_body({title:"자금용도"})
        +button_select({
          placeholder:"자금용도 선택"
        })
      +form_body({title:"대출신청금액"})
        +input({
          placeholder:"숫자만 입력",
          subfix:"원"
        })
        .money_support
          strong 1,000만 원
        +button_group({
          className:"btn_money",
          btns:[
            '+10만',
            '+50만',
            '+100만',
            '+1천만',
            '전액',
          ]
        })
      +form_body({title:"대출기간"})
        +radioCheck({
          name:'btnType',
          type:"radio",
          className:'button_type',
          lists:[
            {
              label:'요청개월',
              checked:true
            },
            {
              label:'만기일자'
            }
          ]
        })
        <!-- 요청개월 선택시 -->
        +input({
          placeholder:"숫자만 입력",
          subfix:"개월"
        })
        <!-- //요청개월 선택시 -->
        <!-- 만기일자 선택시 -->
        +datepicker({
          quickBtn:false,
          value:""
        })
        <!-- //만기일자 선택시 -->
      +form_body({title:"대출방식"})
        +radioCheck({
          type:"radio",
          name:'chk002961',
          lists:[
            {
              label:'건별대출',
              checked:true
            },
          ]
        })
      +form_body({title:"대출입금(한도등록) 계좌"})
        +button_select({
          placeholder:"계좌선택",
        })
      +form_body({title:"자동이체등록"})
        +radioCheck({
          type:"radio",
          name:'chk529497',
          lists:[
            {
              label:'예',
            },
            {
              label:'아니요',
            },
          ]
        })
        +button_select({
          placeholder:"자동이체 출금계좌 선택",
        })
  
    +button_bottom_fixed()
      +button({
        label:"다음",
        size:"large",
        disabled:"disabled"
      })