extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "즉시이체결과조회"

block content
  +title({
    text:"즉시이체정보",
    lv:4,
  })
  +result({
    dataType:"line",
    data:[
      {
        title:"결과",
        text:"<span class='confirm_msg'>정상</span><span class='error_msg'>오류</span>",
      },
      {
        title:"입금계좌",
        text:"중앙저축은행<br>125-45-67-8910112",
      },
      {
        title:"이체금액",
        text:"<em>10,000,000원</em>",
      },
      {
        title:"수수료",
        text:"0원",
      },
      {
        title:"거래일시",
        text:"2020.01.01 11:12:13",
      },

    ]
  })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })