extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "금융계산기"

block content
  +tabsLink({
    list:[		
      {name:"예금이자"},
      {name:"적금이자"},
      {name:"대출이자", active:true},
    ],
  })
    +content_group(2)
      +form()
        +form_body({title:"대출금리"})
          +input({
            placeholder:"숫자만 입력",
            subfix:"%"
          })
        +form_body({title:"대출금액"})
          +input({
            placeholder:"숫자만 입력",
            subfix:"원"
          })
          .money_support
            strong 1,000만 원
          +button_group({
            className:"btn_money",
            btns:[
              '+100만',
              '+500만',
              '+1천만',
              '+5천만',
              '+1억',
            ]
          })
        +form_body({title:"대출기간"})
          +input({
            placeholder:"숫자만 입력",
            subfix:"개월"
          })
        
        +form_body({title:"대출상환방식"})
          +radioCheck({
            name:'btnType',
            type:"radio",
            className:'button_type',
            lists:[
              {
                label:'원금 균등',
                checked:true
              },
              {
                label:'원리금 균등'
              },
              {
                label:'만기일시상환'
              }
            ]
          })
          +button_custom({
            type:"white-round-24",
            label:"상환방법 안내",
            className:"right_top"
          })
      
    +content_group(1)
      +button({
        label:"계산하기",
        size:"medium",
        type:"white",
        className:"mui_button_custom",
        disabled:true
      })
    hr
    div.calc_result
      +title({
        text:"계산결과",
        lv:4,
      })
      +content_group(3)
        +card({
          isLinked:false,
          data: [
              {
                title:"상환일자",
                text:"2024년 06월 29일",
              },
            ]
        })
      +content_group(1)
        +accordion({
          active:0,
          className:'type2'
        })
          +acc_title('1회차')
          +acc_content()
            +result({
              dataType:"default",
              className:"greybox",
              data:[
                {
                  title:"일수",
                  text:"30일",
                },
                {
                  title:"상환원금",
                  text:"833,333원",
                },
                {
                  title:"이자",
                  text:"40,000원",
                },
                {
                  title:"납입합계",
                  text:"800,000원",
                },
                {
                  title:"대출잔액",
                  text:"9,164,369원",
                },
              ]
            })
          +acc_title('2회차')
          +acc_content()
            +result({
              dataType:"default",
              className:"greybox",
              data:[
                {
                  title:"일수",
                  text:"30일",
                },
                {
                  title:"상환원금",
                  text:"833,333원",
                },
                {
                  title:"이자",
                  text:"40,000원",
                },
                {
                  title:"납입합계",
                  text:"800,000원",
                },
                {
                  title:"대출잔액",
                  text:"9,164,369원",
                },
              ]
            })
      +collapse({
        className:"guide_text",
        isOpen:true,
      })
        +header()
          p.title 알아두세요
        +content()
          +textLists({
            type:'guide',
            lists:[
              {
                text:"상품 특성에 따라 상환(이자)금액 및 일정 등은 달라질 수 있으므로 상기 결과는 참고용으로 확인 하시기 바랍니다.",
              },
            ]
          })