extends ../components/templates/base.pug


block prepend top 

block content
  +button({
    label:"모달호출",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    title:"",
    id:"modal_bottom",
    type:"bottom",
    className:"webinf",
    isCloseBtn:false
  })
    .notice 
      .img 
        img(src="/src/images/ico_suitability.png", alt="")
      +content_group(3)
        strong.tit 대출 적합성 미완료
      p.sub_text02 대출 적합성 진단 결과 <span>등록처리가<br>미완료</span> 되었습니다.
      +content_group(3)
        strong.tit 결과 통보 후 다시 거래해주세요.
    +text({
      type:'warning',
      text:"대출계약을 위해서는 적합성 등록이 완료되어야 합니다."
    })
    
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })

  script.
    GCui.modal('#modal_bottom').show()