extends ../components/templates/base.pug

block content
  +button({
    label:"휴대폰 본인인증",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    isCloseBtn:false,
    className:"webiba pop"
  })
    +result({
      type:'result',
      mainText:"장기미접속해제 안내",
      img:"/src/images/ico_search_empty.svg",
      className:"lv2"
    })
    p.txts 아래의 <em>안내사항</em>을 확인해주시기 바랍니다.
    +textLists({
      type:'guide',
      lists:[
        {
          text:"장기미접속으로 로그인 안될 시에 이용 가능한 거래입니다.",
        },
        {
          text:"현재 사용중인 보안매체를 사용할 수 없는 경우 추가인증(예:전화 ARS/스마트폰앱) 절차를 통해 장기미접속해제 해주시기 바랍니다.",
        },
        {
          text:"본인의 전자금융(ID, 비밀번호) 및 계좌정보를 모르는 고객은 영업점 방문을 통해서 장기미접속해제가 가능합니다.",
        },
      ]
    })
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()