extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +stepNum({
    total:4,
    activeIndex:1
  })
  +content_group(0)
    +title({
      text:"적합성·적정성 확인서",
      lv:1,
    })
    .text_wrap
      +text({
        type:'default',
        text:"본 확인서는 「금융소비자 보호에 대한 법률」 제 17조(적합성원칙) 및  제18조(적정성원칙)에 따라 귀하의 연령, 재산상황, 대출계약의 목적 등을 파악하여 대출계약자에게 가장 적합한 대출계약 체결을 권유하기 위한 기초자료로 활용됩니다. 허위 또는 불성실한 답변을 하시는 경우 부적합한 대출계약을 권유하게 될 수 있으며, 이로 인해 발생하는 모든 손해는 계약자 본인에게 귀속되오니 유념하여 주시기 바랍니다."
      })
  .inf_wrap
    .inf_tit 금융소비자 유형
      +button_tooltip('전문금융소비자란 “국가기관, 한국은행, 금융기관, 상시근로자 5인 이상의 법인, 대출모집인 등＂을 의미합니다.')
    +radioCheck({
      name:'btnType',
      type:"radio",
      className:'button_type',
      lists:[
        {
          label:'일반금융소비자'
        },
        {
          label:'전문금융소비자'
        }
      ]
    })
    +text({
      type:'warning',
      text:"대출이자납입은 <span>은행명</span> 앱에서 이용할 수 있습니다."
    })

  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"본 인증서비스는 대출상담사를 통해 당사 대출상품에 대한 대출신청을 완료한 고객님들께서 이용하는 본인인증 서비스 절차입니다."
          },
          {
            text:"대출신청을 완료하지 않은 고객님께서는 반드시 대출신청을 완료한 후 서비스를 이용바랍니다."
          },
        ]
      })
  
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })