extends ../components/templates/base.pug

block prepend top
  - pageTitle = "거래내역조회"
  - mainClassName="webinq"
block content
  +button({
    label:"바텀팝업 호출",
    muiToggle:'target:#modal_bottom;'
  })
  +modal({
    title:"자동재예치 안내",
    id:"modal_bottom",
    type:"bottom"
  })
    
    strong.txt_pop 자동재예치 등록이 가능한 계좌입니다.<br>
      span.main_color01 자동재예치 등록
      |을 하시겠어요?
    p.info_txt.icon_type 만기자동재예치 등록은
      span.main_color01 만기일 21시까지
      |만 가능합니다.
    
    +button_wrap({
      className:'btn_bottom_wrap'
    })
      +button({
        label:"확인",
        size:'large'
      })