extends ../components/templates/base.pug

block content
  +button({
    label:"온라인햇살론신청",
    muiToggle:'target:#fullLayer;'
  })
  +modal({
    id:"fullLayer",
    type:"bottom",
    isCloseBtn:false,
    className:"webinf"
  })
    .signupguide_wrap
      +content_group(2)
        +title({
          text:"<em>신용대출 신청</em>을 위해 아래 사항을 사전에 미리 준비해주세요.",
          lv:4,
        })
      +content_group(2)
        .signup_guide 
          ul
            li 
              .img 
                img(src="/src/images/ico_suitability1.svg", alt="")
              p.text 
                strong 신분증 
                | (주민등록증 또는 운전면허증)
            //- li 
            //-   .img 
            //-     img(src="/src/images/ico_suitability2.svg", alt="")
            //-   p.text 
            //-     strong 본인 명의 휴대폰
            //- li 
            //-   .img 
            //-     img(src="/src/images/ico_suitability3.svg", alt="")
            //-   p.text 
            //-     strong 본인 명의 금융인증서
      +content_group(3)
        +text({
          type:'warning',
          text:"만 19세 이하 개인고객 및 외국인인 경우 대출신청이 불가능합니다."
        })
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#fullLayer').show()