extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "이체결과조회"

block content
  .main_list 
    +card_ico_list({
      src:"/src/images/ico_example2.png",
      text:"즉시이체"
    })
    +card_ico_list({
      src:"/src/images/ico_example2.png",
      text:"자동이체(당/타행)"
    })
    +card_ico_list({
      src:"/src/images/ico_example2.png",
      text:"자동이체(CMS)"
    })
    +card_ico_list({
      src:"/src/images/ico_example2.png",
      text:"예약이체"
    })
    