extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf flex_top_bot"
  - pageTitle = "신용대출/사잇돌"

block content
  +content_group(0)
    <!-- 2023.07.05 em태그 삭제 -->
    +result({
      type:'result',
      mainText:"김저축님의<br>대출신청이 완료되었습니다.",
      subText:"심사결과는 우리금융저축은행 담당자가<br>연락 드릴 예정입니다.<br>(고객센터 : <a href=\"tel:0000-0000\" class=\"underline\">0000-0000</a>)",
      img:"/src/images/img_check.svg",
    })
  +content_group(0)
    +title({
      text:"신청정보",
      lv:4,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"상품명",
          text:"비타WON 신용대출",
        },
        {
          title:"대출신청금액",
          text:"<em>5,000,000원</em>",
        },
        {
          title:"예상금리",
          text:"4.50%",
        },
      ]
    })
    .btn_loan 
        a(href) 대출신청조회
  +text({
    type:'warning',
    text:"심사가 완료되면 전자약정 메뉴를 통해 대출을 완료하실 수 있습니다.",
    className:"flex_bot"
  })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
