extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "약관동의"

block content
  +stepNum({
    total:5,
    activeIndex:1
  })
  +content_group(1)
    +title({
      text:'약관동의',
      lv:2,
    })
    p.sub_txt 대출 신청에 필요한 약관에 동의해주세요
  
  +content_group(2)
    +agree_check({
      text:"전체동의"
    })
      +agree_check({
        text:"[필수] 개인(신용)정보 수집 이용 제공 동의서"
      })
      +agree_check({
        text:"[필수] 개인(신용)정보 조회 동의서"
      })
      +agree_check({
        text:"[필수] 개인(신용)정보 제3자제공 동의"
      })
      +agree_check({
        text:"[필수]  공공마이데이터 수집이용 동의서"
      })
      +agree_check({
        text:"[선택] 대출거절 사유 고지 신청"
      })
      
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      type:"primary",
      disabled:"disabled"
    })