extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf flex_top_bot"
  - pageTitle = "신용정보조회동의"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"신용정보조회동의가<br>완료되었습니다.",
      img:"/src/images/img_check.svg",
    })

  .flex_bot
    +text({
      type:'warning',
      text:"당일 17시 이후 대출신청이 완료된 고객님은 익일 9시 이후 대출심사가 이루어 집니다.",
    })
    +text({
      type:'warning',
      text:"대출심사에 따른 추가서류에 대한 요청이 있을 수 있으며, 서류심사 결과에 따라 대출신청이 취소될 수 있으니  이점 양해 바랍니다.",
    })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
