extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinq"
  - pageTitle = "대출신청조회"

block content
  +title({
    text:"실명인증 및 인증서 인증",
    lv:2,
  })
  .sub_txt 개인정보보호를 위해 인증서로 본인확인을 진행합니다.
  
  +content_group(2)
    +form()
      +form_body({title:"이름"})
        +input({
          placeholder:"이름 입력"
        })
      +form_body({title:"주민등록번호"})
        +input_idnumber({
          data:[
            {
              value:""
            },
            {
              value:""
            }
          ]
        })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })