extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName="login"
  - pageTitle = "아이디찾기"

block content
  .main_title.type2
    +title({
      text:'ID조회 결과',
      lv:1,
    })
  .result_box 
    p SAV***
  .support 
    a(href) 아이디 전체 확인하기
  +button_link({
    list: [
      '비밀번호(분실) 재등록',
      '장기미접속 해제',
    ]
  })
  .btn_wrap.fixed
    +button({
      label:"로그인",
      size:"large",
    })

