extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName="login"
  - pageTitle = "아이디찾기"

block content
  +form()
    +form_body({title:"계좌번호"})
      +input({placeholder:"숫자만 입력", title:"숫자만 입력"})
      +text({
        type:'link',
        text:"계좌번호 찾기"
      })
    +form_body({title:"등록구분"})
      +radioCheck({
        type:"radio",
        name:'radiolist',
        lists:[
          {
            label:'개인고개',
          },
          {
            label:'법인(기업)고객'
          }
        ]
      })
      +input({placeholder:"생년월일 6자리", title:"생년월일 6자리"})
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 안내사항
    +content()
      +textLists({
        type:'guide',
        lists:[
          {text:"사용자 ID를 조회하실 수 있습니다."},
          {text:"계좌번호는 하이픈(-)을 제외한 숫자만 입력해 주시기 바랍니다."},
          {text:"인증요청 번호는 고객정보에 등록하신 번호를 입력해 주시기 바랍니다."},
        ]
      })
    
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
      disabled:true,
    })

