extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +content_group(0)
    +title({
      text:"적합성 · 적정성 확인서 ",
      lv:2,
    })
    .text_wrap
      +text({
        text:"다음은 신청 대출이 주택담보대출 또는 증권등 담보대출인 경우 선택하시기 바랍니다. 적정성 판단보고서는 적정하다고 판단되는 경우 제공되지 않습니다."
      })
  +content_group(0)
    .inf_wrap
      p.inf_tit 적정성 판단보고서 수취를 희망하십니까?
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'button_type',
        lists:[
          {
            label:'예',
            checked:true
          },
          {
            label:'아니오'
          }
        ]
      })
  +content_group(1)
    .inf_wrap
      p.inf_tit 수취방식을 선택해주시기 바랍니다.
      +radioCheck({
        name:'btnType2',
        type:"radio",
        className:'button_type',
        lists:[
          {
            label:'문자메시지',
          },
          {
            label:'모바읿앱'
          },
          {
            label:'이메일',
            checked:true
          }
        ]
      })
  +content_group(1)
    +form()
      +form_body({title:"이메일"})
        +input({
          placeholder:"이메일주소 입력"
        })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })