extends ../components/templates/base.pug




block content
  +button({
    label:"클릭!",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    id:"modal_bottom",
    type:"bottom",
    isCloseBtn:false,
    className:"webinf"
  })
    .resmsg 
      p.main 고객님께서 작성하신 적합성 확인정보의 내용 판단이 아직 완료되지 않았습니다.
      p.main 고객님께서 아래와 같이 적합성 확인정보의 내용이 <em>적합</em>으로 판단되었습니다.
      p.main 고객님께서 아래와 같이 적합성 확인정보의 내용이 <em class="error">부적합</em>으로 판단되었습니다.
      p.sub 관련 문의는 해당저축은행으로 문의해 주세요.
    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })
  script.
    GCui.modal('#modal_bottom').show()