extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName="login type1"
  - pageTitle = "로그인"

block content
  .main_title 
    +title({
      text:'아이디',
      lv:1,
    })

  +form()
    +form_body({title:"아이디"})
      +input({placeholder:"아이디 입력"})
    +form_body({title:"비밀번호"})
      +input({placeholder:"비밀번호 입력"})

  .support_link
    a(href="") 아이디 찾기
    a(href="") 비밀번호 재등록
    a(href="").highlight 로그인방식 변경

  .bottom_fixed
    p.etc_txt
      span 뱅킹가입 후 로그인이 가능합니다.
    +button_custom({
      type:"round-40",
      label:"뱅킹 가입하기"
    })

    +button({
      label:"로그인",
      size:"large",
    })
