extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +content_group(0)
    +stepNum({
      total:4,
      activeIndex:1
    })
  +content_group(0)
    +title({
      text:"신청정보 입력",
      lv:2,
    })
  +content_group(2)
    +form()
      +form_body({title:"신청상품"})
        +button_select({
          placeholder:"상품종류 선택",
          label:"상품종류"
        })
        +button_select({
          placeholder:"상품명 선택",
          label:"상품명"
        })
      +form_body({title:"이름"})
        +input({
          placeholder:"이름 입력"
        })
      +form_body({title:"주민등록번호"})
        +input_idnumber()
      +form_body({title:"연락처"})
        +input({
          placeholder:"연락처(숫자만)"
        })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })