extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webinf"
  - pageTitle = "적정성등록"

block content
  +content_group(0)
    +stepNum({
      total:4,
      activeIndex:2
    })
  +content_group(0)
    +title({
      text:"약관 동의",
      lv:2,
    })
  +content_group(2)
    +agree_check({
      text:"[필수] 대출상품설명서",
    })
      +agree_check({
        text:"[필수] 대출계약자 적합성-개인(신용정보수집·이용·제공 동의서)여신금융거래",
      })

  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })