extends ../components/templates/base.pug


block prepend top 

block content
  +button({
    label:"모달 호출",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    id:"modal_bottom",
    type:"bottom",
    className:"main_pop",
    isCloseBtn:false,
  })
    .pop
      .conts
        img(src="/src/images/main_pop.png", alt="")
      .bottom
        +radioCheck({
          name:'chk136715',
          label:'오늘하루 그만보기'
        })
        button(
          type="button"
          class="mui_modal_close"
        ) 
          span 닫기
  script.
    GCui.modal('#modal_bottom').show()