extends ../components/templates/base.pug
block prepend top 
  - showBg = true;
  - mainClassName="webcus"
  - pageTitle = "고객확인제도"

block content
  +content_group(2)
    +title({
      text:"약관동의",
      lv:2,
    })
  +content_group(2)
    +agree_check({
      text:"전체동의",
    })
      +agree_check({
        text:"[필수] 개인(신용)정보 수집 이용 동의서",
      })
      +agree_check({
        text:"[필수] 개인(신용)정보 제3자 제공 동의",
      })
  +content_group(1)
    +agree_check({
      text:"[선택]개인(신용)정보 수집·이용·제공동의서(상품서비스 안내 등)",
      className:"chk_lists"
    })
      +radioCheck({
        name:'checklist',
        lists:[
          {
            label:'전체',
            checked:true
          },
          {
            label:'SMS'
          },
          {
            label:'전화'
          },
          {
            label:'이메일'
          },
          {
            label:'우편'
          }
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })