extends ../components/templates/base.pug

block prepend top 
  - mainClassName="weboce"
  - pageTitle = "타기관 금융인증서 등록"

block content
  +form()
    +form_body({title:"사용자 ID"})
      +input({
        placeholder:"아이디 입력"
      })
      .support 
        a(href) 아이디 찾기
    +form_body({title:"사용자 비밀번호"})
      +input({
        placeholder:"비밀번호 입력",
        type:"password"
      })
    +form_body({title:"등록구분"})
      +radioCheck({
        type:"radio",
        name:'chk034039',
        lists:[
          {label:'개인고객',checked:true},
        ]
      })
      +input_idnumber()

  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default",
    })
    +button({
      label:"다음",
      size:"large",
    })