extends ../components/templates/base.pug

block prepend top 
  - mainClassName="weboce"
  - pageTitle = "금융인증서 관리"

block content
  .config
    +title({
      text:"금융인증서 관리",
      lv:1,
    })

    p.text!="인증서 관리를 위해 금융인증서 아이콘을<br>터치해주세요. 타인의 클라우드 요청은 보이스피싱이니<br>주의해주세요."

    a(href="", class="config_link")
      img(src="/src/images/ico_suitability.png", alt="")
  