extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webrpi"
  - pageTitle = "대출상환예정금액조회"

block content
  +form()
    +form_body({title:"대출계좌번호"})
      +button_select({
        placeholder:"대출계좌 선택",
        label:"123-12-12-123456"
      })
      p.money 대출잔액
        span 500,000원
    +form_body({title:"상환방식"})
      +radioCheck({
        name:'btnType',
        type:"radio",
        className:'button_type',
        lists:[
          {
            label:'완제',
            checked:'checked'
          },
          {
            label:'일부상환'
          }
        ]
      })
    +form_body({title:"상환금액"})
      +input_money({
        btns:["+10만", "+100만", "+500만", "+1000만"],
        message:{
          type:"error",
          text:"상환금액이 대출잔액을 초과하였습니다."
        },
        guideMoney:true
      })
      +text({
        type:'warning',
        text:"미입력 시 최소입금금액이 산출됩니다."
      })


  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        lists:[
          {
            text:"대출상환을 위한 예정금액 조회 서비스입니다."
          }
        ]
      })

  +button_bottom_fixed()
    +button({
      label:"조회하기",
      size:"large",
      disabled:"disabled"
    })