extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webrpi"
  - pageTitle = "대출이자납입금액조회"

block content
  +title({
    text:"대출계좌정보",
    lv:2,
  })
  +result({
    dataType:"line",
    data:[
      {
        title:"계좌상태",
        text:"정상",
      },
      {
        title:"채무자",
        text:"저축은행중앙",
      },
      {
        title:"대출금액",
        text:"1,000,000원",
      },
      {
        title:"대출잔액",
        text:"1,000,000원",
      },
      {
        title:"대출일자",
        text:"2024.01.01",
      },
      {
        title:"만기일자",
        text:"2024.01.01",
      },
      {
        title:"최종이수일",
        text:"2024.01.01",
      },
      {
        title:"최종거래일",
        text:"2024.01.01",
      },
      {
        title:"납입응당일",
        text:"25일",
      },
      {
        title:"적용이율",
        text:"3.8%",
      },
    ]
  })

  +content_group(0)
    +title({
      text:"납입금액 총계",
      lv:2,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"상환원금",
          text:"1,000,000원",
        },
        {
          title:"정상이자",
          text:"1,000,000원",
        },
        {
          title:"연체료",
          text:"1,000,000원",
        },
        {
          title:"연체이자",
          text:"0원",
        },
        {
          title:"납입총액",
          text:"0원",
        },
      ]
    })
  
  +content_group(0)
    +title({
      text:"이자세부내역 정보",
      lv:2,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"납입예정일",
          text:"2023.05.03",
        },
        {
          title:"회차",
          text:"1회",
        },
        {
          title:"상환원금",
          text:"0원",
        },
        {
          title:"정상이자",
          text:"0원",
        },
        {
          title:"연체료",
          text:"0원",
        },
        {
          title:"연체이자",
          text:"0원",
        },
      ]
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"납입예정일",
          text:"2023.05.03",
        },
        {
          title:"회차",
          text:"2회",
        },
        {
          title:"상환원금",
          text:"0원",
        },
        {
          title:"정상이자",
          text:"0원",
        },
        {
          title:"연체료",
          text:"0원",
        },
        {
          title:"연체이자",
          text:"0원",
        },
      ]
    })
  +content_group(2)
    +button({
      label:"이자납입하러 가기",
      size:'medium',
      type:"white"
    })
    <!-- 해당 저축은행 앱이 없는경우 '은행명'에 'SB톡톡+'대체 -->
    <!-- 해당 저축은행 앱이 있는경우 '은행명'에 해당 은행명 대체 -->
    .guide_wrap
      +text({
        type:'warning',
        text:"대출이자납입은 <span>은행명</span> 앱에서 이용할 수 있습니다."
      })
      +text({
        type:'warning',
        text:"[이자납입하러 가기]를 누르면 앱으로 이동합니다."
      })
  
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })