extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcus "
  - pageTitle = "거래중지계좌관리"

block content
  +card_ico_list({
    src:"/src/images/ico_example2.png",
    text:"거래중지해제신청"
  })
  +card_ico_list({
    src:"/src/images/ico_example2.png",
    text:"거래중지계좌목록"
  })