extends ../components/templates/base.pug

block prepend top 
  - mainClassName="weboce"
  - pageTitle = "타기관 OTP등록"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"타기관 OTP 등록이<br>완료되었습니다.",
      img:"/src/images/ico_finish.svg",
    })
  
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })