extends ../components/templates/base.pug


block prepend top 

block content
  +button({
    label:"해제 신청 방식 선택 팝업호출",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    title:"해제 신청 방식 선택",
    id:"modal_bottom",
    type:"bottom",
    className:"webcus"
  })
    +title({
      text:"가능한 신청 방식을 선택해주세요",
      lv:4,
    })
    .select_info
      +radioCheck({
        type:"radio",
        name:'chk552197',
        label:'비대면 중지해제 신청'
      })
      +textLists({
        type:'dot',
        lists:[
          {
            text:"금융거래목적확인서 비대면 전자 서명",
          },
          {
            text:"신분증 진위확인 절차를 통해 신청 완료",
          },
        ]
      })

    .select_info
      +radioCheck({
        type:"radio",
        name:'chk552197',
        label:'Fax/E-mail로 중지해제 신청'
      })
      +textLists({
        type:'dot',
        lists:[
          {
            text:"고객이 직업 Fax 또는 E-mail 번호를 기재하여 거래목적확인서를 송부",
          },
          {
            text:"필요 서류를 작성 후, 안내 받은 회신처로 회신",
          },
        ]
      })

    +button_bottom_fixed()
      +button({
        label:"확인",
        size:"large",
      })

  script.
    GCui.modal('#modal_bottom').show()