extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcus"
  - pageTitle = "거래중지계좌관리"

block content
  +content_group(0)
    +title({
      text:"재거래 사유를 선택하시고<br>금융거래목적을 확인해주세요",
      lv:2,
    })
    +content_group(1)
      +form()
        +form_body({title:"재거래 사유"})
          +button_select({
            placeholder:"재거래 사유 선택",
            label:""
          })
        +form_body({title:"연락처"})
          +input({
            value:"01012345678",
            placeholder:"연락처 입력",
            maxlength:"11"
          })
    
    +content_group(1)
      +title({
        text:"금융거래목적 확인",
        lv:4,
      })
      +content_group(3)
        +form()
          +form_body({title:"타인으로부터 통장대여를 요청을 받은 사실이 있습니까?"})
            +radioCheck({
              name:'btnType',
              type:"radio",
              className:'button_type',
              lists:[
                {
                  label:'예'
                },
                {
                  label:'아니오',
                  checked:"checked"
                }
              ]
            })
            +text({
              type:'warning',
              text:"통장/현금카드 등을 타인에게 양도하여 범죄에 이용되는 경우 미성년자 여부와 상관없이 민-형사상 책임을 질 수 있습니다."
            })
          +form_body({title:"타인으로부터 신용등급 또는 개인신용평점상향, 대출 등의 목적으로 통장개설을 요청받은 사실이 있습니까?"})
            +radioCheck({
              name:'btnType',
              type:"radio",
              className:'button_type',
              lists:[
                {
                  label:'예'
                },
                {
                  label:'아니오'
                }
              ]
            })
    
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
