extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcus"
  - pageTitle = "거래중지계좌관리"

block content
  +content_group(0)
    +title({
      text:"거래중지계좌",
      lv:2,
    })
    +content_group(2)
      .data_sort_wrap
        +data_sort({
          total:"3",
        })
        +button_custom({
          type:"download-32",
          label:"금융거래목적확인서"
        })
    
    +content_group(3)
      .card_ico_arrow
        +card_ico_list({
          src:"/src/images/ico_example2.png",
          text:"저축보통예금<br>000-00-00-00000"
        })
        +card_ico_list({
          src:"/src/images/ico_example2.png",
          text:"저축정기예금<br>000-00-00-00000"
        })
        +card_ico_list({
          src:"/src/images/ico_example2.png",
          text:"저축보통예금<br>000-00-00-00000"
        })
      +button_more()
    
    +collapse({
      className:"guide_text",
      isOpen:true,
    })
      +header()
        p.title 알아두세요
      +content()
        +textLists({
          type:'guide',
          lists:[
            {
              text:"거래중지계좌를 거래재개 상태로 전환하실 수 있습니다."
            },
            {
              text:"거래중지계좌 재거래는 신분증촬영과 금융인증서 인증을 통한 본인확인이 필요합니다."
            },
            {
              text:"해지는 인터넷뱅킹 또는 스마트뱅킹에서 가능합니다."
            },
          ]
        })