extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webseu"
  - pageTitle = "타기관 OTP등록"

block content
  +content_group(0)
    +title({
      text:"아래와 같이 신규 보안매체를 등록합니다.",
      lv:4,
    })
    +result({
      dataType:"line",
      data:[
        {
          title:"OTP 벤더코드",
          text:"001",
        },
        {
          title:"OTP 일련번호",
          text:"99990082",
        },
      ]
    })
    
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default"
    })
    +button({
      label:"확인",
      size:"large",
    })