extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "예약이체조회/해지"

block content

  +content_group(0)
    +data_sort({
      total:"1",
      date:"2023.03.13 17:07:07",
      isBtn:true
    })
    +card({
      isLinked:true,
      tag : {
        label:"정상",
        status:"default"
      },
      data: [
          {
            title:"입금계좌",
            text:"중앙저축은행<br>125-45-67-8910112",
          },
          {
            title:"이체금액",
            text:"10,000원",
          },
          {
            title:"이체기간",
            text:"2023.03.01 ~ 2023.05.01",
          },
          {
            title:"이체일",
            text:"7일",
          },
          
        ]
      })
    +card({
      isLinked:true,
      tag : {
        label:"오류",
        status:"error"
      },
      data: [
          {
            title:"입금계좌",
            text:"중앙저축은행<br>125-45-67-8910112",
          },
          {
            title:"이체금액",
            text:"10,000원",
          },
          {
            title:"이체기간",
            text:"2023.03.01 ~ 2023.05.01",
          },
          {
            title:"이체일",
            text:"7일",
          },
          
        ]
      })
    +button_more()
    +result({
      type:'null',
      mainText:"조회한 내역이 없습니다.",
      img:"/src/images/ico_search_empty.svg",
    })
    
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      
      +textLists({
        type:'guide',
        lists:[
          {text:"예약이체 처리 결과는 [예약이체 > 예약이체결과조회]에서 확인하여 주시기 바랍니다.",},
          {
            text:"예약이체 취소는 예약시간 5분전까지 신청하셔야 합니다.",
          },
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })
