extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webseu"
  - pageTitle = "타기관 OTP등록"

block content
  +content_group(0)
    +title({
      text:"보안매체 등록현황",
      lv:4,
    })
    +card({
      data: [
          {
            title:"현재 등록중인 보안매체",
            text:"모바일 OTP",
          },
        ]
    })

  +content_group(0)  
    +title({
      text:"신규 OTP등록",
      lv:4,
    })
    +content_group(2)
      +form()
        +form_body({title:"출금계좌번호"})
          +button_select({
            placeholder:"선택해 주세요",
            label:"000-00-00-00000:참알찬IBK저축은행참알찬IBK저축은행",
            className:"ellipsis"
          })
        +form_body({title:"출금계좌 비밀번호"})
          +input({
            type:"password",
            placeholder:"비밀번호 입력"
          })
        +form_body({title:"변경하려는 OTP 업체(벤더) 코드"})
          +button_select({
            placeholder:"선택",
            label:"",
          })
        +form_body({title:"변경하려는 OTP 일련번호(S/N)"})
          +input({
            type:"password",
            placeholder:"OTP 일련번호 입력"
          })
        +form_body({title:"인증방법"})
          +radioCheck({
            type:"radio",
            name:'chk827441',
            lists:[
              {
                label:'전화 ARS'
              },
              {
                label:'OTP 인증'
              },
            ]
          })
      
  
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default"
    })
    +button({
      label:"확인",
      size:"large",
    })