extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webcus"
  - pageTitle = "거래중지계좌관리"

block content
  +content_group(0)
    +title({
      text:"거래중지계좌 상세",
      lv:2,
    })
    +content_group(2)
      .al_right
        +button_custom({
          type:"download-32",
          label:"금융거래목적확인서"
        })
    
    +content_group(3)
      +result({
        dataType:"line",
        data:[
          {
            title:"계좌번호",
            text:"123-45-67-1234567",
          },
          {
            title:"개설일",
            text:"2020.02.02",
          },
          {
            title:"최종거래일",
            text:"2020.02.02",
          },
          {
            title:"편입일",
            text:"2020.02.02",
          },
          {
            title:"잔액",
            text:"3,000,000원",
          },
          {
            title:"관리지점",
            text:"영업부",
          },
        ]
      })
    
    +collapse({
      className:"guide_text",
      isOpen:true,
    })
      +header()
        p.title 알아두세요
      +content()
        +textLists({
          type:'guide',
          lists:[
            {
              text:"거래중지해제신청 고객님은 [금융거래목적확인서]를 출력하시어 작성 후 [신분증사본]과 함께 해당 지점의 FAX 또는 E-Mail로 보내주시기 바랍니다."
            },
          ]
        })
  +button_bottom_fixed()
    +button({
      label:"해제신청하기",
      size:"large",
    })
