extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "예약이체등록"

block content
  +content_group(0)
    +title({
      text:"어디로 보낼까요?",
      lv:2,
    })
    +form()
      +form_body()
        +button_select({
          placeholder:"당행",
          label:"저축"
        })
        +input({
          placeholder:"계좌번호 입력",
        })
        +button_custom({
          type:"timeselect-24",
          label:"최근ㆍ자주ㆍ내계좌"
        })
  +content_group(0)
    //- +collapse({
    //-   isOpen:true
    //- })
    //-   +header()
    //-     p.acc_title [선택] 추가정보
    //-   +content()
    //-     .acc_data
    +form()
      +form_body({title:"받는 분에게 표시"})
        +input({
          value:"김중앙(저축은행)",
          maxlength:10,
        })
      +form_body({title:"나에게 표시"})
        +input({
          placeholder:"10자 이내 입력",
          maxlength:10,
        })
              
  +collapse({
    className:"guide_text",
    isOpen:true,
  })
    +header()
      p.title 알아두세요
    +content()
      +textLists({
        type:'guide',
        
        lists:[
          {
            text:"지정한 일자에 타은행으로 예약이체하는 서비스입니다.(공휴일제외)",
          },
          {
            text:"예약이체는 단건 처리만 가능합니다.",
          }
        ]
      })
  +button_bottom_fixed()
    +button({
      label:"다음",
      size:"large",
    })