extends ../components/templates/base.pug


block prepend top 

block content
  +button({
    label:"금융거래목적확인서 발송 정보 팝업호출",
    muiToggle:'target:#modal_bottom;'
  })

  +modal({
    title:"금융거래목적확인서 발송 정보",
    id:"modal_bottom",
    type:"bottom",
    className:"webcus"
  })
    +form()
      +form_body({title:"연락처"})
        +input({
          value:"01012345678",
          placeholder:"연락처 입력"
        })
      +form_body({title:"이메일주소"})
        +input({
          value:"sb1234@naver.com",
          placeholder:"이메일 입력"
        })
    +button_bottom_fixed()
      +button({
        label:"다음",
        size:"large",
      })

  script.
    GCui.modal('#modal_bottom').show()