extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webseu"
  - pageTitle = "OTP보정"

block content
  +content_group(0)
    +form()
      +form_body({title:"OTP 일련번호"})
        +form_value({
          value:"99990082"
        })
      +form_body({title:"OTP 인증번호"})
        +input({
          placeholder:"내용 입력"
        })
    +text({
      type:'warning',
      text:"OTP비밀번호는 새롭게 생성된 OTP비밀번호를 입력해 주세요."
    })
  
  +button_bottom_fixed()
    +button({
      label:"취소",
      size:"large",
      type:"default"
    })
    +button({
      label:"확인",
      size:"large",
    })