extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webseu"
  - pageTitle = "OTP보정"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"고객님은 OTP 보정<br>대상이 아닙니다.",
      img:"/src/images/ico_example2.png",
    })
  
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })