extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "예약이체결과조회"

block content
  +title({
    text:"예약이체정보",
    lv:4,
  })
  +result({
    dataType:"line",
    data:[
      {
        title:"결과",
        text:"정상",
      },
      {
        title:"출금계좌",
        text:"155-729-1552",
      },
      {
        title:"입금계좌",
        text:"김저축<br>000-000000-000000",
      },
      {
        title:"이체금액",
        text:"<em>2,000,000원</em>",
      },
      {
        title:"이체기간",
        text:"2023.01.01 ~ 20223.12.31",
      },
      {
        title:"이체일",
        text:"10일",
      },
    ]
  })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
