extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "예약이체"

block content
  .main_list 
    a.list(href="") 
      span.img 
      span.text 예약이체 등록
    a.list(href="") 
      span.img 
      span.text 등록조회/변경/해지
    