extends ../components/templates/base.pug

block prepend top 
  - mainClassName="weboce"
  - pageTitle = "토스인증서 등록"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"토스인증서란?",
      subText:"토스에서 제공하는 토스인증서는<br>정부의 인증과 보증을 받은 안전하고<br>간편한 인증서비스 입니다.",
      img:"/src/images/ico_example2.png",
    })
  
  hr
  
  +content_group(0)
    +title({
      text:'주요특징',
      lv:4,
    })
    +textLists({
      type:'dot',
      lists:[
        {
          text:"PIN번호 또는 생체인증으로 인증 가능"
        },
        {
          text:"토스앱만 있으면 어디서나 이용 가능"
        },
        {
          text:"유효기간 3년 마다 갱신"
        },
      ]
    })

  +content_group(0)
    +title({
      text:'발급방법',
      lv:4,
    })
    +textLists({
      type:'dot',
      lists:[
        {
          text:"토스에서 발급한 토스인증서를 등록하여 사용 가능"
        }
      ]
    })
        
  +button_bottom_fixed()
    +button({
      label:"등록하기",
      size:"large",
    })