extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webuif"
  - pageTitle = "영업점안내"

block content
  .branchs
    .logo 
      img(src="/src/images/logo_example.svg", alt="한화저축은행")
    .title 한화저축은행(부천)
    .details 
      .data 
        span.title 지번주소
        span.text 경기도 부천시 심곡1동
      .data 
        span.title 도로명주소
        span.text 경기도 부천시 신흥로 179
      .data 
        span.title 전화번호
        span.text 02-1234-5678
  .branchs
    .logo 
      img(src="/src/images/logo_example.svg", alt="한화저축은행")
    .title 한화저축은행(부천)
    .details 
      .data 
        span.title 지번주소
        span.text 경기도 부천시 심곡1동
      .data 
        span.title 도로명주소
        span.text 경기도 부천시 신흥로 179
      .data 
        span.title 전화번호
        span.text 02-1234-5678
  .branchs
    .logo 
      img(src="/src/images/logo_example.svg", alt="한화저축은행")
    .title 한화저축은행(부천)
    .details 
      .data 
        span.title 지번주소
        span.text 경기도 부천시 심곡1동
      .data 
        span.title 도로명주소
        span.text 경기도 부천시 신흥로 179
      .data 
        span.title 전화번호
        span.text 02-1234-5678

  +button_more()