extends ../components/templates/base.pug

block content
  +button({
    label:"영업점안내",
    muiToggle:'target:#fullLayer;'
  })
  +modal({ 
    title:"영업점안내",
    id:"fullLayer",
    type:"full",
    className:"map_sec webuif"
  })
    .map 
    .branchs
      .title 한화저축은행(부천)
      .details 
        .data 
          span.title 지번주소
          span.text 경기도 부천시 심곡1동
        .data 
          span.title 도로명주소
          span.text 경기도 부천시 신흥로 179
        .data 
          span.title 전화번호
          span.text 02-1234-5678
  script.
    GCui.modal('#fullLayer').show()