extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webwel"
  - pageTitle = "대출철회신청"

block content
  +content_group(2)
    +form()
      +form_body({title:"이름"})
        +form_value({
          value:"김저축"
        })
      +form_body({title:"주민등록번호"})
        +input_idnumber({
          type:'default'
        })
    
  +button_bottom_fixed()
    +button({
      label:"조회",
      size:"large"
    })