extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webwil"
  - pageTitle = "대출철회신청"

block content
  +title({
    text:"대출계좌목록",
    lv:2,
  })
  +card({
    isSelecte:true,
    data: [
        {
          title:"대출상품",
          text:"직장인 신용대출",
        },
        {
          title:"계좌번호",
          text:"123-12-12-123456",
        },
        {
          title:"대출금액",
          text:"1,000,000원",
        },
        {
          title:"대출금리",
          text:"3.18%",
        },
        {
          title:"이자납입일",
          text:"2024.10.10",
        },
        {
          title:"신규일",
          text:"2024.10.10",
        },
        {
          title:"만기일",
          text:"2024.10.10",
        },
      ]
  })
    +radioCheck({
      type:"radio",
      name:'chk250176',
      label:'계좌 선택'
    })
  +card({
    isSelecte:true,
    data: [
        {
          title:"대출상품",
          text:"직장인 신용대출",
        },
        {
          title:"계좌번호",
          text:"123-12-12-123456",
        },
        {
          title:"대출금액",
          text:"1,000,000원",
        },
        {
          title:"대출금리",
          text:"3.18%",
        },
        {
          title:"이자납입일",
          text:"2024.10.10",
        },
        {
          title:"신규일",
          text:"2024.10.10",
        },
        {
          title:"만기일",
          text:"2024.10.10",
        },
      ]
  })
    +radioCheck({
      type:"radio",
      name:'chk250177',
      label:'계좌 선택'
    })
  +button_more()
      
  +button_bottom_fixed()
    +button({
      label:"신청하기",
      size:"large",
    })