extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webwil"
  - pageTitle = "대출철회신청"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"대출계약철회란?",
      subText:"대출신청 후 대출의 필요성, 대출금리·규모의 적정성<br>등에 대해 제고할 수 있도록 대출실행 후 14일 이내<br>철회의 의사표시를 하고 원리금 및 부대비용을<br>상환함으로써 계약으로부터 탈퇴할 수 있는 제도입니다.",
      img:"/src/images/ico_example2.png",
    })
  
  hr
  
  +content_group(0)
    .guide_wrap
      +title({
        text:'대상고객',
        lv:4,
      })
      +textLists({
        type:'dot',
        lists:[
          {
            text:"<strong class='tit'>신용 및 담보대출 모두 철회 가능, 다만 다음에 해당하는 대출은 대출계약 철회 불가</strong>",
            subLists:{
              type:'num',
              lists:[
                {
                  text:"대출금액이 4천만원을 초과하는 신용대출"
                },
                {
                  text:"대출금액이 2억원을 초과하는 담보대출"
                },
                {
                  text:"외부기관 위탁대출 및 기타협약 대출"
                },
                {
                  text:"해당저축은행을 대상으로 1년이내에 2회 초과하여 대출계약을 철회하는 경우"
                },
                {
                  text:"전체 금융회사를 대상으로 1개월이내에 1회를 초과하여 대출계약을 철회하는 경우"
                }
              ]
            }
          },
        ]
      })
      +content_group(1)
        +title({
          text:'신청절차',
          lv:4,
        })
        +content_group(3)
          +textLists({
            type:'num',
            lists:[
              {
                text:"계약철회신청"
              },
              {
                text:"원리금 및 부대비용 반환"
              },
              {
                text:"철회완료"
              }
            ]
          })
          
        
    

      +content_group(0)
        +title({
          text:'유의사항',
          lv:4,
        })
        +textLists({
          type:'dot',
          lists:[
            {
              text:"<strong class='tit'>대출계약철회 신청시 채무자가 철회기한 이내(대출신규일로 부터 14일 이내)에 원금과 이자 및 은행에서 지급한 부대비용(인지세, 보증료 등)을 전액 반환해야함(철회 효력 발생)</strong>",
            },
          ]
        })
      
    +text({
      type:'warning',
      text:"기타 자세한 사항은 해당 저축은행 영업점에 문의하여 주시기 바랍니다."
    })
      
  +button_bottom_fixed()
    +button({
      label:"신청하기",
      size:"large",
    })