extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webwil"
  - pageTitle = "대출철회조회/취소"

block content
  +content_group(0)
    +result({
      type:'result',
      mainText:"대출철회취소를<br>완료하였습니다.",
      subText:"대출철회취소가 완료되었습니다.",
      img:"/src/images/ico_example2.png",
    })

  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })
