extends ../components/templates/base.pug

block prepend top 
  - mainClassName="webauc"
  - pageTitle = "제증명진위확인"

block content
  +result({
    dataType:"line",
    data:[
      {
        title:"증명서",
        text:"예금잔액증명서",
      },
      {
        title:"저축은행명",
        text:"중앙저축은행",
      },
      {
        title:"발행번호",
        text:"2023-12345678-xx",
      },
      {
        title:"내용입력",
        text:"내용입력",
      },
      {
        title:"내용입력",
        text:"내용입력",
      },
      {
        title:"<strong>총잔액</strong>",
        text:"<strong>0원</strong>",
      },
    ]
  })
  +text({
    type:'warning',
    text:"상기와 같이 발급하신 이력이 있습니다. 자세한 사항은 발급된 문서를 참고하시기 바랍니다."
  })
  +button_bottom_fixed()
    +button({
      label:"확인",
      size:"large",
    })