header.header
  .inner 
    h1.logo 
      a(href="#none") 
        img(
          src="/src/images/logo.svg"
          alt="한화저축은행"
        )

    .side_right
      button(
        type="button"
        class="all_menu"
      ) 
        span.hidden 전체메뉴
      