header.header 
  .inner 
    .side_left
      button(
        type="button"
        class="prev_btn"
      )
    .title_center
      span.title
        !='메뉴 명'
    .side_right
      button(
        type="button"
        class="prev_btn"
      )
      