extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"카드형 목록"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +card({
          isLinked:true,
          tag : {
            label:"정상",
            status:"default"
          },
          data: [
              {
                title:"계좌상태",
                text:"활동계좌",
              },
              {
                title:"대출금액",
                text:"200,000,000,000원",
              },
              {
                title:"대출일자",
                text:"YYYY.MM.DD",
              },
              {
                title:"대출만기일자",
                text:"YYYY.MM.DD",
              },
            ]
        })


