extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Input + @"
    })
    +guideTitle({
      text:"Input Money",
      level:2
    })
    +guideExample()(code)
      :code
        +input_money()
        +input_money({btns:["1만", "1만", "1만", "1만"], message:{type:"error", text:"에러 메세지"}})
        +input_money({guideMoney:true})
    br
    br
    //- +guideTitle({
    //-   text:"Attribute",
    //-   level:2
    //- })

    //- +attributesLists([
    //-   [
    //-     {
    //-       text:'className'
    //-     },
    //-     {
    //-       text:'커스텀 클래스'
    //-     },
    //-     {
    //-       text:'string'
    //-     },
    //-     {
    //-       text:'-'
    //-     }
    //-   ]
    //- ])

    +guideTitle({
      text:"Input + button",
      level:2
    })
    +guideExample()(code)
      :code
        +input_button({
          btnText:"인증요청",
          placeholder:"'-'제외하고 숫자만 입력하세요",
          title:"숫자만 입력하세요"
        })
    br
    br
