extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Input Money"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        +input_money({
          value:"default"
        })
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })

    +attributesLists([
      [
        {
          text:'className'
        },
        {
          text:'커스텀 클래스'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])


