extends ../layout/guideBase.pug

block content
  div.main_content
    +guideTitle({
      text:"Modal"
    })
    +guideTitle({
      text:"Example",
      level:2
    })
    +guideExample()(code)
      :code
        //- 호출 버튼
        +button({
          label:"기본 모달 호출",
          size:'large',
          muiToggle:'target:#modal;mode:hover;'
        })


        +modal({
          title:"모달 타이틀"
        })
          //- 컨텐츠 영역
          div 모달 컨텐츠

          //- 푸터 영역
          +footer()
            div.btns_wrap
              +button({
                label:"확인",
                size:'large',
              })
              +button({
                label:"취소",
                size:'large',
                className:"mui_modal_close"
              })

    +guideExample()(code)
      :code
        //- 호출 버튼
        +button({
          label:"풀팝업 호출",
          size:'large',
          muiToggle:'target:#fullLayer;'
        })


        +modal({
          title:"풀팝업 타이틀",
          id:"fullLayer",
          type:"full"
        })
          div dasfasdlkjfasdklfjasldkjf
          div dasfasdlkjfasdklfjasldkjf

          //- 푸터 영역
          +footer()
            div.btns_wrap
              +button({
                label:"확인",
                size:'large',
              })
              +button({
                label:"취소",
                size:'large',
                className:"mui_modal_close"
              })
    br
    br
    br
    +guideTitle({
      text:"버텀 트레이",
      level:2
    })
    +guideExample()(code)
      :code
        //- 호출 버튼
        +button({
          label:"버텀 트레이",
          size:'large',
          muiToggle:'target:#modal_bottom;mode:hover;'
        })


        +modal({
          title:"모달 타이틀",
          id:"modal_bottom",
          type:"bottom"
        })
          div 모달 컨텐츠111111111111111111111111111111111111
            div dsfsdf
    br
    br
    +guideTitle({
      text:"Alert, confirm, dialog",
      level:2
    })
    +guideExample()(code)
      +button({
        label:"Alert 기본",
        size:'large',
        id:"callAlert"
      })
      +button({
        label:"Alert + X 버튼",
        size:'large',
        id:"callAlert2"
      })
      +button({
        label:"Alert 버텀 트레이",
        size:'large',
        id:"callAlert3"
      })
      +button({
        label:"Confirm 호출",
        size:'large',
        id:"callConfirm"
      })
      +button({
        label:"Confirm 버텀 트레이",
        size:'large',
        id:"callConfirm2"
      })
      +button({
        label:"Dialog 호출",
        size:'large',
        id:"callDialog"
      })
      +button({
        label:"toast 팝업 호출",
        size:'large',
        id:"callToast"
      })
    pre.pre.
      
      // Alert + X 버튼
      GCui.modal.alert({
        title:"로그아웃",
        text:"로그아웃 하시겠습니까?",
      })
      
      // alert 다이얼로그 타입
      GCui.modal.alert({
        title:"로그아웃",
        text:"로그아웃 하시겠습니까?",
      }, {
        className:"dialog_type",
      })
      

      // Alert 버텀 트레이
      GCui.modal.alert({
        title:"타이틀",
        text:"내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다.이곳은 내용이 들어가는 곳입니다.",
      }, {
        className:"bottom_tray",
      })
      

      // Confirm
      GCui.modal.confirm({
        title:"타이틀",
        text:"내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다.<br><br>이곳은 내용이 들어가는 곳입니다.",
      })

      // toast
      GCui.toast({text:"냐냐냐냐냐냐냐냐냐냥!!!!!123123123"})
      
        
    br
    br
    +guideTitle({
      text:"Attribute",
      level:2
    })

    +attributesLists([
      [
        {
          text:'title'
        },
        {
          text:'모달 제목'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ],
      [
        {
          text:'id'
        },
        {
          text:'id 속성'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
      ,
      [
        {
          text:'type'
        },
        {
          text:'모달 타입 지정 - default, bottom, full'
        },
        {
          text:'string'
        },
        {
          text:'-'
        }
      ]
    ])

    script. 
      document.addEventListener("DOMContentLoaded", (event) => {
        let elem = []
        elem.push(document.querySelector("#callAlert"))
        elem.push(document.querySelector("#callAlert2"))
        elem.push(document.querySelector("#callAlert3"))
        elem.push(document.querySelector("#callConfirm"))
        elem.push(document.querySelector("#callConfirm2"))
        elem.push(document.querySelector("#callDialog"))
        const toast = document.querySelector("#callToast")
        
        elem.forEach((el, i) => {
          GCui.util.on(el, 'click', (e) => {
            const id = el.id
            switch (id) {
              case "callAlert":{
                GCui.modal.alert({
                  title:"로그아웃",
                  text:"로그아웃 하시겠습니까?",
                })
                break;
              }
              case "callAlert2":{
                GCui.modal.alert({
                  title:"로그아웃",
                  text:"로그아웃 하시겠습니까?",
                }, {
                  className:"dialog_type",
                })
                break;
              }
              case "callAlert3":{
                GCui.modal.alert({
                  title:"타이틀",
                  text:"내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다.이곳은 내용이 들어가는 곳입니다.",
                }, {
                  className:"bottom_tray",
                })
                break;
              }
              case "callConfirm":{
                GCui.modal.confirm({
                  title:"타이틀",
                  text:"내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다.<br><br>이곳은 내용이 들어가는 곳입니다.",
                })
                break;
              }
              case "callConfirm2":{
                GCui.modal.confirm({
                  title:"타이틀",
                  text:"내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다. 이곳은 내용이 들어가는 곳입니다.<br><br>이곳은 내용이 들어가는 곳입니다.",
                })
                break;
              }
              case "callDialog":{
                GCui.modal.alert({
                  text:"로그아웃 하시겠습니까?"
                })
                break;
              }
            }
          })
        })
        
        GCui.util.on(toast, 'click', (e) => {
          GCui.toast({text:"냐냐냐냐냐냐냐냐냐냥!!!!!123123123"})
        })
      });


