@import "common/mixins";
@import "common/varialbles";
@import "common/fonts";
@import "common/reset";
@import "common/animation";
@import "common/swiper";


@import '../../components/atoms/index.scss';
@import '../../components/molecules/index.scss';
@import '../../components/organisms/index.scss';
@import '../../components/templates/index.scss';



@import "common/all_menu";
// *{
// 	background: url($url_common+"fggdgdf") no-repeat center;
// }

a:link, a:active, a:hover, a:focus {
	color:#111;
	text-decoration:none;
}
#contants {
	padding:24px;
}
hr {
	margin:40px -24px;
	height:12px;
	background:$bg_color01;
	border:none;
}
.al_left {
	text-align:left !important;
}
.al_right {
	text-align:right !important;
}
.al_center {
	text-align:center !important;
}
.main_color01 {
	color:$main_color01;
}
/* 버튼 - 라인, 흰색배경, 글자색상 */
.btn_wrap {
	
	.btn_line {
		color:$main_color01;
		background:$bg_color03;
		border:1px solid $line_color02;
		border-radius:8px;
	}
	.btn_round {
		padding:12px 24px;
		width:initial;
		font-size:14px;
		color:$basic_color01;
		border-color:$basic_color01;
		border-radius:60px;
	}
}
/* 하단안내문구(아이콘 유무) */
.info_txt {
	position:relative;
	padding-top:12px;
	font-size:14px;
	color:$basic_color04;
	&.icon_type {
		padding-left:24px;
		font-size:13px;
		&::before {
			content:"";
			position:absolute;
			top:10px;
			left:0;
			width:20px;
			height:20px;
			@include icon_svg_tooltip(gray, 20px);
		}
	}
}

/* 알림 */
.notice {
	text-align: center;
	.img{
		img{
			width: 102px;
			height: 102px;
		}
	}
	.main_text{
		margin-top: 32px;
		color: $font_color01;
		font-size: 18px;
		em{
			font-weight: bold;
		}
	}
	.sub_text{
		margin-top: 16px;
		font-size: 14px;
		color:$font_color03;
	}
}


// header
.header{
	.title_center{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
	}
	.title{
		font-size: 16px;
		color:$font_color01;
		font-weight: 700;
	}
	.inner{
		height: 56px;
		padding: 8px 88px;
		font-size: 0;
		position: 1;
	}
	.side_left{
		position: absolute;
		left: 8px;
		top: 8px;
	}
	.side_right{
		position: absolute;
		right: 8px;
		top: 8px;
	}
	button{
		width: 36px;
		height: 36px;
		&.btn_prev {
			@include icon_svg(arrow-left, "#111", 24px);
		}
		&.btn_home {
			background: url($url_common+"ico_home.svg") no-repeat center;
		}
		&.btn_allmenu {
			background: url($url_common+"ico_menu.svg") no-repeat center;
		}
	}
}



.login{
	overflow: auto;
	.mui_form{
		&:first-child{
			margin-top: 24px;
		}
	}
	&.type1{
		padding-bottom: 180px;
	}
	&.type2{
		padding-bottom: 130px;
	}
	padding: 0 24px;
	.main_title{
		margin-top: 60px;
		text-align: center;
		& + .mui_form{
			margin-top: 60px;
		}
		&.type2{
			margin-top: 24px;
			text-align: left;
		}
	}

	.result_box{
		background:$bg_color02;
		text-align: center;
		padding: 32px 0;
		border-radius: 20px;
		margin-top: 24px;
		p{
			color:$main_color01;
			font-size: 16px;
			font-weight: 700;
		}
	}
	.sub_txt{
		font-size: 14px;
		color:$font_color03;
		margin-top: 24px;
	}
	.ico{
		margin-top: 32px;
		text-align: center;
		img{
			width: 120px;
			height: 120px;
		}
	}
	.support_link{
		margin-top: 32px;
		text-align: center;
		display: flex;
		justify-content: center;
		a{
			font-size: 13px;
			color:$basic_color04;
			position: relative;
			&.highlight{
				color:$main_color01;
				border-bottom: 1px solid $main_color01;
			}
			& ~ a{
				margin-left: 12px;
				padding-left: 13px;
				&:after{
					content: '';
					display: block;
					width: 1px;
					height: 12px;
					position: absolute;
					top: 3px;
					left: 0;
					background:$line_color02;
				}
			}
		}
	}
	.bottom_fixed{
		text-align: center;
		padding: 16px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background:$bg_color03;
	}
	.etc_txt{
		display: flex;
		justify-content: center;
		span{
			padding-left: 24px;
			color:$basic_color04;
			font-size: 13px;
			position: relative;
			&::after{
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				left: 0;
				@include icon_svg_tooltip(grey, 20px);
			}
		}
	}
	.mui_button_custom.round-40{
		margin: 16px 0 24px;
	}
	.btn_wrap{
		margin: 0 -16px;
		padding: 40px 0 16px;
		&.fixed{
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 16px 32px;
		}
	}

	.total{
		margin-top: 24px;
		font-size: 14px;
		color:$font_color03;
		em{
			font-weight: 700;
			color:$main_color01;
		}
	}
	.acc_list_result{
		margin-top: 12px;
		.list{
			box-shadow: 0 4px 8px rgba(0,0,0,.04);
			border: 1px solid $line_color03;
			border-radius: 20px;
			padding: 20px;
			& ~ .list{
				margin-top: 16px;
			}
			dt{
				font-size: 16px;
				color:$main_color01;
			}
			dd{
				font-size: 13px;
				color:$basic_color04;
				margin-top: 4px;
				line-height: 20px;
				span{
					border-bottom: 1px solid $basic_color04;
				}
				.copy{
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url($url_common+"icon_copy.svg") no-repeat center;
					vertical-align: top;
					margin-left: 4px;
				}
			}
		}
	}

}

.toast_pop_wrap{
  position: fixed;
	left: 24px;
	right: 24px;
  bottom: 0;
  overflow: hidden;
  height: auto;
  opacity: 0;
	text-align: center;
  transition: all .3s;
  .toast{
    padding: 16px 24px 16px;
		line-height: 24px;
    border-radius: 32px;
    background: $basic_color02;
    color: $font_color06;
    position: relative;
  }
}


.webinq{

	/* 뱅킹(거래내역조회) */
	.card_topwrap {
		margin:-24px -24px 0 -24px;
		padding:24px 24px 0 24px;
		background:rgba(243, 115, 32, 0.04);
		&.topwrap {
			padding:24px;
		}
		.acc_name {
			color:$font_color06;
		}
	}
	.inquiry_setting {
		position:relative;
		display:flex;
		justify-content:space-between;
		align-items:center;
		padding:16px 24px 16px 0;
		width:100%;
		font-size:12px;
		color:$font_color02;
		&::before {
			content:"";
			position:absolute;
			right:0;
			@include icon_svg(arrow-down, "#333", 20px);
		}
	}
	.inq_result {
		padding:0;
		.mui_accresult {
			.date {
				padding-top:32px;
				padding-bottom:0;
			}
			.in {
				color:$main_color01;
			}
		}
		.mui_more {
			padding-top:24px;
		}
	}

	/* 바텀팝업 */
	.mui-modal {
		.txt_pop {
			font-size:18px;
			color:$font_color01;
		}
	}

	/* 뱅킹(전체계좌조회) */
	.allmoney_card {
		display:flex;
		justify-content:space-between;
		flex-direction:column;
		padding:32px 24px;
		background:$main_color01;
		.dp_flex {
			display:flex;
			justify-content:space-between;
		}
		.tit {
			font-size:14px;
			color:$font_color06;
		}
		.switch {
			.mui_checkbox {
				label::before {
					background:$basic_color01;
				}
				label::after {
					background:$bg_color03;
				}
			}
		}
		
		.label {
			font-size:13px;
			color:$font_color06;
		}
		.my_money {
			padding-top:10px;
			font-size:24px;
			font-weight:700;
			color:$font_color06;
		}
	}
	.inq_list {
		padding-top:32px;
		border-top:1px solid $line_color03;
		.mui_button_wrap{
			margin-top: 24px;
		}
		.mui_text_lists {
			font-size:13px;
			color:$basic_color04;
			&.dot > ul {
				& > li::before {
					background:$basic_color05;
				}
			}
		}
		.btn_wrap {
			padding-top:24px;
		}
	}
	.acc_lists {
		padding-top:16px;
		&.mui_open {
			.mui_acc_button {
				font-size:0;
				@include icon_svg(arrow-down, "#111", 20px);
				transform:rotate(180deg);
			}
		}
		.acc_header {
			display:flex;
			justify-content:space-between;
			gap:0 8px;
			padding:16px 0;
		}
		.acc_tit {
			display:flex;
			justify-content:space-between;
			width:100%;
			strong:last-child{
				font-size: 18px;
				span{
					font-weight: 400;
				}
			}
		}
		.mui_acc_button {
			font-size:0;
			@include icon_svg(arrow-down, "#111", 20px);
		}
	}
}
.photo_capture{
	.title{
		padding-top: 38px;
		font-size: 24px;
		font-weight: 700;
		color:$font_color01;
		text-align: center;
	}
	.sub_title{
		margin-top: 24px;
		font-size: 14px;
		color:$font_color03;
		text-align: center;
		em{
			color:$main_color01;
		}
	}
	.photo_img{
		text-align: center;
		img{
			width: 240px;
		}
	}
	.photo_img_result{
		text-align: center;
		padding-bottom: 8px;
		img{
			width: 240px;
		}
	}
}
.acc_confirm{
	&.otp{
		.code{
			margin-top: 36px;
			.write{
				input{
					width: 40px;
					height: 40px;
				}
			}
		}
		.mui_title{
			padding: 40px 0 16px;		
		}
	}
	.title{
		font-size: 18px;
		font-weight: 700;
		color:$font_color01;
	}
	.mui_form{
		margin-top: 24px;
	}
	.sub_title{
		margin-top: 8px;
		font-size: 14px;
		color:$font_color03;
	}
	.code{
		margin-top: 60px;
		display: flex;
		justify-content: center;
		.tt{
			font-size: 32px;
			font-weight: 700;
			color:$font_color01;
			padding-right: 16px;
			line-height: 52px;
		}
		.write{
			margin-left: 8px;
			input{
				width: 52px;
				height: 52px;
				border-radius: 8px;
				border: 2px solid $main_color01;
				text-align: center;
				font-family: "password";
				font-size: 32px;
				&:focus{
					outline: 0;
				}
			}
		}
		.mask{
			span{
				display: block;	
				width: 52px;
				height: 52px;
				border-radius: 8px;
				border: 2px solid $main_color01;
				background: url($url_common+"ico_mask.svg") no-repeat center;
			}
			&.dim{
				span{
					background:$bg_color02;		
					border-color: $bg_color02;
				}
			}
			& ~ .mask{
				margin-left: 8px;
			}
		}
	}
}
.webcom {
	.top_img {
		margin-bottom:24px;
		text-align:center;
		img {
			width:160px;
			height:160px;
		}
	}
	.mui_button_wrap {
		padding:16px 24px 40px 24px;
	}
	.mui_text_lists.dot {
		& > ul > li::before {
			background:$basic_color03;
		}
		&+.mui_title {
			padding-top:32px;
		}
	}
	.webcom_sub_txt {
		padding-top:8px;
		font-size:14px;
		color:$font_color03;
	}
}
/* 통장사본 */
.passbook {
	margin-bottom:24px;
	padding:20px;
	background:$bg_color02;
	border-radius:20px;
	.img_wrap {
		margin-left:auto;
		width:100px;
	}
	.custom_name {
		padding-bottom:8px;
		border-bottom:1px solid $basic_color01;
		strong {
			padding-right:8px;
			font-size:20px;
			font-weight:700;
		}
	}
	.pass_info {
		display:flex;
		flex-direction:column;
		gap:12px 0;
		padding:24px 0;
		border-bottom:1px solid $line_color02;
		dl {
			display:flex;
			gap:0 16px;
			dt {
				width:56px;
				font-size:14px;
				color:$basic_color03;
			}
		}
	}
	p {
		padding-top:24px;
		font-size:14px;
		color:$font_color03;
		+p {
			padding-top:8px;
		}
	}
	.bank_stamp {
		display:flex;
		justify-content:center;
		align-items:center;
		gap:0 8px;
		padding-top:32px;
		img {
			width:40px;
			height:40px;
			background:$line_color02;
		}
	}
}
.pbank_tel {
	padding-top:12px;
}
/* 보이스피싱 */
.voice {
	.mui_text_lists.dot {
		ul {
			display:flex;
			flex-direction:column;
			gap:8px 0;
		}
	}
	p {
		&.txt {
			font-size:16px;
			color:$font_color01;
			text-align:center;
		}
	}
}

/* 토스,금융 인증서 */
.cert_wrap {
	.mui_text {
		text-align:center;
		.default {
			color:$font_color03;
		}
	}
	.btn_round {
		margin:32px auto 0;
	}
	.mui_title {
		padding:36px 0 24px 0;
		text-align:center;
	}
	.img_wrap {
		margin:36px auto 24px;
		width:100px;
		height:100px;
	}
	.btn_wrap {
		a {
			display:block;
			margin:36px auto 0;
			width:100px;
			height:100px;
			background:red;
		}
	}
}

/* list타입 텍스트 */
.list_txt {
	display:flex;
	flex-direction:column;
	gap:4px 0;
	margin-top:12px;
	font-size:14px;
	color:$font_color03;
	&:first-child {
		margin-top:16px;
	}
	strong {
		color:$font_color02;
	}
	.hyphhen {
		li {
			padding-left:11px;
		}
	}
}
.user_datalist{
	.data_list{
		margin-top: 16px;
		border-top: 1px solid$line_color03;	
		border-bottom: 1px solid$line_color03;
		padding: 16px 0;
		dl{
			display: flex;
			dt, dd{
				flex: 1;
				font-size: 14px;
			}
			dt{
				color:$basic_color04;
			}
			dd{
				color:$font_color02;
				text-align: right;
			}
			& ~ dl{
				margin-top: 16px;
			}
		}
	}
}
.ars_mobile{
	.top{
		text-align: center;
		padding: 36px 0 0;
		img{
			width: 100px;
		}
		.text{
			font-size: 24px;
			color:$font_color01;
			font-weight: 700;
			margin-top: 24px;
		}
	}
	.text{
		margin-top: 8px;
		font-size: 14px;
		color:$font_color03;
	}
	.support{
		margin-top: 16px;
		a{
			display: inline-block;
			font-size: 14px;
			color:$font_color03;
			padding-right: 16px;
			position: relative;
			&::after{
				content: '';
				display: block;
				@include icon_svg(arrow-left, "#888", 16px);
				transform: rotate(180deg);
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
	.mui_select {
		border: 1px solid $line_color02;
		padding: 0 16px;
		border-radius: 8px;
		margin-top: 12px;
		&.arrow_hidden{
			.inset{
				&::after{
					display: none;
				}
			}
			
			margin: 0;
		}
		&::before{
			display: none;
		}
		.inset{
			height: 64px;	
		}
		.label{
			line-height: 64px;	
		}
		height: 64px;
	}
	.main_title{
		text-align: center;
		padding: 36px 0 40px;
		font-size: 24px;
		font-weight: 700;
		color: $font_color01;
	}
	.ars_number{
		font-size: 0;
		text-align: center;
		span{
			display: inline-block;
			width: 48px;
			height: 65px;
			line-height: 48px;
			font-size: 48px;
			font-weight: 700;
			border-bottom: 2px solid $line_color02;
			margin: 0 8px;
		}
	}
	.guide_inline{
		margin-top: 60px;
		font-size: 14px;
		color:$font_color03;
		em{
			color:$main_color01;
		}
		li ~ li{
			margin-top: 16px;
		}
		& ~ .mui_text {
			margin-top: 24px;
		}
	}
	.mui_button_custom.round-40{
		margin-top: 32px;
	}
	.smart_conf{
		text-align: center;
		margin-top: 16px;
		p{
			font-size: 13px;
			color:$font_color03;
		}
	}
	.num_write{
		display: flex;
		border: 1px solid $line_color03;
		border-radius: 8px;
		text-align: center;
		p{
			border-bottom: 1px solid $line_color03;
			background:$bg_color02;
			padding: 12px 0;
			font-size: 14px;
			color:$font_color01;
			em{
				color:$main_color01;
			}
		}
		.box{
			flex: 1;
			& ~ .box{
				border-left: 1px solid $line_color03;
			}
		}
		.input_box{
			display: block;
			padding: 12px 0 20px;
			font-size: 0;
			span{
				display: inline-block;
				width: 20px;
				height: 32px;
				vertical-align: top;
				& ~ span{
					margin-left: 8px;
				}
				&.mask{
					width: 12px;
					position: relative;
					&::after{
						content: '';
						display: block;
						width: 12px;
						height: 12px;
						background:$basic_color01;
						border-radius: 6px;
						position: absolute;
						top: 50%;
						left: 0;
						margin-top: -6px;
					}
				}
			}
			input{
				width: 20px;
				height: 32px;
				border: 0 none;
				border-bottom: 2px solid $line_color01;
				font-size: 18px;
				font-weight: 700;
				color:$font_color01;
			}
		}
	}
	.sec_guide{
		margin-top: 60px;
		.mui_text_lists{
			margin-top: 16px;
			&.dot > ul > li{
				font-size: 14px;
				color:$font_color03;
				& ~ li{
					margin-top: 12px;
				}
			}
		}
	}
}
.common_agreement{
	.mui_agree_check, .mui_agree_box {
		&  + .mui_text{
			margin-top: 24px;
		}		
	}
}
.agreefull_pop{
	.btn_pdf{
		position: absolute;
		top: 14px;
		right: 58px;
	}
}
.search_address{
	.mui_form_content{
		margin-top: 0;
	}
	.mui_result_ico.null{
		padding-top: 60px;
	}
	.mui_form{
		height: 77px;
	}
	.input_sec{
		position: relative;
		.mui_input{
			input{
				font-weight: 700;
				color:$font_color01;
			}
		}
		.search_btn{
			width: 48px;
			height: 48px;
			background: url($url_common+"ico_search.svg") no-repeat center;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	.guide_sec{
		margin: 60px 0;
		.main_title{
      font-size: 16px;
      font-weight: 700;
      color:$font_color01;
      padding-left: 24px;
      position: relative;
      &::before{
        content: '';
        display: block;
        @include icon_svg_tooltip(black2, 20px);
        position: absolute;
        top: 0;
        left: 0;
      }
		}
		.box{
			margin-top: 16px;
			color: $font_color03;
			font-size: 14px;
			.example{
				display: block;
				color:$main_color01;
			}
		}
	}
	.member_lists{
		margin-top: 24px;
		.box{
			display: block;
			padding: 16px 0;
			border-bottom: 1px solid $line_color03;
			.type1{
				font-size: 16px;
				color:$font_color01;
			}
			.type2{
				font-size: 14px;
				color:$font_color03;
				margin-top: 12px;
			}
		}
	}
	.addr_lists{
		margin-top: 24px;
		.box{
			padding: 16px 0;
			display: block;
			& ~ .box{
				border-top: 1px solid $line_color03;
			}
			.post{
				display: block;
				font-size: 16px;
				color:$main_color01;
				padding-bottom: 12px;
			}
			p{
				font-size: 14px;
				color:$font_color02;
			}
		}
	}
	.last_addr_write{
		margin-top: 60px;
		dt{
			font-size: 14px;
			color:$font_color02;
		}
		dd{
			font-size: 16px;
			color:$font_color01;
			font-weight: 700;
			margin-top: 8px;
		}
		.mui_input{
			margin-top: 16px;
		}
	}
}

.suitability{
	.img{
		text-align: center;
		padding-bottom: 40px;
		img{
			width: 160px;
			height: 160px;
		}
	}
	.txt1, .txt2{
		font-size: 14px;
		color:$font_color03;
		margin-top: 16px;
		em{
			color:$main_color01;
		}
	}
	&_step{
		.mui_radio_group{
			margin-top: 24px;
			.mui_radio{
				display: block;
				margin: 0;
				& ~ .mui_radio{
					margin-top: 16px;
				}
			}
		}
		.mui_form{
			& + .mui_text.warning{
				margin-top: 24px;
			}
		}
		.step_nav{
			padding-bottom: 40px;
			ul{
				display: flex;
				.step{
					& ~ .step{
						margin-left: 4px;
					}
					&.mui_active{
						span{
							border-color:$line_color01;
							background:$basic_color01;
							color:$font_color06;
						}
					}
				} 
				span{
					display: inline-flex;
					width: 24px;
					height: 24px;
					border: 1px solid $line_color02;
					color:$font_color03;
					font-size: 12px;
					border-radius: 12px;
					justify-content: center;
					align-items: center;
				}
			}
		}
		p.type1{
			font-size: 14px;
			margin-top: 8px;
			color:$font_color03;
			em{
				color:$main_color01;
			}
		}
		p.type2{
			font-size: 14px;
			margin-top: 16px;
			color:$font_color01;
			text-align: center;
		}
		.mui_radio_group + .mui_input{
			margin-top: 8px;
		}
		.confirm{
			text-align: right;
			margin-top: 24px;
			.txt1{
				font-size: 16px;
				color:$font_color02;
				font-weight: 700;
			}
			.txt2{
				color:$font_color03;
				font-size: 14px;
				margin-top: 8px;
			}
		}
		.box{
			margin-top: 40px;
			border: 1px solid $line_color03;
			border-radius: 20px;
			padding: 24px;
			box-shadow: 0 4px 8px rgba(0,0,0,.04);
			.img{
				text-align: center;
				padding-bottom: 16px;
				img{
					width: 120px;
					height: 120px;
				}
			}
		}
		.mui_text_lists {
			margin-top: 24px;
		}
	}
}
.weboce{
	.config{
		padding-top: 60px;
		text-align: center;
	}
	.text{
		font-size: 14px;
		color:$font_color03;
		margin-top: 16px;
	}
	.config_link{
		display: block;
		width: 120px;
		height: 120px;
		margin: 32px auto 0;
	}
}


.webauc{
	position: relative;
	.mui_more{
		margin-top: 20px;
	}
	.error_msg{
		color:$font_color08;
	}
	.confirm_msg{
		color: $font_color07;
	}
	.sms_title{
		padding-left: 36px;
		background: url($url_common+"ico_sms.svg") no-repeat left center;
		background-size: 28px;
		line-height: 28px;
	}
	.sms_msg_box{
		border-radius: 0 26px 26px 26px;
		padding: 20px;
		color:$font_color02;
		background:$bg_color02;
		font-size: 14px;
	}
	.bookmark_wrap{
		margin-top: 16px;
		display: flex;
		button{
			text-align: center;
			font-size: 13px;
			flex: 1;
			color:$font_color01;
			background:$bg_color01;
			border-radius: 8px;
			height: 40px;
			& ~ button{
				margin-left: 8px;
			}
			span{
				vertical-align: middle;
			}
			&::before{
				vertical-align: -5px;
				content: '';
				display: inline-flex;
				width: 20px;
				height: 20px;
				margin-right: 4px;
			}
		}
		.bookmark{
			&::before{
				background: url($url_common+"ico_star.svg") no-repeat right top;
			}
		}
		.sms{
			&::before{
				background: url($url_common+"ico_sms.svg") no-repeat right top;
			}
		}
	}
	.table_list{
		margin-top: 16px;
		.mui_datatable{
			& ~ .mui_datatable{
				margin-top: 24px;
			}
		}
	}
	.top_fixed{
		position: absolute;
		top: 24px;
		right: 24px;
	}
	.mui_radio_group.button_type + .mui_datasort{
		margin-top: 24px;
	}
	.acc_data{
		margin-top: 16px;
		border: 1px solid #e8e8e8;
		border-radius: 8px;
		padding: 24px;
		input{
			font-weight: 700;
			color:$font_color01;
		}
	}
	.acc_data2{
		margin-top: 16px;
	}
	.form_val{
		line-height: 28px;
	}
	.inner_subfix {
		input, .subfix{
			font-weight: 700;
		}
	}
	.money_support{
		text-align: right;
		margin-top: 12px;
		font-size: 13px;
		color:$main_color01;
		& + .mui_button_custom.white-round-24{
			position: absolute;
			bottom: -2px;
			left: 0;
		}
	}
	.mui_title{
		&.min_title{
			.title {
				&.lv4{
					margin-bottom: 8px;
				}				
			}		
		}
		.title {
			&.lv2{
				margin-bottom: 24px;
			}
			&.lv4{
				margin-bottom: 16px;
			}
			
		}
	}
	.qrcode{
		margin-top: 32px;
		text-align: center;
		img{
			width: 200px;
			height: 200px;
		}
	}
	.plus_data{
		.acc_header{
			padding: 16px 24px;
			background:$bg_color02;
			.mui_acc_button{
				top: 26px;
				right: 24px;
			}
		}
		margin: 0 -24px;
		.mui_acc_content{
			padding: 0 24px;
		}
	}
	.sort_big{
		.sort_data{
			font-size: 16px;
			font-weight: 700;
		}
	}
	.data_results{
		.mui_result.line{
			& ~ .line{
				border-top: 0 none;
			}
		}
	}
	.inner_closebtn{
		position: relative;
		.mui_card .inset{
			padding-top: 56px;
		}
		.close_btn{
			width: 20px;
			height: 20px;
			background: url($url_common+"ico_close.svg") no-repeat center;
			position: absolute;
			top: 20px;
			right: 20px;
			z-index: 2;
		}
	}
	.inset_date{
		border-top: 1px solid $line_color03;
		margin-top: 16px;
		& ~ .inset_date{
			border-top: 0 none;
			margin-top: 0;
		}
		.set_date{
			padding: 16px 0;
			span{
				display: inline-block;
				height: 22px;
				line-height: 22px;
				border-radius: 11px;
				background:$basic_color04;
				color:$bg_color03;
				padding: 0 8px;
				font-size: 13px;
			}
		}
		.mui_result.line{
			border-top: 0 none;
			padding-top: 0;
		}
	}
	.total_data{
		font-size: 16px;
		font-weight: 700;
		color:$font_color03;
		padding-right: 20px;
		position: relative;
		display: inline-block;
		&::after{
			content: '';
			display: block;
			@include icon_svg(arrow-left, "#666", 20px);
			transform: rotate(180deg);
			position: absolute;
			top: 0;
			right: 0;
		}
		& > span{
			display: inline-flex;
			position: relative;
			& ~ span{
				margin-left: 8px;
				padding-left: 9px;
				&::after{
					content: '';
					position: absolute;
					left: 0;
					top: 3px;
					background:$line_color02;
					width: 1px;
					height: 14px;
				}
			}
		}
	}
	.grey_box_result{
		background:$bg_color02;
		border-radius: 20px;
		padding: 20px;
		position: relative;
		margin-bottom: 57px;
		.dot{
			position: absolute;
			bottom: -33px;
			left: 50%;
			margin-left: -4px;
			width: 8px;
			height: 8px;
			border-radius: 4px;
			background:$bg_color02;
			&::before, &::after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: -14px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				background:$bg_color02;
			}
			&::after{
				top: 14px;
			}
		}
		.money{
			display: flex;
			justify-content: space-between;
			align-items: end;
			margin-top: 24px;
			.name{
				font-size: 13px;
				color:$font_color03;
			}
			.number{
				font-size: 22px;
				font-weight: 700;
				color:$main_color01;
				span{
					font-weight: 400;
				}
			}
		}
		.acc_name{
			font-size: 16px;
			font-weight: 700;
			color:$font_color01;
		}
		.acc_number{
			margin-top: 4px;
			font-size: 14px;
			color:$basic_color04;
		}	
	}
}

/* 제증명 */
.webcer {
	.bg_box {
		margin-top:16px;
		padding:20px;
		background:$bg_color02;
		border-radius:12px;
	}
	.mui_text_lists {
		&.dot > ul > li {
			color:$font_color03;
			&::before {
				background:$basic_color03;
			}
		}
		.txt {
			font-size:14px;
		}
	}
	.step_wrap {
		padding-top:40px;
		.step {
			align-items:flex-start;
			flex-direction:column;
			li {
				padding:16px 0 0 0;
				&:last-child .num::before {
					display:none;
				}
			}
			.num {
				position:relative;
				display:flex;
				justify-content:center;
				align-items:center;
				width:48px;
				height:48px;
				font-size:18px;
				font-weight:700;
				background:$bg_color01;
				border-radius:50%;
				&::before {
					content:"";
					position:absolute;
					top:48px;
					left:50%;
					height:16px;
					transform:translateX(-50%);
					border:1px dashed $basic_color05;
				}
			}
			.txt {
				padding-left:12px;
				font-size:14;
				color:$basic_color03;
			}
		}
	}
	.info_wrap {
		padding-top:12px;
		.mui_text {
			&.warning+.warning {
				margin-top:12px;
			}
		}
	}
	.txt_etc {
		padding-top:12px;
		font-size:13px;
		color:$basic_color04;
		text-align:right;
		span {
			display:inline-block;
			padding-left:8px;
			color:$font_color01;
		}
	}
	.btn_wrap {
		display:flex;
		justify-content:center;
		align-items:center;
		padding-top:32px;
		button {
			position:relative;
			padding-right:12px;
			font-size:13px;
			color:$basic_color04;
			&:last-child {
				padding-left:12px;
				padding-right:0;
			}
			&:last-child::before {
				content:"";
				position:absolute;
				top:50%;
				left:0;
				width:1px;
				height:12px;
				background:$line_color02;
				transform:translateY(-50%);
			}
			em {
				color:$main_color01;
			}
		}
	}
	.form_normal {
		&::before {
			background: var(--line_color02);
		}
	}
	.check_card {
		margin-top:12px;
		padding:20px 20px 12px 20px;
		border:1px solid var(--line_color03);
		border-radius:20px;
		box-shadow:0 4px 8px rgba(0, 0, 0, 0.04);
		.all_check{
			.mui_checkbox {
				display:block;
				margin-right:0;
				label {
					padding-left:0;
					padding-right:32px;
					
					&::before {
						left:initial;
						right:0;
					}
					&::after {
						left:initial;
						right:4px;
					}
				}
			}
		}
		
		.selectlist_account {
			border-top:1px solid $line_color03;
			padding-top: 8px;
			margin-top: 16px;
			.mui_checkbox{
				display: block;	
				margin: 0;
				input:checked + label{
					&::after{
						content: '';
						display: block;
						@include icon_svg(check, "#df6311", 24px);
						position: absolute;
						top: 50%;
						right: 0;
						left: auto;
						margin-top: -12px;
					}
				}
				label{
					padding-left: 0;
					&::before{
						display: none;
					}
					&::after{
						content: '';
						display: block;
						@include icon_svg(check, "#ccc", 24px);
						position: absolute;
						top: 50%;
						right: 0;
						margin-top: -12px;
					}
				}
			}
			.lists {
				padding: 8px 0;
				strong{
					display: block;
					font-size: 16px;
					color:$font_color01;
				}
				.acc_num{
					display: block;
					margin-top: 4px;
					font-size: 13px;
					color:$font_color03;
				}
				.date{
					display: block;
					margin-top: 4px;
					font-size: 13px;
					color:$font_color03;
				}
				.acc_aka{
					display: inline-flex;
					position: relative;
					margin-left: 8px;
					padding-left: 9px;
					&::after{
						content: '';
						display: block;
						width: 1px;
						height: 10px;
						background:$basic_color05;
						position: absolute;
						top: 5px;
						left: 0;
					}
				}
			}
		}
	}
	.sub_txt_date{
		font-size: 14px;
		color: $font_color03;
		margin-top: 8px;
	}
	.num_title{
		margin-top: 24px;
		font-size: 14px;
		font-weight: 700;
		color:$font_color01;
		em{
			color:$main_color01;
		}
		& + .mui_result {
			margin-top: 12px;
		}
	}
	.inset_date{
		border-top: 1px solid $line_color03;
		margin-top: 16px;
		& ~ .inset_date{
			border-top: 0 none;
			margin-top: 0;
		}
		.set_date{
			padding: 16px 0;
			span{
				display: inline-block;
				height: 22px;
				line-height: 22px;
				border-radius: 11px;
				background:$basic_color04;
				color:$bg_color03;
				padding: 0 8px;
				font-size: 13px;
			}
		}
		.mui_result.line{
			border-top: 0 none;
			padding-top: 0;
		}
	}
}
/* 고객센터 */
.map_sec{
	.mui_modal_content{
		padding: 0 !important;
		height: calc(100% - 56px);
		
		.map{
			background:#aaa;
			height: 100%;
		}
		.branchs{
			position: fixed;
			left: 24px;
			bottom: 24px;
			right: 24px;
		}
	}
}
.webuif{
	&.events{
		.uif_total{
			border-bottom: 0 none;
			padding-bottom: 12px;
		}
	}
	.event_box{
		& ~ .event_box{
			margin-top: 12px;
		}
		& + .mui_more{
			margin-top: 12px;
		}
		border: 1px solid $line_color03;
		border-radius: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
		background:$bg_color03;
		overflow: hidden;
		.data{
			display: block;
			padding: 16px 20px;
			span{
				display: block;
				&.title{
					color:$font_color01;
					font-size: 16px;
					font-weight: 700;
				}
				&.date{
					font-size: 13px;
					color:$basic_color04;
					margin-top: 4px;
				}
			}
		}
	}
	.uif_total{
		color:$font_color03;
		font-size: 14px;
		font-weight: 700;
		padding-bottom: 12px;
		border-bottom: 1px solid $line_color01;
		em{
			color:$main_color01;
		}
	}
	.news_title{
		padding-bottom: 16px;
		border-bottom: 1px solid $line_color03;
		.tag{
			display: inline-block;
			margin-bottom: 12px;
			height: 20px;
			line-height: 20px;
			padding: 0 8px;
			font-size: 13px;
			color:$font_color06;
			background:$font_color07;
			border-radius: 10px;
			&.disabled{
				background:$bg_color01;
				color:$basic_color04;
			}
		}
		.title{
			font-size: 20px;
			color:$font_color01;
			font-weight: 700;
		}
		.date{
			margin-top: 8px;
			color:$font_color03;
		}
	}
	.news_cont{
		padding-top: 24px;
		color:$font_color02;
		font-size: 15px;
	}
	.news_list{
		border-bottom: 1px solid $line_color03;
		& + .mui_more{
			margin-top: 12px;
		}
		.title{
			font-size: 16px;
			color:$font_color01;
		}
		.date{
			margin-top: 4px;
			color:$basic_color04;
		}
		a{
			display: block;
			padding: 16px 0;
		}
	}
	.branchs{
		border: 1px solid $line_color03;
		border-radius: 20px;
		padding: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
		background:$bg_color03;
		& ~ .branchs{
			margin-top: 16px;
		}
		& + .mui_more{
			margin-top: 12px;
		}
		.logo{
			text-align: left;
			padding-bottom: 16px;
			img{
				width: auto;
				height: 14px;
			}
		}
		.title{
			font-size: 16px;
			font-weight: 700;
			color:$font_color01;
		}
		.details{
			margin-top: 16px;
			.data{
				display: flex;
				
				.title{
					color:$basic_color04;
					min-width: 62px;
					font-size: 13px;
				}
				.text{
					font-size: 13px;
					color:$font_color01;
				}
				& ~ .data{
					margin-top: 4px;
				}	
			}
		}
	}
	.callcenter{
		div.list{
			background:$line_color04;
			border-color: $line_color04;
			box-shadow: none;
			.title, .tel {
				color:$font_color03;
			}
		}
		.list{
			border: 1px solid $line_color03;
			border-radius: 20px;
			padding: 20px 20px 20px 72px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
			position: relative;
			display: block;
			min-height: 40px;
			& ~ .list{
				margin-top: 16px;
			}
			.img{
				display: block;
				position: absolute;
				top: 50%;
				left: 20px;
				margin-top: -20px;
				width: 40px;
				height: 40px;
				background:$line_color03;
			}
			.txts{
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.title {
				color:$font_color01;
				font-size: 16px;
				font-weight: 700;
				width: 100%;
			}
			.tel {
				font-size: 13px;
				margin-top: 4px;
				color:$basic_color04;
				width: 100%;
			}
		}
		.mui_text_lists {
			margin-top: 24px;
		}
	}
}

/* 보안/인증 */
.weboce {
	.mui_text_lists.dot {
		padding-top:16px;
		ul {
			display:flex;
			flex-direction:column;
			gap:8px 0;
		}
		li {
			font-size:14px;
			color:$basic_color03;
		}
	}
}

.main_pop{
	.pop{
		padding-top: 24px;
	}
	.bottom{
		display: flex;
		justify-content:space-between;
		padding:20px 0;
		button{
			font-size: 16px;
			color: #333;
		}
	}
}