@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_accordion{
  .acc_lists{
    position: relative;
    .acc_header{
      position: relative;
      border-bottom: 1px solid $line_color03;
      padding: 24px 0 12px;
      font-size: 16px;
      color:$font_color01;
      
    }
    .mui_acc_content{
      padding: 16px;
    }
    .mui_acc_button{
      position: absolute;
      top: 24px;
      right: 0;
      font-size: 0;
      color: transparent;
      @include icon_svg(arrow-down, "#111", 20px);
    }
    &.mui_open{
      .mui_acc_button{
        transform: rotate(180deg);
        top: 22px;
      }
    }
  }
}