.mui_agree_check{
  .chk_btn{
    padding-left: 20px;
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    .status{
      &_1{
        display: none;
      }
    }
    &.mui_active{
      &::before{
        border-color: #000;
      }
      .status{
        &_1{
          display: inline-block;
        }
        &_2{
          display: none;
        }
      }
    }
    &::before{
      content: '';
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(45deg);
    }
    &::after{
      content: '';
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #ccc;
      border-right: 2px solid #ccc;
      position: absolute;
      top: 3px;
      right: 2px;
      transform: rotate(-45deg);
    }
  }
  & > .mui_agree_check{
    padding: 10px 0 0 30px;
    .chk_btn{
      font-size: 16px;
      
    }
  }
}