@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui{
  &_button{
    background-color: $main_color01;
    color: $font_color06;
    padding: 0 16px;
    border-radius: 8px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    &.select_type{
      display: block;
      border: 1px solid #aaa;
      border-radius: 4px;
      width: 100%;
      text-align: left;
      background: none;
      color: #000;
      &::before{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        position: absolute;
        top: 5px;
        right: 10px;
        transform: rotate(45deg);
      }
    }
    &_wrap{
      display: flex;
      justify-content: baseline;
    }
    & ~ .mui_button{
      margin-left: 8px;
    }
  }
  &_large{
    height: 56px;
    font-weight: 700;
    font-size: 18px;
  }
  &_medium{
    height: 40px;
    font-size: 16px;
  }
  &_small{
    height: 30px;
  }
  &_primary{
    background-color: $main_color01;
  }
  &_grey{
    background-color:$font_color05;
    color:$font_color03;
  }
  &_default{
    background-color:#5C627C;
  }
  &_white{
    background-color:$bg_color03;
    color:$font_color01;
  }
  
  
}
