@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui{
  &_button{
    padding: 0 16px;
    border-radius: 8px;
    position: relative;
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: center;
    outline: 0;
    &.select_type{
      display: block;
      border: 1px solid #aaa;
      border-radius: 4px;
      width: 100%;
      text-align: left;
      background: none;
      color: #000;
      &::before{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        position: absolute;
        top: 5px;
        right: 10px;
        transform: rotate(45deg);
      }
    }
    &_wrap{
      position:fixed;
      bottom:0;
      display: flex;
      justify-content: baseline;
      margin:0 -24px;
      padding:40px 16px 16px 16px;
      width:100%;
      background:$bg_color03;
    }
    & ~ .mui_button{
      margin-left: 8px;
    }
  }
  &_large{
    height: 52px;
    font-weight: 700;
    font-size: 18px;
  }
  &_medium{
    height: 40px;
    font-size: 16px;
  }
  &_small{
    height: 30px;
  }
  &_primary{
    background-color: $main_color01;
    color:$font_color06;
    &:disabled{
      background: $basic_color05;
      color:$font_color03;
    }
  }
  &_grey{
    background-color:$font_color05;
    color:$font_color03;
  }
  &_default{
    background-color:#5C627C;
    color:$font_color06;
  }
  &_white{
    background-color:$bg_color03;
    color:$main_color01;
    border: 1px solid $line_color02;
  }
  &_select{
    display: block;
    width: 100%;
    text-align: left;
    height: 48px;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    .inset{
      display: block;
      position: relative;
      height: 48px;
      &::after{
        content: '';
        @include icon_svg(arrow-down, "#111", 20px);
        position: absolute;
        top: 50%;
        margin-top: -10px;
        right: 0;
      }
    }
    .label{
      font-weight: 700;
      color:$font_color01;
      line-height: 48px;
    }
    .placeholder{
      display: none;
      color:$basic_color04;
      line-height: 48px;
      &:first-child{
        display: block;
      }
    }
    &:disabled{
      .placeholder, .label{
        color:$font_color05;
      }
      color:$font_color05;
      &::before{
        background: $font_color05 !important;
      }
    }
    &::before{
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $line_color02;
      
    }

    &:focus{
      &::before{
        height: 2px;
        background: $line_color01;
        z-index: 2;
      }
    }
  }
  &_more{
    border-radius: 0;
    padding: 12px 0;
    span{
      display: inline-block;
      position: relative;
      height: 16px;
      padding-right: 16px;
      color: $basic_color04;
      &::after{
        content: '';
        display: block;
        @include icon_svg(arrow-down, "#888", 16px);
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  &_link_text{
		margin-top: 60px;
		a{
			display: block;
			padding: 20px 36px 20px 0;
			position: relative;
			border-bottom: 1px solid $line_color03;
			&::after{
				content: '';
				display: block;
				@include icon_svg(arrow-left, "#ccc", 20px);
				transform: rotate(180deg);
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -10px;
			}
			span{
				display: block;
				font-size: 14px;
				color:$font_color02;
			}
		}
	}
}
