caption {
  font-size: 0;
  width: 0;
  height: 0;
}
table, th, td{
  border-collapse: collapse;
}
.mui_datatable{
  table{
    width: 100%;
  }
  th{
    background-color: #ccc;
    color: #333;
  }
  th, td{
    border: 1px solid #000;
  }
}