@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_result{
  padding: 24px;
  dl{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    dt{
      color:$font_color03;
    }
    dd{
      color:$font_color02;
    }
    ~ dl{
      margin-top: 24px;
    }
  }
}