@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_result{
  padding: 24px 0;
  em{
    color:$main_color01;
  }
  & + .mui_text {
    margin-top: 12px;
  }
  &.line{
    border-top: 1px solid $line_color03;
    border-bottom: 1px solid $line_color03;
    padding: 16px 0;
    dl{
      & ~ dl{
        margin-top: 16px;
      }
      & ~ .inner_title{
        margin-top: 16px;
      }
    }
    p.inner_title{
      font-size: 14px;
      color:$font_color01;
      font-weight: 700;
      & ~ dl{
        margin-top: 16px;
      }
    }
    strong{
      color:$font_color01;
      font-weight: 700;
    }
  }
  dl{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    dt{
      color:$basic_color04;
    }
    dd{
      color:$font_color02;
      text-align: right;
    }
    ~ dl{
      margin-top: 24px;
    }
  }
  &_ico{
		padding-top: 60px;
		text-align: center;
    &.null{
      padding-top: 36px;
      .main_txt{
        color:$font_color02;
        font-size: 16px;
        margin-top: 16px;
        font-weight: 400;
      }
      .sub_txt{
        color:$font_color03;
        font-size: 14px;
        margin-top: 0;
        font-weight: 400;
      }
    }
		.icon_img{
			width: 64px;
			height: 64px;
			margin: 0 auto;
			img{
				width: 64px;
				height: 64px;
			}
		}
		.main_txt{
			color:$font_color01;
			margin-top: 24px;
			font-weight: 700;
			font-size: 24px;
		}
		.sub_txt{
			color:$font_color03;
			margin-top: 16px;
			font-size: 14px;
		}
	}
}