@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_tabs{
  .mui_tab_nav{
    display: flex;
    padding: 0 24px;
    background: $bg_color03;
    .nav_list{
      flex: 1;
      text-align: center;
      button, a{
        display: block;
        position: relative;
        padding: 14px 0 17px;
        color: $font_color04;
        font-size: 16px;
        width: 100%;
      }
      &.mui_active{
        button, a{
          color: $font_color01;
          &::after{
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: $line_color01;
            width: 100%;
          }
        }
      }
    }
  }
  .tab_contents{
    .tab_pane{
      display: none;
      padding: 20px;
      &.mui_active{
        display: block;
      }
    }
  }
}