.mui_tabs{
  .mui_tab_nav{
    display: flex;
    .nav_list{
      button, a{
        display: block;
        padding: 10px;
        color: #000;
        font-size: 14px;
      }
      &.mui_active{
        background: #000;
        button, a{
          color: #fff;
        }
      }
    }
    border-bottom: 1px solid #000;
  }
  .tab_contents{
    .tab_pane{
      display: none;
      padding: 20px;
      &.mui_active{
        display: block;
      }
    }
  }
}