@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_tag{
    display: inline-block;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 14px;
    background-color: chocolate;
    color: #fff;
}