@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_text_lists{
    li{
        position: relative;
    }
    &.dot{
        & > ul > li{
            padding-left:9px;
            &::before{
                content: '';
                display: block;
                width: 3px;
                height: 3px;
                border-radius: 1px;
                background: #ccc;
                position: absolute;
                top: 7px;
                left: 0;
            }
        }
    }
    &.hyphhen{
        & > ul > li{
            &::before{
                content: '-';
                display: block;
                position: absolute;
                top: 2px;
                left: 0;
            }
        }
    }
    &.guide{
        & > ul > li{
            font-size: 14px;
            color:$font_color03;
            padding-left: 9px;
            & ~ li{
                margin-top: 12px;
            }
            &::before{
                content: '';
                display: block;
                width: 3px;
                height: 3px;
                border-radius: 2px;
                background:$basic_color03;
                position: absolute;
                top: 5px;
                left: 0;
            }
        }
    }
}