@import "../../asset/scss/common/mixins";
@import "../../asset/scss/common/varialbles";

.mui_form_list{
  & ~ .mui_form_list{
    margin-top: 32px;
  }
  .mui_form_content{
    margin-top: 8px;
    .mui_phone{
      .mui_button{
        & + .mui_input{
          margin-top: 0;
        }
      }
    }
    .mui_text {
      margin-top: 24px;
    }
    & > .mui_button_custom,
    & > .mui_checkbox {
      margin-top: 12px;
    }
  }
  .mui_input{
    & + .mui_input{
      margin-top: 12px;
    }
  }
  .mui_button{
    & + .mui_input, & + .mui_inputbtn{
      margin-top: 12px;
    }
  }
  .mui_radio_group{
    padding-top: 4px;
    & + .mui_input{
      margin-top: 12px;
    }
    &.button_type{
      padding-top: 0;
    }
  }
}
.mui_form_value{
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color:$font_color01;
}
.msg_form{
  font-size: 12px;
  margin-top: 12px;
  &.msg_error{
    color:$main_color01;
  }
}
.mui_form_head{
  font-size: 14px;
  color:$font_color02;
  .mui_tooltip_wrap{
    position: relative;
    top: -1px;
  }
}
.form_error{
  .mui_input::after, .mui_select::before{
    height: 2px;
    background:$font_color08;
  }
}