extends ./docs/layout/base.pug

append global 
  - var title = "마크업 가이드"

block content
  
  //- div 컨텐츠
  iframe.content_frame#content_frame
  script.
    const { $ } = GCui.util;
    const data = {
      "마크업 가이드111":{
        "Button":["/docs/markup/button.html", "complete"],
        "icon":["/docs/markup/icon.html", "delete"],
        "Radio & checkbox":["/docs/markup/radio_check.html", "confirm"],
        "Step":["/docs/markup/step.html"],
        "Select":["/docs/markup/select.html"],
        "Label":["/docs/markup/label.html"],
        "Input":["/docs/markup/input.html"],
        "Textarea":["/docs/markup/textarea.html"],
        "Tabs":["/docs/markup/tabs.html"],
        "Accordion":["/docs/markup/accordion.html"],
        "Datepicker":["/docs/markup/datepicker.html"],
        "Modal":["/docs/markup/modal.html"],
        "Toggle":["/docs/markup/toggle.html"],
        "Slider":["/docs/markup/slider.html"],
      }
    };
    GCui.tree($('#treemenu'), {
      data: data,
      idName:'tree2',
      mainFrame:'#content_frame',
    })
